<section class="add-film">

    <div class="content-padded">

        <div class="upload-start">

            <div class="upload-select">

                <div class="select-game">

                    <div class="row">

                        <div class="col-md-12">

                            <div class="row">

                                <div class="titlebar col-md-12">

                                    <h3><i class="icon icon-upload"></i> Select the type of game you want to upload</h3>

                                </div>

                            </div>

                            <div class="row">

                                <div data-ng-click="launchUploaderInterface(GAME_TYPES.CONFERENCE.id)"
                                     data-ng-class="{active: team.hasActivePlayerInfo()}"
                                     class="select-boxes col-md-6">

                                    <div class="no-roster-warning" data-ng-if="!team.hasActivePlayerInfo()">
                                        You must have a roster to upload a regular game.
                                        <a id="add-missing-roster-cta" data-ng-click="returnToGameAlert()" data-ui-sref="Coach.Team.Roster">Add players to your roster.</a>
                                    </div>


                                    <button id="upload-regular-game-cta" type="button" data-ng-disabled="!team.hasActivePlayerInfo()">
                                        <div>
                                            <h1>Regular Game</h1>
                                            <h2>Includes: regular season, conference and non conference, and playoff games.</h2>
                                            <p>Unlimited games for sharing</p>
                                        </div>
                                        <i data-ng-if="team.hasActivePlayerInfo()" class="icon icon-upload"></i>
                                        <i data-ng-if="!team.hasActivePlayerInfo()" class="icon icon-warning"></i>

                                    </button>
                                </div>

                                <div class="select-boxes active col-md-6">

                                    <button type="button"
                                            data-ng-class="{active: team.hasActivePlayerInfo()}"
                                            data-ng-click="launchUploaderInterface(GAME_TYPES.SCOUTING.id)">

                                        <i class="icon icon-upload"></i>
                                        <div>
                                            <h1>Scouting/Scrimmage</h1>
                                            <h2>Includes: scouting, scrimmage, and practice games.</h2>
                                            <p>Unlimited games for sharing</p>
                                        </div>

                                    </button>

                                </div>

                            </div>

                        </div>

                    </div>

                    <breakdown-text data-ng-if="league.positionSetId" data-remaining-breakdowns="remainingBreakdowns" data-plan-name="activePlan.name"></breakdown-text>

                    <h3>Need Help?</h3>

                    <div class="help row">
                        <!--These link boxes are definite candidates for being turned into directives-->
                        <div class="col-md-4">

                            <a href="{{howToUpload}}" target="_blank">

                                <div class="link-box">

                                    <i class="icon icon-play-circle pull-left"></i>
                                    <div>
                                        <p>Watch how to upload</p>
                                        <p>a video to Krossover.</p>
                                    </div>

                                </div>

                            </a>

                        </div>

                        <div class="col-md-4">

                            <a href="{{commonIssues}}" target="_blank">

                                <div class="link-box">

                                    <i class="icon icon-book pull-left"></i>
                                    <div>
                                        <p>Read about common</p>
                                        <p>upload issues.</p>
                                    </div>

                                </div>

                            </a>

                        </div>

                        <div class="col-md-4">

                            <a href="{{moreQuestions}}" target="_blank">

                                <div class="link-box">

                                    <i class="icon icon-envelope pull-left"></i>
                                    <div>
                                        <p>More questions?</p>
                                        <p>Email support today.</p>
                                    </div>

                                </div>

                            </a>

                        </div>

                    </div>

                </div>

                <div data-ng-if="league.positionSetId" class="select-sidebar">

                    <div class="bar-plan">

                        <x-krossover-plan data-active-plan="activePlan" data-active-package="activePackage"></x-krossover-plan>

                    </div>

                </div>

            </div>

        </div>

    </div>


</section>

