<header>

    <div class="upload-progress">

        <button class="cancel-upload" data-ng-disabled="!$flow.isUploading()" data-ng-click="cancel()"><i class="icon-remove"></i> Cancel</button>
        <x-progressbar class="progressbar progress-striped" data-ng-class="{ active: $flow.isUploading() }" type="{{ complete ? 'success' : 'danger' }}" max="1" value="$flow.progress()"></x-progressbar>

    </div>

</header>


<div class="upload-status">

    <div class="uploading" data-ng-if="$flow.isUploading()">
        <h1>You’re uploading a regular game…</h1>
        <h2>Fill out the rest of the game information</h2>
    </div>

    <div class="error" data-ng-if="error">
        <h1>There was an error with your upload!</h1>
        <h2>Please try to submit your game again.</h2>
    </div>

    <div class="uploaded" data-ng-if="complete">
        <h1>Your upload is complete!</h1>
        <h2>Now your’re ready to submit your game to us.</h2>
    </div>

</div>

<div class="game-info-container">
<krossover-coach-game data-game="game" data-roster="roster"></krossover-coach-game>
</div>