@import (reference) "main.less";

.game-area-game-information {
    height: 100%;
    position: relative;

    .broken-down {
        position: absolute;
        left: 100px;
        top: 35px;
        z-index: 1;
        color: @brand-success;
        letter-spacing: normal;
    }
}