<div class="box-body plans-content">

    <div class="plan-first">
        <div class="plan-button"><x-button-add-new data-ng-click="addNewPlan()">Add new plan</x-button-add-new></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="3">Plan</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-hide="hasPlans">
                    <td colspan="3" class="plan-container">
                        No plans have been added to this team.
                    </td>
                </tr>
                <tr data-ng-repeat="plan in visiblePlans">
                    <td>
                        <p>{{ plan.name }}</p>
                        <p>Starts: {{ plan.startDate }}</p>
                        <p>Ends: {{ plan.endDate }}</p>
                    </td>
                    <td>
                        <p>{{ plan.maxRegularGames }} Regular Games</p>
                        <p>{{ plan.maxScoutingGames }} Scouting/Practice</p>
                    </td>
                    <td>{{ plan.maxTurnaroundTime - 12}}-{{ plan.maxTurnaroundTime }} hour Turnaround Time</td>
                </tr>
                <tr data-ng-hide="noVisiblePlans">
                    <td colspan="3" class="plan-options">
                        <a href><i class="icon-calendar"></i> View Archive</a>
                        <span class="pull-right">
                            <a href class="edit-plan" data-ng-click="editTeamPlan()"><i class="icon-edit"></i> Edit</a>
                            <a href><i class="icon-remove"></i> Remove</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div data-ng-hide="activePackageId >= 0" class="plan-button"><x-button-add-new data-ng-click="addNewPackage()">Add new package</x-button-add-new></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="3">Package</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-hide="activePackageId >= 0">
                    <td colspan="3" class="package-container">
                        No packages have been added to this team.
                    </td>
                </tr>
                <tr data-ng-show="activePackageId >= 0">
                    <td>
                        <p>Starts: {{activePackage.startDate | date : 'MMM d/yy' }}</p>
                        <p>Ends: {{activePackage.endDate | date : 'MMM d/yy' }}</p>
                    </td>
                    <td>
                        <p>{{activePackage.maxGamesPerPackage}} Games</p>
                    </td>
                    <td>
                        <p>{{activePackage.minTurnaroundTime}}-{{activePackage.maxTurnaroundTime}} Hour Turnaround Time</p>
                    </td>
                </tr>
                <tr data-ng-show="activePackageId >= 0">
                    <td colspan="3" class="plan-options">
                        <a href><i class="icon-calendar"></i> View Archive</a>
                        <span class="pull-right">
                            <a data-ng-click="editActivePackage()" href class="edit-plan"><i class="icon-edit"></i> Edit</a>
                            <a href data-ng-click="removeActivePackage()"><i class="icon-remove"></i> Remove</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>