.teams {
    .sidebar {
        overflow-x: visible;
        overflow-y: auto;

        .search-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .school-typeahead {

            .dropdown-menu {
                overflow-x: hidden;
                overflow-y: auto;
                max-height: 300px;

                li {
                    width: auto;
                }
            }

            krossover-spinner {
                position: fixed;
            }

            .spinner {
                position: relative;
                float: right;
                top: -30px;
                right: -280px;
                margin: 0;
                color: @brand-secondary;
            }
        }
    }

    .search-checkbox {
        margin-right: 5px;
    }

    .list {
        position: relative;

        #team-data {
            height: calc(~"100% - 120px");
            overflow-y: scroll;

            &.no-pagination {
                height: calc(~"100% - 39px");
            }
        }
        .footer {
            position: absolute;
            bottom: 0px;
            width: 100%;
        }

        td:first-child, th:first-child {
            padding-left: 50px;
        }

        td:last-child, th:last-child {
            padding-right: 50px;
        }
    }

    .hidden-cell {
        td, th {
            height: 0;
            line-height: 0;
            padding-top: 0;
            padding-bottom: 0;
            border-top: none;
            border-bottom: none;
            border-color: transparent;
            color: transparent;
            visibility: hidden;
        }
    }

    .fixed-header {
        margin-bottom: 0px;
    }

    .table-responsive {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .scroll-remaining-height {
        height: 100%;
        overflow-y: auto;
    }
}

@media only screen
and (max-height: @screen-height-sm) {
    .teams {
        .school-typeahead .dropdown-menu {
            max-height: 190px;
        }
    }
}
