.team {
    nav {
        margin-right: -25px;
    }
    krossover-admin-resource-save {
        button {
            margin-bottom: 20px;
        }
    }

    .form-info {

        .form-horizontal;
        width: 500px;

        select {

            width: 350px;
        }

        .select-school {

            display: inline-block;
        }
    }

    table.members {

        max-width: 400px;
    }

    .member {

        td {

            padding: 8px;
            border: none;
            text-transform: capitalize;
        }
    }

    .plans-content {
        background-color: white;
        border: thin solid @gray-border;
        padding: 20px;

        .current-history-select {
            display: flex;
            justify-content: center;
            align-self: center;

            h3 {
                margin-right: 10px;
                margin-left: 10px;

                &.active {
                    color: @brand-secondary;
                    padding-bottom: 2px;
                    border-bottom: 2px solid @brand-secondary;
                }
            }
        }

        .plan-first {
            margin-bottom: 20px;
        }

        .table-title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .edit-plan, .edit-package {
                margin-right: 10px;
                margin-left: 10px;
            }
        }

        table {

            tbody > tr>  td {
                height: initial;
                line-height: normal;
            }

            td.plan-options {
                text-align: left;
                height: 21px;
                line-height: 21px;
            }
        }

        .plan-button {
            .pull-right;
            width: 25%;
            min-width: 197px;
        }
    }

    .school-typeahead {

        // Angular UI Typeahead selector
        .dropdown-menu {

            // Specifically to display 10 list items
            max-height: 290px;
            overflow-y: auto;
        }
    }

    .team-conferences-container{
        max-width: 800px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px;
        background-color: white;
        border: thin solid @gray-border;
        margin-bottom: 40px;
        &>div{
            width: 100%;
        }
        .search-dropdown{
            width: 100%;
            button{
                width: 95%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .search-dropdown-menu{
                width: 95%;
            }
        }
    }
    .team-conferences-div{
        max-width: 800px;
        padding: 20px;
        background-color: white;
        border: thin solid @gray-border;
        margin: 20px 0;
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            select.form-control{
                width: 30%;
                margin: 0px 10px;
            }
            &.competition-level-wrapper{
                justify-content: flex-start;
                span.claimer{
                    font-size: 0.9em;
                }
            }
            .exchange-visible{
                color:@brand-success;
            }
            .exchange-hidden{
                color:@brand-danger;
            }
        }
        .exchange-info{
            font-weight:500;
        }
    }
    .team-conference-footer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px 0px;
        max-width: 800px;
        .saveBtn{
            height: 40px;
            overflow: hidden;
            margin: 0px 0px 0px 20px;
        }
    }
}
