<div class="box-body plans-content">
    <div class="current-history-select">
        <h3 ng-click="showCurrent = true" ng-class="{'active': showCurrent}">Current</h3>
        <h3 ng-click="showCurrent = false" ng-class="{'active': !showCurrent}">Purchase History</h3>
    </div>

    <div ng-show="showCurrent" class="plan-first">
        <div class="table-title">
            <h3>Plans</h3>
            <span ng-show="filteredPlans.length">
                <a href class="edit-plan" ng-click="editTeamPlan(filteredPlans[0].unfilteredId)"><i class="icon icon-edit"></i> Edit</a>
                <a href class="remove-plan" ng-click="removeActivePlan(filteredPlans[0].unfilteredId)"><i class="icon icon-remove"></i> Remove</a>
            </span>
            <button class="btn btn-default" ng-hide="filteredPlans.length" ng-click="addNewPlan()">
                <i class="icon icon-plus"></i> Add Plan
            </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Starts</th>
                    <th>Expires</th>
                    <th>Type</th>
                    <th>Breakdowns Per Season</th>
                    <th>Breakdowns Per Week</th>
                    <th>Turnaround Time</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-hide="filteredPlans.length || isSavingPlan">
                    <td colspan="6">
                        No plans have been added to this team.
                    </td>
                </tr>
                <tr ng-if="!isSavingPlan" ng-repeat="plan in filteredPlans">
                    <td>{{ plan.startDate | date : 'MMM d/yy' }}</td>
                    <td>{{ plan.endDate | date : 'MMM d/yy' }}</td>
                    <td>{{plan.name}}</td>
                    <td>{{plan.maxGamesPerPlan}}</td>
                    <td>{{plan.maxAnyGames}}, {{breakdownStats.planGamesRemaining}} left</td>
                    <td>{{minTurnaroundTimeLookup[plan.maxTurnaroundTime]}}-{{plan.maxTurnaroundTime}} hours</td>
                </tr>
                <tr ng-if="isSavingPlan">
                    <td colspan="6">
                        <krossover-spinner></krossover-spinner>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="showCurrent">
        <div class="table-title">
            <h3>Packages</h3>
            <span ng-show="filteredPackages.length">
                <a ng-click="editActivePackage(filteredPackages[0].unfilteredId)" href class="edit-package"><i class="icon icon-edit"></i> Edit</a>
                <a href class="remove-package" ng-click="removeActivePackage(filteredPackages[0].unfilteredId)"><i class="icon icon-remove"></i> Remove</a>
            </span>
            <button class="btn btn-default" ng-hide="filteredPackages.length" ng-click="addNewPackage()">
                <i class="icon icon-plus"></i> Add Package
            </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Starts</th>
                    <th>Expires</th>
                    <th>Total Breakdowns</th>
                    <th>Breakdowns Used</th>
                    <th>Turnaround Time</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-hide="filteredPackages.length || isSavingPackage">
                    <td colspan="5" class="package-container">
                        No packages have been added to this team.
                    </td>
                </tr>
                <tr ng-if="!isSavingPackage" ng-repeat="activePackage in filteredPackages">
                    <td>{{activePackage.startDate | date : 'MMM d/yy' }}</td>
                    <td>{{activePackage.endDate | date : 'MMM d/yy' }}</td>
                    <td>{{activePackage.maxGamesPerPackage}}</td>
                    <td>{{activePackage.maxGamesPerPackage - breakdownStats.packageGamesRemaining}}, {{breakdownStats.packageGamesRemaining}} left</td>
                    <td>{{minTurnaroundTimeLookup[activePackage.maxTurnaroundTime]}}-{{activePackage.maxTurnaroundTime}} hours</td>
                </tr>
                <tr ng-if="isSavingPackage">
                    <td colspan="5">
                        <krossover-spinner></krossover-spinner>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-hide="showCurrent">
        <h3>Plans</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Starts</th>
                    <th>Expires</th>
                    <th>Type</th>
                    <th>Turnaround Time</th>
                    <!--Hide until backend is ready <th>Price</th> -->
                </tr>
            </thead>
            <tbody>
                <tr ng-hide="team.teamPlans.length || isSavingPlan">
                    <td colspan="6">
                        No plans have been added to this team.
                    </td>
                </tr>
                <tr ng-if="!isSavingPlan" ng-repeat="plan in team.teamPlans">
                    <td>{{ plan.startDate | date : 'MMM d/yy' }}</td>
                    <td>{{ plan.endDate | date : 'MMM d/yy' }}</td>
                    <td>{{plan.name}}</td>
                    <td>{{minTurnaroundTimeLookup[plan.maxTurnaroundTime]}}-{{plan.maxTurnaroundTime}} hours</td>
                    <!--Hide until backend is ready <td>${{plan.price}}</td> -->
                </tr>
                <tr ng-if="isSavingPlan">
                    <td colspan="6">
                        <krossover-spinner></krossover-spinner>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-hide="showCurrent">
        <h3>Packages</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Starts</th>
                    <th>Expires</th>
                    <th>Breakdowns</th>
                    <th>Purchased Through</th>
                    <th>Turnaround Time</th>
                    <!--Hide until backend is ready <th>Price</th> -->
                </tr>
            </thead>
            <tbody>
                <tr ng-hide="team.teamPackages.length || isSavingPackage">
                    <td colspan="5" class="package-container">
                        No packages have been added to this team.
                    </td>
                </tr>
                <tr ng-if="!isSavingPackage" ng-repeat="activePackage in team.teamPackages">
                    <td>{{activePackage.startDate | date : 'MMM d/yy' }}</td>
                    <td>{{activePackage.endDate | date : 'MMM d/yy' }}</td>
                    <td>{{activePackage.maxGamesPerPackage}}</td>
                    <td>
                        <span ng-show="activePackage.orderId">Online</span>
                        <span ng-hide="activePackage.orderId">KO Employee</span>
                    </td>
                    <td>{{minTurnaroundTimeLookup[activePackage.maxTurnaroundTime]}}-{{activePackage.maxTurnaroundTime}} hours</td>
                    <!--Hide until backend is ready <td></td> -->
                </tr>
                <tr ng-if="isSavingPackage">
                    <td colspan="5">
                        <krossover-spinner></krossover-spinner>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
