@import (reference) "main.less";

.reels-player-area {

    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: @gray-lightest;

    * {

        min-height: 0px;
        min-width: 0px;
    }

    header {

        border-bottom: 1px solid @gray-border;
        background-color: @gray-lightest;
        padding: 15px;
        display: flex;
        height: 50px;

        h3 {
            color: @brand-blue;
            padding: 0;
            margin: 0 0 10px 0;

            span {
                font-weight: 400;
            }
        }

        .delete-reel {
            margin-left: auto;
            color: @brand-danger;
            cursor: pointer;
        }
    }

    .reel-body {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 15px;
        background: @gray-lightest;
        flex: 1;
    }

    // MOBILE
    @media only screen
    and (max-width: @screen-md-max) {
        .reel-body {
            margin: 0;
            padding: 0;
            .playBody{
                display: none;
            }
        }
    }

        .reel-edit-control-container {
            display: flex;
            flex: 0 0 50px;
            background-color: @gray-lightest;
        }

        .reel-edit-controls {

            padding: 15px;
            display: flex;
            flex: 1;
            justify-content: space-between;
            max-width: 420px;

            .save-edit {
                color: @brand-success;
            }
        }

        .main-highlight {
            background-color: @gray-lightest;
            display: flex;
            flex: 1;
            flex-direction: row;

            &.not-editable {
                @media only screen
                and (min-width: @screen-lg) {
                    padding-top: 15px;
                }
            }
        }

            video-player {
                margin-left: 15px;
                margin-right: 15px;
                width: 100%;
                position: relative;
            }
}
