<div class="experience">
    <form>
        <div class="form-block-full">
            <h4>My Teams
                <a href class="add-team" ng-click="openTeamModal()"><i class="icon icon-plus"></i> Add Team</a>
            </h4>
            <div class="no-teams" ng-hide="athlete.profile.teams.length">
                <h4>You currently have no teams on your profile.</h4>
                <p>Adding schools and club teams helps to highlight your level of playing experience.</p>
            </div>
            <div class="team-row" ng-show="athlete.profile.teams.length" ng-repeat="team in athlete.profile.teams">
                <sport-placeholder sport="getTeamSport(team.teamId)"></sport-placeholder>
                <div class="team-info">
                    <h4>
                        {{teams[team.teamId].name}} - {{getTeamSport(team.teamId).name}} -
                        <span class="position-list" ng-repeat="positionId in team.positionIds">
                            {{getPosition(team.teamId, positionId).name}}<span class="comma">,</span>
                        </span>
                    </h4>
                    <p>
                        {{team.startYear}}
                        <span ng-hide="team.endYear === team.startYear">&nbsp;-&nbsp;</span>
                        <span ng-show="team.endYear && team.endYear !== team.startYear">{{team.endYear}}</span>
                        <span ng-hide="team.endYear">Present</span>
                    </p>
                </div>
                <button class="btn btn-primary" ng-click="openTeamModal(team)">Edit</button>
                <button class="btn btn-default" ng-click="removeTeam(team)"><i class="icon icon-remove"></i> Remove</button>
            </div>
        </div>
        <div class="button-row">
            <button class="btn btn-primary" ng-click="saveBasicInfo()">Save</button>
            <a href class="btn-simple-cancel pull-right" ui-sref="Athlete.Profile({id: athlete.id})">Cancel</a>
        </div>
    </form>
</div>
