@import (reference) "main.less";

.games-raw-film {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 30px;

    video-player {
        margin: 0 auto;
    }

    telestrations {
        width: 100%;
        position: relative;
    }

    videogular.fullscreen {
        z-index: initial !important;
        position: initial;
    }
}

@media (min-width: 1280px) {
    .games-raw-film {
        video-player {
            width: 1008px;
            height: 567px;
        }
    }
}

@media (min-width: 992px) and (max-width: 1279px) {
    .games-raw-film {
        video-player {
            width: 870px;
            height: 489.375px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .games-raw-film {
        video-player {
            width: 728px;
            height: 409.5px;
        }
    }
}
