@import (reference) "main.less";

.games-raw-film {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 30px;

    .telestration-container {
        margin: 0 auto;
    }

    .telestrations {
        width: 100%;
        position: relative;
    }

    .fullscreen {
        &.video-player {
            width: 100%;
            height: 100%;
        }
    }

    videogular.fullscreen {
        z-index: initial !important;
        position: initial;
    }

}

@media (min-width: 1600px) {
    .games-raw-film {
        .video-player {
            width: 1570px;
            height: 883.125px;
        }
    }
}

@media (min-width: 1280px) and (max-width: 1599px) {
    .games-raw-film {
        .video-player {
            width: 1250px;
            height: 703.125px;
        }
    }
}

@media (min-width: 992px) and (max-width: 1279px) {
    .games-raw-film {
        .video-player {
            width: 962px;
            height: 541.125px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .games-raw-film {
        .video-player {
            width: 728px;
            height: 409.5px;
        }
    }
}
