<section class="associations">

    <aside class="sidebar" ng-init="sidebar = true" ui-toggle="sidebar">

        <x-button-add-new elem-id="add-new-association-cta">Add a new association</x-button-add-new>

        <h3>Search</h3>

        <form role="form" ng-submit="search(filter)">

            <div class="form-group">
                <input class="form-control" name="name" placeholder="Association Name" ng-model="filter.name" type="text">
            </div>

            <div class="form-group">
                <select class="form-control" name="level" ng-model="filter.level">
                    <option value="">Pick the school level</option>
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" name="status" ng-model="filter.status">
                    <option value="">Pick the amateur status</option>
                </select>
            </div>

            <div class="form-group">
                <input class="form-control" name="conference" placeholder="Conference" ng-model="filter.conference" type="text">
            </div>

            <button id="search-associations-cta" class="btn-search" ng-show="sidebar" ng-disabled="searching" type="submit"><i class="icon icon-search"></i></button>

        </form>

        <button class="btn-search" ng-hide="sidebar" ng-click="sidebar=!sidebar"><i class="icon icon-search"></i></button>

        <button class="btn-toggle-sidebar" ng-show="sidebar" ng-click="sidebar = false"><i class="icon icon-chevron-left"></i></button>
        <button class="btn-toggle-sidebar" ng-hide="sidebar" ng-click="sidebar = true"><i class="icon icon-chevron-right"></i></button>

    </aside>

    <div class="list" ng-show="associations.length">

        <div class="table-responsive">

            <table class="table table-striped table-hover">

                <tbody>

                    <tr ng-repeat="association in associations">

                        <td><a ui-sref="association-info({ id: association.id })">{{association.name}}</a></td>
                        <td>{{association.acronym}}</td>
                        <td>{{association.level}}</td>
                        <td>{{association.status}}</td>
                        <td>{{association.jurisdiction}}</td>

                    </tr>

                </tbody>

            </table>
        </div>

    </div>

    <data-results ng-hide="associations.length" query="query"></data-results>

</section>

