@import (reference) "main.less";

md-content {
    height: 100%; 
}

.athlete-edit-profile {
    height: 100%;
    
    .sidebar {
        .profile-picture {
            text-align: center;

            img,
            .placeholder-picture {
                border-color: @gray-border;
            }
        }

        .krossover-uploader {
            text-align: center;
            margin-top: 10px;
        }
    }

    form {

        .name-box {
            width: 300px;
            display: inline-block;
            margin-right: 20px;
        }
    }
}
