.allocation-settings {
    height: 100%;

    .sport-select-container, .week-select-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        select {
            width: 220px;
            margin-left: 20px;
            text-transform: capitalize;
        }
    }

    .sport-select-container {
        padding: 20px 20px 0px;
    }

    .week-select-container{
        margin-bottom: 20px;
    }

    .allocation-nav {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        border-bottom: thin solid @gray-border;

        &.state-tabs {
            margin: 0;
        }

        .allocation-nav-btn {
            width: 110px;
            height: 100%;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: @gray-medium;
                text-decoration: none;
            }

            &:first-child {
                margin-left: 20px;
            }

            &.active-state {

                a {
                    color: @brand-primary;
                }
            }
        }
    }

    .loading-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .content {
        padding: 20px;
        height: calc(~"100% - 94px");

        .table{
            thead{
                background-color: @gray-lighter;
                th{
                    font-weight: 500;
                }
            }
        }
    }

    .general-allocation-wrapper {
        margin-bottom: 20px;

        .btn.btn-primary {
            padding: 6px 24px;
        }

        .table {
            border: thin solid @gray-lighter;

            tbody {
                background-color: white;
            }

            tr.not-allowed {
                background-color: @gray-lightest;
            }

            th:not(:first-child), td:not(:first-child) {
                text-align: center;
            }

            th, td {
                border: none;
                vertical-align: middle;
                line-height: normal;
            }

            td.disabled {
                pointer-events: none;
                cursor: not-allowed;
                opacity: .3;

                .check-box {
                    color: @gray-dark;
                }
            }

            check-box {
                width: 20px;
                font-size: 20px;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .weekly-allocation-settings{
        height: 1680px;
    }
    .weekly-allocation-wrapper{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .weekly-allocation-div{
            display: inline-block;
            margin: 0px 40px 20px 0px;
            &.active{
                color: black;
                .table{
                    .allocation{
                        background-color: @gray-lighter;
                    }
                }
            }
            &.inactive{
                .table{
                    background-color: @gray-lighter;
                    tfoot tr{
                        height: 42px;
                    }
                }
                .weekly-allocation-header{
                    margin-bottom: 25px;
                }
            }
            .table{
                border: 1px solid @gray-light;
                tr.disabled{
                    background-color: @gray-lighter;
                }
                tbody tr{
                    height: 45px;
                }
                .group{
                    width: 160px;
                }
                .percent{
                    width: 40px;
                    text-align: left;
                    input{
                        margin: 0px;
                        width: 100%;
                    }
                }
                .allocation{
                    width: 100px;
                    text-align: center;
                }
                .cap{
                    width: 50px;
                    text-align: left;
                    input{
                        margin: 0px;
                        width: 100%;
                    }
                }
            }
            tfoot{
                background-color: @gray-lighter;
            }
            .setting-footer{
                margin-top: -20px;
                font-size: small;
            }
            .weekly-allocation-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                .allocation-date{
                    font-weight: bold;
                }
                .allocation-daily-total{
                    span{
                        font-weight: bold;
                        margin: 0px 20px;
                    }
                }
            }
        }
    }

}
