<section class="conferences">

    <aside class="sidebar" ng-if="!noData">

        <div class="search-header">
            <h3>Search conferences:</h3>
            <a href ng-click="clearSearchFilter()">Reset</a>
        </div>
        <form role="form" ng-submit="searchConferences(filter)">

            <div class="form-group">
                <input class="form-control" name="conferenceName" placeholder="Conference Name" ng-model="filter.conferenceName" type="text">
            </div>

            <div class="form-group">
                <input class="form-control" name="conferenceCode" placeholder="Conference Code" ng-model="filter.conferenceCode" type="text">
            </div>

            <div class="form-group">
                <select class="form-control" ng-model="filter.gender" ng-options="level.code as level.nameUsed for level in teamCompetitionLevels">
                    <option value="">Gender</option>
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" ng-model="filter.sport" ng-options="level.code as level.nameUsed for level in teamCompetitionLevels">
                    <option value="">Sport</option>
                </select>
            </div>

            <div class="form-group">
                <input class="form-control" name="associationCode" placeholder="Association Code" ng-model="filter.associationCode" type="text">
            </div>

            <div class="form-group">
                <input type="checkbox" ng-model="filter.filmExchangeOnly"/> Film Exchanges Only
            </div>

            <button id="search-conference-cta" class="btn-search" ng-disabled="searching" type="submit"><i class="icon icon-search"></i></button>

        </form>
    </aside>

    <div class="list" ng-if="!noData">
        <div class="table-head-wrapper">
            <table class="table table-head">
                <tr>
                    <td class="conference-gender-sport">Conference Gender Sport</td>
                    <td class="conference-name">Conference Name</td>
                    <td class="association-code">Association Code</td>
                    <td class="filmexchange-status">Film Exchange (Status)</td>
                    <td class="conference-action">&nbsp;</td>
                </tr>
            </table>
        </div>

        <div class="table-responsive force-scrollbar" id="conference-data">
            <table class="table table-striped table-hover">
                <tbody>
                    <tr ng-repeat="conference in filteredConferences">
                        <td class="conference-gender-sport"><a ui-sref="conference({id: conference.id})">{{conference.conference.name}} - {{conference.gender | formattedConferenceGender}} {{sports[conference.sportId].name}}</a></td>
                        <td class="conference-name">{{conference.conference.name}}</td>
                        <td class="association-code">{{conference.sportsAssociation}}</td>
                        <td class="filmexchange-status">
                            <span ng-if="conference.filmExchange">
                                Film Exchange
                                <span class="visible" ng-if="conference.filmExchange.isVisibleToTeams"> (Visible) </span>
                                <span class="not-visible" ng-if="!conference.filmExchange.isVisibleToTeams"> (Not Visible) </span>
                            </span>
                            <span ng-if="!conference.filmExchange">
                                --
                            </span>
                        </td>
                        <td class="conference-action"><a href ui-sref="film-exchange({id: conference.stringID})" ng-if="conference.filmExchange"><span>Go To</span> <i class="icon icon-sign-out"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center footer" ng-show="allConferences.length > itemPerPage">
            <pagination total-items="allConferences.length" ng-model="page.currentPage" boundary-links="true" class="krossover-pagination pagination-sm" previous-text="&lsaquo;" items-per-page="itemPerPage" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="5" ng-change="pageChanged()"></pagination>
        </div>
    </div>
</section>
