@import (reference) "main.less";

.updated-terms-and-conditions {

    color: @brand-blue;
    letter-spacing: normal;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;

    .icon-krossover-logo {

        .full-page-icon-krossover-logo;
    }

    &-form {

        margin: auto;
        display: table;
        text-align: center;
        padding: @mobile-pad;
    }
}

.updated-terms-form-group {

    position: relative;
    margin-bottom: 30px;
}

.new-terms-agree {

    label .error {

        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        line-height: 1;
    }
}
