<section class="school">

    <aside class="sidebar">

        <header data-ng-if="school.mascot">

            <img class="logo" src="http://lorempixel.com/40/40/sports" class="pull-left" alt="Logo">

            <h1>{{ school.mascot }}</h1>

            <h2>{{ school.name }}</h2>

        </header>

        <header data-ng-if="!school.mascot">

            <img class="logo" src="http://lorempixel.com/40/40/sports" class="pull-left" alt="Logo">

            <h1 class="name" data-ng-if="school.name">{{ school.name }}</h1>
            <h1 class="name" data-ng-if="!school.name">New School</h1>

        </header>

        <nav role="navigation">

            <ul class="nav nav-pills nav-stacked">

                <li ui-sref-active="active"><a href data-ui-sref="school-info"><i class="icon icon-info-circle"></i> School Info</a></li>

            </ul>

        </nav>

    </aside>

    <main class="content" data-ui-view="content"></main>

</section>
