@import (reference) "main.less";

.analytics {

    flex-direction: column;
    overflow-y: auto;

    .analytics-options {

        width: 80%;
        max-width: 1172px;
        margin: 20px auto;
        padding: 20px;
        border: thin solid @gray-border;
        background-color: @content-bg;
        letter-spacing: normal;
        font-weight: 500;
        color: @gray-darker;

        .analytics-option {

            display: inline-block;
            padding-right: 20px;
            white-space: nowrap;

            select {
                padding-right: 30px;
                overflow: ellipsis;
                min-width: 75px;
                background-color: white;
            }
        }
    }

    search-dropdown {

        display: inline-block;
    }

    .all-center {

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .unselected-player {

        font-size: 30px;

        .icon {

            padding: 20px 0;
        }
    }

    .spinner {

        text-align: center;
        margin-top: 60px;

        .icon-refresh {
            font-size: 40px;

            &::before {
                animation: spin 1s linear infinite;
            }
        }
    }

    .analytics-tables-container {

        padding-bottom: 20px;

        .table-responsive {

            table {
                width: auto;
                margin: auto;
                border-top: thin solid black;

                td {
                    text-align: left;
                }

                th {
                    font-weight: 400;
                    border:thin solid black;
                    background-color: @brand-blue;
                    color: white;
                    text-align: center;
                }

                /*This is a temporary class that will be removed when this new
                design is implemented for all sports.*/
                &.stats-redesign {
                    width: 90%;

                    tr:nth-of-type(even) {
                        background-color: #f7f7fa;
                    }

                    tr:nth-of-type(odd) {
                        background-color: #fff;
                    }

                    tr:hover {
                        background-color: rgb(241, 246, 252);
                    }

                    td {
                        text-align: center;
                    }

                }
            }

            .fixed-table {
                table-layout: fixed;
            }

            .logheader {

                color: white;

                .topth {
                    font-weight: 400;
                    border:thin solid black;
                    background-color: @brand-blue;
                }
            }

            .statcell {
                border-right: none;
                border-left: none;
            }

            .setnumber {
                font-size: 30px;
                color: black;
                vertical-align: middle;
            }

            .firstrow {

                color: white;

                .topth {
                    font-weight: 400;
                    border: thin solid black;
                    border-bottom: none;
                    background-color: @brand-blue;
                }

                td {
                    border-bottom: none;
                }
            }

            .secondrow {

                color: white;

                .startsection {
                    border-left: thin solid black;
                }

                th {
                    font-weight: 400;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: thin solid black;
                    background-color: @brand-blue;
                }

                .endsection {
                    border-right: thin solid black;
                }

                td {
                    border-bottom: none;
                    border-top: none;
                }
            }

            .contentrow {
                td:first-child {
                    border: none;
                }
            }
        }
    }
}
