@options-height: 81px;

.analytics {

    flex-direction: column;
    overflow-y: auto;

    dynamic-tables {
        height: 100%;
    }

    .analytics-options {

        width: 100%;
        height: @options-height;
        padding: 20px 60px;
        border: thin solid @gray-border;
        background-color: @content-bg;
        letter-spacing: normal;
        font-weight: @table-header-font-weight;
        color: @gray-darker;

        .analytics-option {

            display: inline-block;
            padding-right: 20px;
            white-space: nowrap;

            select {
                padding-right: 30px;
                overflow: ellipsis;
                min-width: 75px;
                background-color: white;
            }
        }
    }

    search-dropdown {

        display: inline-block;
    }

    .all-center {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .unselected-player {

        font-size: 30px;
        margin-top: 60px;

        .icon {

            padding: 20px 0;
        }
    }

    .spinner {

        text-align: center;
        margin-top: 60px;

        .icon-refresh {
            font-size: 40px;

            &::before {
                animation: spin 1s linear infinite;
            }
        }
    }

    .analytics-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: calc(~"100% - 161px");
    }

    .analytics-tables-container {
        padding: 40px 60px;
        height: 100%;
        overflow-y: auto;
    }
}
