.analytics {

    flex-direction: column;
    overflow-y: auto;

    .analytics-options {

        width: 100%;
        margin-bottom: 20px;
        padding: 20px 5%;
        border: thin solid @gray-border;
        background-color: @content-bg;
        letter-spacing: normal;
        font-weight: @table-header-font-weight;
        color: @gray-darker;

        .analytics-option {

            display: inline-block;
            padding-right: 20px;
            white-space: nowrap;

            select {
                padding-right: 30px;
                overflow: ellipsis;
                min-width: 75px;
                background-color: white;
            }
        }
    }

    search-dropdown {

        display: inline-block;
    }

    .all-center {

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .unselected-player {

        font-size: 30px;
        margin-top: 60px;

        .icon {

            padding: 20px 0;
        }
    }

    .spinner {

        text-align: center;
        margin-top: 60px;

        .icon-refresh {
            font-size: 40px;

            &::before {
                animation: spin 1s linear infinite;
            }
        }
    }

    .analytics-tables-container {

        padding-bottom: 20px;

        .table-responsive {

            table {
                width: 90%;
                margin: auto;
                border-top: thin solid black;

                td {
                    text-align: center;
                }

                th {
                    font-weight: @table-header-font-weight;
                    border:thin solid black;
                    background-color: @brand-blue;
                    color: white;
                    text-align: center;
                }

                tr:nth-of-type(even) {
                    background-color: #f7f7fa;
                }

                tr:nth-of-type(odd) {
                    background-color: #fff;
                }

                tr:hover {
                    background-color: rgb(241, 246, 252);
                }
            }

            .fixed-table {
                table-layout: fixed;
            }

            .logheader {

                color: white;

                .topth {
                    font-weight: @table-header-font-weight;
                    border:thin solid black;
                    background-color: @brand-blue;
                }
            }

            .statcell {
                border-right: none;
                border-left: none;
            }

            .setnumber {
                font-size: 30px;
                color: black;
                vertical-align: middle;
            }

            .firstrow {

                color: white;

                .topth {
                    font-weight: @table-header-font-weight;
                    border: thin solid black;
                    border-bottom: none;
                    background-color: @brand-blue;
                }

                td {
                    border-bottom: none;
                }
            }

            .secondrow {

                color: white;

                .startsection {
                    border-left: thin solid black;
                }

                th {
                    font-weight: @table-header-font-weight;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: thin solid black;
                    background-color: @brand-blue;
                }

                .endsection {
                    border-right: thin solid black;
                }

                td {
                    border-bottom: none;
                    border-top: none;
                }
            }

            .contentrow {
                td:first-child {
                    border: none;
                }
            }
        }
    }
}
