.game {

    .content-wrapper {
        background-color: @content-bg;
        overflow-y: auto;

        .content {
            padding: 0px;
        }
    }

    .sidebar {
        flex: 0 0 300px;
        overflow-y: auto;

        h1 {
            font-size: 20px;
            font-weight: 600;
            width: auto;
        }

        h2 {
            font-size: 18px;
            font-weight: 500;
        }
    }

    header {
        padding: 3px 0;
        background-color: white;

        h1 {
            font-size: 20px;
            font-weight: 600;
            width: auto;
        }

        hr {
            border-top: 1px solid #dddddd;
        }
    }

    hr {
        margin: 10px 0;
    }
}
