{
    "env": {
        "node": true,
        "browser": true
    },
    "settings": {
        "ecmascript": 6
    },
    "ecmaFeatures": {
        "forOf": true,
        "classes": true,
        "modules": true,
        "generators": true,
        "templateStrings": true,
        "blockBindings": true,
        "globalReturn": true,
        "superInFunctions": true,
        "arrowFunctions": true,
        "defaultParams": true,
        "octalLiterals": true,
        "binaryLiterals": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "regexUFlag": true,
        "regexYFlag": true,
        "spread": true,
        "unicodeCodePointEscapes": true
    },
    "rules": {

        "no-proto": false,

        "quotes": "single",
        "strict": false,
        "curly": false,
        "eqeqeq": false,
        "comma-dangle": false,
        "no-underscore-dangle": false,
        "no-undef": false,
        "no-unused-vars": false,
        "dot-notation": false,
        "no-use-before-define": false,
        "space-infix-ops": false,

        "no-extra-parens": true,
        "valid-jsdoc": true,

        "block-scoped-var": true,
        "default-case": true,
        "no-eq-null": true,
        "no-self-compare": true,
        "radix": true,

        "no-new-require": true,
        "no-mixed-requires": [1, true],
        "no-path-concat": true,

        "consistent-this": [2, "self"],
        "no-nested-ternary": true,
        "no-lonely-if": true,

        "no-alert": false,

        "new-cap": false,
        "eol-last": false,
        "no-shadow": false,
        "key-spacing": false,
        "semi-spacing": false,
        "comma-spacing": false,
        "no-multi-spaces": false
    }
}
