<div class="row">

    <div class="col-md-7">

        <form class="form-info" name="form" role="form">

            <div class="form-group">

                <label>Sport</label>
                <select class="form-control" name="sport" data-ng-model="league.sportId" data-ng-options="sport.id as sport.name for sport in sports" required>
                    <option value="">Select a sport</option>
                </select>

                <label>Name</label>
                <input class="form-control" name="name" placeholder="Enter a name" data-ng-model="league.name" type="text" required />
                <span class="name-instructions">
                    Note: league name structure should be "[sport] - [league] [(region or league name)] - [gender]"<br>
                    Examples: "Football - High School (US) - Boys" or "Basketball - Professional (WNBA) - Women"
                </span>

                <label>Gender</label>
                <select class="form-control" name="gender" data-ng-model="league.gender" data-ng-options="gender for gender in genders" required>
                    <option value="">Select a gender</option>
                </select>

                <label>Tag Set</label>
                <select class="form-control" name="tagset" data-ng-model="league.tagSetId" data-ng-options="tagset.id as tagset.name for tagset in tagsets">
                    <option value="">Select a tag set</option>
                </select>

                <label>Filter Set</label>
                <select class="form-control" name="filterset" data-ng-model="league.filterSetId" data-ng-options="filterset.id as filterset.name for filterset in filtersets">
                    <option value="">Select a filter set</option>
                </select>

                <label>Position Set</label>
                <select class="form-control" name="positionset" data-ng-model="league.positionSetId" data-ng-options="positionset.id as positionset.name for positionset in positionsets">
                    <option value="">Select a position set</option>
                </select>

                <label>Arena</label>
                <select class="form-control" name="arena" data-ng-model="league.arenaId" data-ng-options="arena.id as arena.name for (arenaIds, arena) in arenas">
                    <option value="">Select an arena</option>
                </select>

                <label>Number of Periods</label>
                <input class="form-control" name="number-of-periods" placeholder="4" data-ng-model="league.numberOfPeriods" type="number" min="1" />

                <label>Name of Period</label>
                <input class="form-control" name="period-label" placeholder="Quarter" data-ng-model="league.periodLabel" type="text" />

                <label>Period Abbreviation</label>
                <input class="form-control" name="period-abbreviation" placeholder="Qtr" data-ng-model="league.periodAbbreviationLabel" type="text" />

                <label>Season Start Month</label>
                <input class="form-control" name="season-start-month" placeholder="1" data-ng-model="league.seasonStartMonth" type="number"  min="1" required />

                <label>Season Start Day</label>
                <input class="form-control" name="season-start-day" placeholder="1" data-ng-model="league.seasonStartDay" type="number"  min="1" required />

                <label>Season End Month</label>
                <input class="form-control" name="season-end-month" placeholder="6" data-ng-model="league.seasonEndMonth" type="number"  min="1" required />

                <label>Season End Day</label>
                <input class="form-control" name="season-end-day" placeholder="30" data-ng-model="league.seasonEndDay" type="number" min="1" required />

            </div>

            <div class="form-group">

                <button class="btn btn-primary" data-ng-disabled="form.$invalid" data-ng-click="save()">Save</button>
                <a class="pull-right" href data-ui-sref="leagues">cancel</a>

            </div>

        </form>

    </div>

</div>
