<div class="game-area-film-filters">

    <div class="play-count pull-left">
        Viewing: All Plays ({{filteredPlaysIds.length}})
    </div>

    <plays-filter 
        data-total-plays="totalPlays"
        data-game="game"
        data-team-player-list="teamPlayers"
        data-opposing-player-list="opposingTeamPlayers"
        data-filterset="filterset"
        data-ng-model="filteredPlaysIds">
    </plays-filter>

</div>

<div class="game-area-film">
    
    <aside class="playlist">

        <krossover-plays
            data-expand-all="expandAll"
            data-game="game"
            data-reels="reels"
            data-plays="plays"
            data-team="team"
            data-opposing-team="opposingTeam"
            data-team-players="teamPlayers"
            data-opposing-team-players="opposingTeamPlayers"
            data-filtered-plays-ids="filteredPlaysIds"
            data-league="league">
        </krossover-plays>

        <div class="expandrow">
            <button data-ng-show="!expandAll" data-ng-click="expandAll=true"><i class="icon icon-plus"></i> Expand All</button>
            <button data-ng-show="expandAll" data-ng-click="expandAll=false"><i class="icon icon-minus"></i> Collapse All</button>
        </div>

        <no-results data-ng-hide="plays.length"></no-results>
    
    </aside>

    <div class="player breakdown-player">
        <x-krossover-videoplayer data-sources="sources" data-play-start-time="play.current.startTime" data-play-end-time="play.current.endTime"></x-krossover-videoplayer>
    </div>

</div>
