<div class="modal-add-indexer-note">

    <div class="modal-body">

        <p>This film has been sent to coach {{ headCoach.lastName }}.</p>
        <p>Would you like to add any notes for the indexer to keep in</p>
        <p>mind for the next time?</p>

        <i>Only leave a note if you feel it will be useful. Otherwise, just
        click submit.</i>

        <textarea class="form-control" rows="5" data-ng-model="game.notes[GAME_NOTE_TYPES.QA_NOTE][0].content"></textarea>

        <button class="btn btn-lg btn-primary" data-ng-click="submit()">Submit</button>

    </div>

</div>
