.modal-send-to-team {

    .modal-body {

        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 125px;
        padding-right: 125px;
        text-align: center;

        p {

            margin: 0;
            color: black;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: -0.01em;

        }

        .container-btn-binary {

            position: relative;
            height: 50px;
            margin-top: 50px;

            .btn-no,
            .btn-yes {

                .btn;
                .btn-lg;
                position: absolute;


            }

            .btn-no {

                .btn-default;
                left: 0;
            }

            .btn-yes {

                .btn-danger;
                right: 0;
            }
        }
    }
}
