.modal-add-indexer-note {

    .modal-body {

        padding: 50px;
        text-align: center;

        p {

            margin: 0;
            color: black;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: -0.01em;
        }

        i {

            display: block;
            font-size: 18px;
            font-weight: 200;
            font-style: normal;
            letter-spacing: -0.01em;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        textarea {

            margin-bottom: 30px;
        }
    }
}
