.sidebar-notes {

    .timestamp {
        border: 1px solid #FAEBCA;
        background: #FDF8E2;
        text-align: center;
        font-weight: bold;
        padding: 8px;
        margin-bottom: 20px;
    }
}
