@import (reference) "main.less";
@indexing-block-fullscreen-z: 1;

.indexing {

    main {

        display: flex;
        flex: 1;
        min-width: 520px;
        min-height: 460px;
        position: relative;
        overflow-y: auto;
        flex-direction: column;
    }

    .btn-delete-event {

        .btn;
        .btn-xs;
        .btn-danger;
        position: absolute;
        top: 12.5px;
        right: 100px;
    }

    .indexing-form {

        min-height: 50px;
    }

    .btn-indexing-main {

        .btn;
        width: 350px;
        height: 50px;
        border-radius: 25px;
        font-size: 24px;
        font-weight: 400;
    }

    .btn-indexing-start {

        .btn-indexing-main;
        display: block;
        margin: auto;

        &,
        &:focus,
        &:hover {

            color: white;
            background-color: @brand-blue;
        }
    }

    .btn-next,
    .btn-save,
    .btn-back {

        .btn;
        .btn-xs;
        .btn-default;

        font-weight: 500;

        &:focus,
        &:hover,
        &:active {

            .btn-primary;
        }
    }

    .btn-next,
    .btn-save {

        position: relative;
        margin-top: 10px;
    }

    .btn-back {

        position: absolute;
        top: 12.5px;
        right: 12.5px;
    }

    .script {

    }

    .tags {

    }

    .tag {

        .btn;
        .btn-xs;
        .btn-default;

        margin-bottom: 10px;
        margin-right: 10px;
        font-weight: 500;

        &:focus,
        &:hover {

            .btn-primary;
        }

        &:last-child {

            margin-right: 0;
        }
    }

    .notes {
        overflow-y: auto;
    }

    .sidebar-notes,
    .sidebar-playlist {

        display: flex;
        flex-direction: column;
        flex: 0 0 420px;
        border-left: 1px solid rgb(216, 216, 216);
        overflow-y: hidden;

        &.ui-hide {

            flex: 0 0 0;
        }

        .note-choice {

            padding: 15px;

            select {
                padding-right: 40px;
            }

            .save-note {
                .btn;
                .btn-primary;
                display: block;
                margin-top: 15px;
            }

            textarea {
                margin-top: 15px;
                width: 100%;
                height: 100px;
            }
        }

        header {

            position: relative;
            background-color: @brand-blue;

            h6 {

                color: white;
                margin-top: 0;
                margin-left: 10px;
                margin-bottom: 0;
            }

            .btn-close {

                .btn;
                .btn-blank;
                position: absolute;
                top: 0;
                right: 0;
                padding: 0;
                padding-right: 10px;

                &,
                &:focus,
                &:hover {

                    color: white;
                }
            }

            &,
            h6,
            .btn-close {

                height: 30px;
                line-height: 30px;
            }
        }
    }

    video-player {
        height: 100%;
        padding: 15px;
    }

    videogular {
        margin: 0 auto;
    }
}
