<section class="indexing">

    <main class="content-full">

        <div class="alert-editing" data-ng-show="indexing.eventSelected"><button class="btn-delete-event" data-ng-click="main.deleteEvent(event.current)"><i class="icon icon-remove"></i> Delete Event</button><h5>Click the variable you wish to edit.</h5></div>

        <button class="btn-back" data-ng-if="indexing.isIndexing" data-ng-click="main.back()">Back (Esc)</button>

        <div class="indexing-block">

            <form class="indexing-form" name="formIndexing" role="form" novalidate>

                <!-- Tags -->
                <div class="tags" data-ng-if="indexing.isIndexing && indexing.showTags">

                    <button class="tag" data-ng-repeat="tag in tags.current" data-keybinding="{{ tag.shortcutKey.toLowerCase() }}" data-ng-click="main.selectTag(tag.id)" tabindex="{{ $index+1 }}">{{ tag.name }} ({{ tag.shortcutKey.toLowerCase() }})</button>

                </div>

                <!-- Script -->
                <div class="script" data-ng-if="indexing.isIndexing && indexing.showScript">

                    <krossover-item data-auto-advance="true" data-league="league" data-game="game" data-item="item" data-plays="indexing.plays" data-play="play.current" data-event="event.current" data-team-players="data.teamPlayers" data-opposing-team-players="data.opposingTeamPlayers" data-ng-repeat="item in indexerScript(tagset, event.current) track by $index"></krossover-item>

                </div>


                <div class="controls">

                    <!-- Start button -->
                    <button class="btn-indexing-start" data-ng-if="indexing.isReady && !indexing.isIndexing" data-ng-click="main.index()"><i class="icon icon-warning-sign"></i> Press <b>return</b> to start indexing</button>

                    <!-- State movement buttons -->
                    <button class="btn-save" data-ng-if="indexing.isIndexing && indexing.showScript && main.savable()" data-ng-click="main.save()" data-ng-disabled="formIndexing.$invalid">Save Event (Return)</button>
                    <button class="btn-next" data-ng-if="indexing.isIndexing && indexing.showScript && !main.savable()" data-ng-click="main.next()" data-ng-disabled="formIndexing.$invalid">Next (Return)</button>

                </div>

            </form>

        </div>

        <x-krossover-videoplayer data-sources="sources" data-video-title="videoTitle"></x-krossover-videoplayer>

    </main>

    <aside class="sidebar-notes" data-ui-view="sidebar-notes" data-ui-toggle="sidebar.notes"></aside>

    <aside class="sidebar-playlist" data-ui-view="sidebar-playlist" data-ui-toggle="sidebar.playlist"></aside>

</section>
