<section class="indexing">

    <main class="content-full">

        <button class="btn-delete-event" data-ng-if="indexing.eventSelected" data-ng-click="indexing.deleteEvent(event.current)">Delete Event</button>

        <button class="btn-back" data-ng-if="indexing.isIndexing" data-ng-click="indexing.back()">Back (Esc)</button>

        <div class="indexing-block">

            <form class="indexing-form" name="formIndexing" role="form" novalidate>

                <!-- Tags -->
                <div class="tags" data-ng-if="indexing.isIndexing && indexing.showTags">

                    <button class="tag" data-ng-repeat="tag in tags.current" data-keybinding="{{ tag.keyboardShortcut.toLowerCase() }}" data-ng-click="indexing.selectTag(tag.id, game)" tabindex="{{ $index+1 }}">{{ tag.name }} ({{ tag.keyboardShortcut.toLowerCase() }})</button>

                </div>

                <!-- Script -->
                <!-- <div class="script" data-ng-if="indexing.isIndexing && indexing.showScript">
                    <krossover-summary-item data-auto-advance="true" data-league="league" data-game="game" data-item="item" data-plays="indexing.plays" data-play="play.current" data-event="event.current" data-team-players="teamPlayers" data-opposing-team-players="opposingTeamPlayers" data-ng-repeat="item in event.current.indexerScript track by $index"></krossover-summary-item>
                </div> -->

                <div class="script">
                    <span ng-repeat="scriptItem in event.current.indexerScript">
                        <span ng-if="isString(scriptItem)"> {{scriptItem}}</span>
                        <player-dropdown-field ng-if="!isString(scriptItem) && scriptItem.type === 'PLAYER_DROPDOWN' "
                                               event="event.current"
                                               field="event.current.fields[scriptItem.index]"></player-dropdown-field>
                        <team-dropdown-field ng-if="!isString(scriptItem) && scriptItem.type === 'TEAM_DROPDOWN'" event="event.current" field="event.current.fields[scriptItem.index]"></team-dropdown-field>
                        <krossover-field ng-if="!isString(scriptItem) && scriptItem.type !== 'PLAYER_DROPDOWN' && scriptItem.type !== 'TEAM_DROPDOWN'" event="event.current" field="event.current.fields[scriptItem.index]"></krossover-field>

                    </span>
                </div>

                <div class="controls">

                    <!-- Start button -->
                    <button class="btn-indexing-start" data-ng-if="videoPlayer.isReady && !indexing.isIndexing" data-ng-click="indexing.index()"><i class="icon icon-warning-sign"></i> Press <b>return</b> to index {{ videoPlayer.currentTime | time }}</button>

                    <!-- State movement buttons -->
                    <button class="btn-save" data-ng-if="indexing.isIndexing && indexing.showScript && event.current.isEnd" data-ng-click="indexing.save()" data-ng-disabled="!indexing.savable() || formIndexing.$invalid">Save Event (Return)</button>
                    <button class="btn-next" data-ng-if="indexing.isIndexing && indexing.showScript && !event.current.isEnd" data-ng-click="indexing.next()" data-ng-disabled="!indexing.nextable() || formIndexing.$invalid">Next (Return)</button>

                </div>

            </form>

        </div>

        <video-player sources="sources"></video-player>

    </main>

    <aside class="sidebar-notes" data-ng-hide="sidebar.playlist" data-ui-view="sidebar-notes" data-ui-toggle="sidebar.notes"></aside>

    <aside class="sidebar-playlist" data-ng-hide="sidebar.notes" data-ui-view="sidebar-playlist" data-ui-toggle="sidebar.playlist"></aside>

</section>
