<div class="team-active">

    <form class="form-team-active" name="formTeamActive" role="form" novalidate>

        <div class="table-responsive">

            <table class="table table-striped">

                <thead>

                    <tr>

                        <th>Jersey Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Position</th>

                    </tr>

                </thead>

                <tbody>

                    <tr data-ng-repeat="player in roster | filter:isActive">

                        <td><input size="3" data-ng-model="player.jerseyNumbers[rosterId]" required></td>

                        <td><input class="name" placeholder="First Name" data-ng-model="player.firstName" required></td>

                        <td><input class="name" placeholder="Last Name" data-ng-model="player.lastName" required></td>

                        <td>
                            <div class="dropdown">

                                <a class="dropdown-toggle">
                                    <i class="icon-plus"></i> Add Position
                                </a>

                                <br/>

                                <span ng-show="value" ng-repeat="(key, value) in player.selectedPositions">
                                    {{positions[key].name}}
                                </span>

                                <ul ng-click="$event.stopPropagation();" class="positions-dropdown dropdown-menu">
                                    <li ng-repeat="position in positions">
                                        <button type="button" class="btn" ng-class="{'btn-primary': player.selectedPositions[position.id]}" data-ng-model="player.selectedPositions[position.id]" btn-checkbox-true="true" btn-checkbox>{{position.name}}</button>
                                    </li>
                                </ul>
                            </div>

                            <button class="btn btn-blank pull-right" data-ng-click="deactivate(player)"><i class="icon-remove"></i></button>

                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

        <button class="btn btn-default pull-left" data-ng-click="addNewPlayer()">Add New Player <i class="icon-plus"></i></button>

        <button class="btn btn-primary pull-right" data-ng-click="save()">Save</button>

    </form>

</div>

