<div class="team-all">

    <div class="table-responsive">

        <table class="table table-striped">

            <thead>

                <tr>

                    <th>Jersey Number</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Position</th>

                </tr>

            </thead>

            <tbody>

                <tr data-ng-repeat="player in roster | orderBy: sortPlayers">

                    <td>{{ player.jerseyNumbers[rosterId] }}</td>

                    <td>{{ player.firstName }}</td>

                    <td>{{ player.lastName }}</td>

                    <td>
                        <span ng-repeat="position in player.positions[rosterId]">
                            {{position.name}}

                            <span ng-hide="$last">
                                ,
                            </span>
                        </span>
                    </td>

                </tr>

            </tbody>

        </table>

    </div>

</div>

