<div class="team-all">

    <div class="table-responsive">

        <table class="table table-striped">

            <thead>

                <tr>

                    <th>Jersey Number</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Position</th>
                    <th>Last Access</th>

                </tr>

            </thead>

            <tbody>

                <tr data-ng-repeat="player in roster | orderBy: sortPlayers">

                    <td>{{ player.jerseyNumbers[data.rosterId] }}</td>

                    <td>{{ player.firstName }}</td>

                    <td>{{ player.lastName }}</td>

                    <td>
                        <span data-ng-repeat="position in player.positions[data.rosterId]">
                            {{position.name}}

                            <span data-ng-hide="$last">
                                ,
                            </span>
                        </span>
                    </td>

                    <td>
                        <a data-ng-if="player.userId && !player.lastAccessed" data-ng-click="players.resendEmail(player, data.team)">Resend Invitation</a>
                        <span ng-if="player.lastAccessed">{{users.getLastAccessed(player) | date: 'shortDate'}}</span>
                    </td>

                </tr>

            </tbody>

        </table>

    </div>

</div>

