<div class="team-inactive">

    <div class="table-responsive">

        <table class="table table-striped">

            <thead>

                <tr>

                    <th>Jersey Number</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Position</th>

                </tr>

            </thead>

            <tbody>

                <tr data-ng-repeat="player in roster | filter:isInactive | orderBy: sortPlayers">

                    <td>{{ player.jerseyNumbers[rosterId] }}</td>

                    <td>{{ player.firstName }}</td>

                    <td>{{ player.lastName }}</td>

                    <td>
                        <span data-ng-repeat="position in player.positions[rosterId]">
                            {{position.name}}

                            <span data-ng-hide="$last">
                                ,
                            </span>
                        </span>
                        <button class="btn btn-blank pull-right" data-ng-click="player.toggleActivation(rosterId)"><i class="icon-remove"></i></button>
                    </td>

                </tr>

            </tbody>

        </table>

        <button class="btn btn-primary pull-right" data-ng-click="save()">Save</button>
    </div>

</div>

