<div class="row">

    <div class="col-md-6">

        <form class="form-info" name="form" role="form">

            <div class="form-group">

                <h3>Association Name</h3>
                <input class="form-control" name="name" placeholder="Name" ng-model="association.name" type="text" required>

                <h3>Association Acronym</h3>
                <input class="form-control" name="abbreviation" placeholder="Acronym" ng-model="association.acronym" type="text">


                <h3>Association Short Name</h3>
                <input class="form-control" name="shortName" placeholder="Short Name" ng-model="association.shortName" type="text">
                <p>Note: this will serve as the internal ID of the association and cannot be changed.
                <br>Do not include spaces or + signs.</p>

                <h3>Description</h3>
                <textarea rows="4" cols="50" class="form-control description" name="description" placeholder="Description" ng-model="association.description"></textarea>

                <button class="btn btn-default" ng-click="addCompetitionLevel()"><i class="icon icon-plus"></i> Add Competition Level</button>

                <div ng-repeat="competitionLevel in association.competitionLevels">
                    Competition Level
                    <i class="icon icon-remove"></i>
                </div>

            </div>

            <div class="form-group">

                <krossover-admin-resource-save
                    resource="association"
                    button-id="save-association-cta"
                    disabled="form.$invalid || form.$pristine">
                </krossover-admin-resource-save>
                <a class="pull-right" href id="cancel-association-cta" ui-sref="associations">Cancel</a>

            </div>

        </form>

    </div>

</div>
