<div class="row">

    <div class="col-md-6">

        <form class="form-info required-legend" name="form" role="form">

            <div class="form-group">

                <h3 class="required">Association Code</h3>
                <input
                    class="form-control"
                    name="code"
                    placeholder="Code"
                    ng-model="association.code"
                    type="text"
                    ng-disabled="isExistingAssociation"
                    maxlength="20"
                    required>
                <p>Note: this will serve as the internal ID of the association and cannot be changed.
                <br>Do not include spaces or + signs.</p>

                <h3 class="required">Association Name</h3>
                <input class="form-control" name="name" placeholder="Name" ng-model="association.name" type="text" maxlength="255" required>

                <h3 class="required">Association Acronym</h3>
                <input class="form-control" name="abbreviation" placeholder="Acronym" ng-model="association.acronym" type="text" maxlength="20" required>

                <h3 class="required">Country</h3>
                <select
                    ng-model="association.country"
                    ng-options="country.code as country.name for country in countries"
                    ng-change="updateRegionList()"
                    required>
                    <option value="">Pick a Country</option>
                </select>

                <h3>Region</h3>
                <select
                    ng-disabled="!regions.length"
                    ng-class="{'disabled': !regions.length}"
                    ng-model="association.region"
                    ng-options="region.code as region.name for region in regions">
                    <option value="">No Region</option>
                </select>

                <h3 class="required">Type</h3>
                <select ng-model="association.type" required>
                    <option value="">Pick an Association Type</option>
                    <option value="Scholastic">Scholastic</option>
                    <option value="Recreational">Recreational</option>
                    <option value="Coaching">Coaching</option>
                    <option value="Sports">Sports</option>
                    <option value="Promotional">Promotional</option>
                    <option value="International">International</option>
                    <option value="Other">Other</option>
                </select>

                <h3 class="required">Age Level</h3>
                <select ng-model="association.ageLevel" required>
                    <option value="">Pick an Age Level</option>
                    <option value="Primary">Primary</option>
                    <option value="Secondary">Secondary</option>
                    <option value="Collegiate">Collegiate</option>
                    <option value="Adult">Adult</option>
                    <option value="All Ages">All Ages</option>
                </select>

                <h3 class="required">Amateur Status</h3>
                <select ng-model="association.amateurPro" required>
                    <option value="">Pick an Amateur Status</option>
                    <option value="Amateur">Amateur</option>
                    <option value="Pro">Pro</option>
                    <option value="Both">Both</option>
                </select>

                <h3>Description</h3>
                <textarea rows="4" cols="50" class="form-control description" name="description" placeholder="Description" ng-model="association.about"></textarea>

                <h3>
                    Is this association a sanctioning body?
                    <check-box
                        id="association-is-sanctioning-cta"
                        checked="association.isSanctioning"
                        ng-click="association.isSanctioning = !association.isSanctioning">
                    </check-box>
                </h3>

                <h3>
                    Make this association defunct
                    <check-box
                        id="association-is-defunct-cta"
                        checked="association.isDefunct"
                        ng-click="association.isDefunct = !association.isDefunct">
                    </check-box>
                </h3>

            </div>

            <div class="form-group form-action-buttons">

                <div class="delete-association" ng-show="isExistingAssociation">
                    <span id="delete-association-cta" ng-click="deleteAssocation()">
                        <i class="icon icon-remove"></i> Delete Association
                    </span>
                </div>
                <div class="association-save-actions">
                     <a href id="cancel-association-cta" ui-sref="associations">Cancel</a>
                    <krossover-admin-resource-save
                        resource="association"
                        button-id="save-association-cta"
                        disabled="form.$invalid || form.$pristine">
                     </krossover-admin-resource-save>
                 </div>
            </div>

        </form>

    </div>

</div>
