.association {
    nav {
        margin-right: -25px;
    }

    .form-info {

        .form-horizontal;

        .description {
            margin-bottom: 20px;
        }

        select {
            background-color: white;
            padding-right: 30px;

            &.disabled {
                background-color: @content-bg;
                opacity: .7;
            }
        }

        .check-box {
            margin-left: 10px;
        }

        .form-action-buttons {
            display: flex;
            align-items: center;

            .delete-association {
                color: @brand-danger;
            }

            .association-save-actions {
                margin-left: auto;
            }
        }
    }

    .competition-level-container {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .form-control {
            width: 40%;
        }

        .competition-level-code-input {
            width: 20%;
        }

        a {
            cursor: pointer;
        }
    }

    .add-conference-container,
    .add-competition-level-container,
    .add-film-exchange-container {
        max-width: 800px;
        padding: 20px;
        background-color: white;
        border: thin solid @gray-border;
    }

    .add-conference-container,
    .add-competition-level-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .code-note {
            font-size: 12px;
        }

        button {
            align-self: center;
            margin-top: -4%;
        }
    }

    .add-conference-container {
        .new-conference-name {
            width: 30%;
        }
    }

    .add-competition-level-container {
        div {
            flex: 1;
            margin-right: 5%;
            &:nth-child(2){
                flex: 2;
                input.form-control{
                    width: 85%;
                }
            }
        }
    }

    .add-film-exchange-container {
        .new-film-exchange-info {
            display: flex;
            
            &:first-child {
                margin-bottom: 10px;
            }

            h4 {
                margin-right: 10px;
            }

            check-box {
                align-self: center;
                font-size: 20px;
                display: flex;
            }

            search-dropdown {
                flex: 1;

                button {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .search-dropdown-menu {
                    width: 100%;
                }
            }

            .name-input-container {
                flex: 1;
            }
        }

        .new-film-exchange-save-actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            span {
                color: @brand-primary;
            }

            button {
                margin-left: 10px;
            }
        }
    }

    .association-competition-level,
    .association-conference,
    .association-film-exchange {
        max-width: 800px;
        margin-bottom: 20px;
    }

    #cancel-association-cta{
        margin: auto 15px;
    }
}
