.association {
    nav {
        margin-right: -25px;
    }

    .form-info {

        .form-horizontal;

        .description {
            margin-bottom: 20px;
        }

        select {
            background-color: white;
            padding-right: 30px;

            &.disabled {
                background-color: @content-bg;
                opacity: .7;
            }
        }

        .check-box {
            margin-left: 10px;
        }
    }

    .competition-level-container {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .form-control {
            width: 40%;
        }

        .competition-level-code-input {
            width: 20%;
        }

        a {
            cursor: pointer;
        }
    }

    .add-conference-container,
    .add-competition-level-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px;
        background-color: white;
        border: thin solid @gray-border;

        div {
            flex: 1;
            margin-right: 5%;
        }

        .code-note {
            font-size: 12px;
        }

        button {
            align-self: center;
        }
    }
}
