<div class="row">

    <h4>Add Competition Level</h4>

    <div class="add-competition-level-container">

        <div>
            <span>Name*</span>
            <input class="form-control" type="text" ng-model="newCompetitionLevel.name">
        </div>

        <div>
            <span>Code*</span>
            <input class="form-control" type="text" ng-model="newCompetitionLevel.code">
            <span class="code-note">Must be unique within this association</span>
        </div>

        <button class="btn btn-default" ng-click="addCompetitionLevel(newCompetitionLevel)"><i class="icon icon-plus"></i> Add Competition Level</button>

    </div>

    <h4 ng-show="competitionLevels.length">Existing Competition Levels</h4>

    <association-competition-level
        class="competition-level-container"
        ng-repeat="competitionLevel in competitionLevels"
        competition-level="competitionLevel">
    </association-competition-level>

</div>
