<div class="row">

    <h4>Add Conference</h4>

    <div class="add-conference-container">

        <div>
            <span>Name*</span>
            <input class="form-control" type="text" ng-model="newConference.name">
        </div>

        <div>
            <span>Code*</span>
            <input class="form-control" type="text" ng-model="newConference.code">
            <span class="code-note">Must be unique within this association</span>
        </div>

        <div>
            <span>Competition Level</span>
            <select class="form-control" ng-model="newConference.competitionLevel" ng-options="association.competitionLevels">
                <option value="">None</option>
            </select>
        </div>

        <button class="btn btn-default" ng-click="addConference()"><i class="icon icon-plus"></i> Add Conference</button>

    </div>

</div>
