<div class="row">

    <div class="col-md-6">

        <form class="form-info" name="form" role="form">

            <div class="form-group">

                <button class="btn btn-default" ng-click="addConference()"><i class="icon icon-plus"></i> Add Competition Level</button>

                <div ng-repeat="conference in association.conferences">
                    Conference
                    <i class="icon icon-remove"></i>
                </div>

            </div>

            <div class="form-group">

                <krossover-admin-resource-save
                    resource="association"
                    button-id="save-association-cta"
                    disabled="form.$invalid || form.$pristine">
                </krossover-admin-resource-save>
                <a class="pull-right" href id="cancel-association-cta" ui-sref="associations">Cancel</a>

            </div>

        </form>

    </div>

</div>
