@import (reference) "main.less";

.reels-player-area {

    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f7f8f8;

    header {

        border-bottom: 1px solid @gray-border;
        background-color: #f7f8f8;
        padding: 15px;
        display: flex;
        height: 50px;

        h3 {
            color: @brand-blue;
            padding: 0;
            margin: 0 0 10px 0;

            span {
                font-weight: 400;
            }
        }

        .delete-reel {
            margin-left: auto;
            color: @brand-danger;
            cursor: pointer;
        }
    }

    .reel-body {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 15px;
        background: #f7f8f8;
        flex: 1;
    }

    // MOBILE
    @media only screen
    and (max-width: 1024px) {
        .reel-body {
            margin: 0;
            padding: 0;
        }

        krossover-play {
            flex: 0 0 60px;
        }
    }

        .reel-edit-control-container {
            background-color: #f7f8f8;
        }

        .reel-edit-controls {
                    
            padding: 15px;
            display: flex;
            justify-content: space-between;
            max-width: 420px;

            .save-edit {
                color: @brand-success;
            }
        }

        .main-highlight {
            background-color: #f7f8f8;
            display: flex;
            flex: 1;
            flex-direction: row;

            &.not-editable {
                padding-top: 15px;
            }
        }

        krossover-play {
            &.edit-mode {
                flex: 0 0 60px;
            }
        }

            .player.reels-player {
                display: flex;
                flex: 1;
                margin-left: 15px;
            }
} 
