@import (reference) "main.less";

.styleguide .video {

    .video-container {
        width: 600px;

        video-player {
            width: 100%;
            height: 400px;
        }

        clips-navigation {
            width: 100%;
        }
    }
}
