<div class="statsPage">
	
	<div class="stats-btn-group">
		<button class="stats-btn" ng-click="statsSelector = 'ga-log'" ng-class="{'active-stats-btn':(statsSelector === 'ga-log')}" ui-sref="ga-log"><i class="icon icon-file-text"></i> Game Log</button>
		<button class="stats-btn" ng-click="statsSelector = 'ga-homestats'" ng-class="{'active-stats-btn':(statsSelector === 'ga-homestats')}" ui-sref="ga-homestats"><i class="icon icon-bar-chart"></i> Home Stats</button>
		<button class="stats-btn" ng-click="statsSelector = 'ga-awaystats'" ng-class="{'active-stats-btn':(statsSelector === 'ga-awaystats')}" ui-sref="ga-awaystats"><i class="icon icon-bar-chart"></i> Away Stats</button>
	</div>
	<div data-ui-view="content"></div>
	<div class="bottom-links">
		<a href="#"><i class="icon icon-book"></i> Glossary</a>
		<a href="#" class="middlelink"><i class="icon icon-download"></i> Download as Excel</a>
		<a href="#"><i class="icon icon-download"></i> Download for Max Preps</a>
	</div>

</div>