<div ng-if="gameStatus === 'INDEXED'" class="game-area-film-filters">
    <div class="play-count pull-left">
        Viewing: All Plays ({{plays.length}})
    </div>

    <div class="filter-dropdown pull-left dropdown">
        <a class="dropdown-toggle">
            Filter Plays
            <i class="icon-chevron-down"></i>
        </a>

        <span ng-repeat="filter in activeFilters track by filter.id" class="btn btn-default active-filter">
            {{filter.name}}
            <i ng-click="removeFilter($index)" class="icon-remove"></i>
        </span>

        <a ng-show="activeFilters.length > 0" ng-click="clearFilters()">
            Clear
        </a>

        <ul ng-click="$event.stopPropagation();" class="dropdown-menu">
            <li>
                <div>
                    <a class="btn" ng-click="setTeam(team.id)" ng-class="{'btn-default' : (teamId !== team.id), 'btn-primary': (teamId === team.id)}">
                        {{team.name}}
                    </a>
                </div>
                <div>
                    <a class="btn" ng-click="setTeam(opposingTeam.id)" ng-class="{'btn-default' : (teamId !== opposingTeam.id), 'btn-primary': (teamId === opposingTeam.id)}">
                        {{opposingTeam.name}}
                    </a>
                </div>
            </li>
            <li>
                <div ng-hide="value.id === 1 || value.id === 8 || value.id === 7" ng-repeat="(key,value) in filtersetCategories">
                    <a ng-click="setFilterCategory(value.id)" class="btn" ng-class="{'btn-default':(value.id !== filterCategory), 'btn-primary':(value.id === filterCategory)}">{{value.name}}</a>
                </div>
            </li>
            <li>
                <div ng-repeat="(key,value) in filtersetCategories">
                    <div ng-repeat="(innerkey, innerValue) in value.subFilters">
                        <a ng-hide="innerValue.filterCategoryId !== filterCategory" class="btn"  ng-class="{'btn-default':(!contains(activeFilters, innerValue.id)), 'btn-primary':(contains(activeFilters, innerValue.id))}" ng-click="setFilter(innerValue)">
                            {{innerValue.name}}
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="game-area-film">
    <div>
        <aside ng-if="gameStatus === 'INDEXED'"  class="sidebar">
          <!--<div ng-repeat="play in plays">Play Number: {{play.id}}</div>-->
          <krossover-plays data-plays="plays" data-team="team" data-opposing-team="opposingTeam" data-league="league" data-videoplayer="VideoPlayer"></krossover-plays>
        </aside>

        <div class="player">
            <x-krossover-videoplayer></x-krossover-videoplayer>
        </div>

    </div>
</div>
