<div class="formations-teams-header">
    <span class="team-on-offense">
        Teams on Offense:
        <a data-ng-click="teamId = game.teamId" data-ng-class="{active: teamId == game.teamId}" class="home-team" href>{{teams[game.teamId].name}}</a>
        <a data-ng-click="teamId = game.opposingTeamId" data-ng-class="{active: teamId == game.opposingTeamId}" class="away-team" href>{{teams[game.opposingTeamId].name}}</a>
    </span>
</div>
<div class="down-distance-info-container">
    <div>
        <span>Select Down:</span>
        <select data-ng-model="dndReport.down" class="second-choices" data-ng-options="option for option in options.down"></select>

        <span>Select Distance:</span>

        <select data-ng-model="dndReport.distance" class="second-choices" data-ng-options="option for option in options.distance"></select>
    </div>
    <div>
        <span>Select Hash:</span>
        <select data-ng-model="dndReport.hash" class="second-choices" data-ng-options="option for option in options.hash"></select>

        <span>Select Weight:</span>
        <select data-ng-model="dndReport.strength" class="second-choices" data-ng-options="option for option in options.weight"></select>

    </div>
    <div class="show-from">
        Show snaps only from:
        <select data-ng-model="dndReport.redZone">
            <option value="false">Whole Field</option>
            <option value="true">Red Zone</option>
        </select>

        <button data-ng-click="createDownAndDistanceReport()" class="create-report-btn">Create Report</button>
    </div>
</div>
<div class="formations-chart-container">
    <div class="field-header">
        <span class="field-info">
            <span>Down &amp; Dist:</span> {{dndReport.down}} and {{dndReport.distance}}
        </span>
        <span class="field-info">
            <span>Hash:</span> {{dndReport.hash}}
        </span>
        <span class="field-info">
            <span>Weight:</span> {{dndReport.strength}}
        </span>
    </div>
    <!--<div class="field-options">
        <span class="offense-defense" data-ng-click="teamOnOffense = true" data-ng-class="{active-report: teamOnOffense = true}">What Home did on offense</span>
        <span class="offense-defense" data-ng-click="teamOnOffense = false" data-ng-class="{active-report: teamOnOffense = false}">What Away did on defense</span>
        <span class="print-formation"><i class="icon-print"></i> Print</span>
    </div>-->
    <div class="field">
        <krossover-arena type="FOOTBALL" data-game="game" data-plays="plays" data-team-id="teamId" data-league="league" data-chart="game.dndReport"></krossover-arena>
    </div>
</div>