<div class="game-area-film-filters">
    <div class="play-count pull-left">
        <span>Viewing: All Plays ({{plays.length}})</span>
        <button data-ng-class="{'playing-all': playManager.playAllPlays}" class="play-all-plays btn" data-ng-click="playManager.playAllPlays = !playManager.playAllPlays">
          <span class="play-all-text">Play All</span>
          <span class="on" data-ng-show="playManager.playAllPlays">ON</span>
          <span class="off" data-ng-hide="playManager.playAllPlays">OFF</span></button>
    </div>
    <plays-filter data-total-plays="totalPlays"
                  data-plays="plays"
                  data-game="data.game"
                  data-team-player-list="data.gamePlayerLists[data.game.teamId]"
                  data-opposing-player-list="data.gamePlayerLists[data.game.opposingTeamId]"
                  data-filterset="data.filterset"></plays-filter>
</div>

<div class="game-area-film">
        <aside class="playlist">

          <krossover-plays data-expand-all="expandAll" data-game="game" data-plays="plays" data-team="team" data-opposing-team="opposingTeam" data-team-players="data.teamPlayers" data-opposing-team-players="data.opposingTeamPlayers" data-league="data.league"></krossover-plays>

          <div class="expandrow">
            <button data-ng-show="!expandAll" data-ng-click="expandAll=true"><i class="icon icon-plus"></i> Expand All</button>
            <button data-ng-show="expandAll" data-ng-click="expandAll=false"><i class="icon icon-minus"></i> Collapse All</button>
          </div>

          <no-results data-ng-hide="plays.length"></no-results>
        </aside>

        <div class="player breakdown-player">
            <x-krossover-videoplayer data-sources="sources" data-play-start-time="play.current.startTime" data-play-end-time="play.current.endTime"></x-krossover-videoplayer>
        </div>
</div>
