@import (reference) "main.less";

.game-area {

  header{
    background: @content-bg;
    border-bottom: 1px solid @gray-lighter;
    padding-bottom: 10px;
    letter-spacing: normal;
    padding: 0px 25px;
    height: 50px;
    line-height: 50px;

    a{
      padding: 0px 10px;
      float:right;
    }

    .match-up{
      color: @brand-blue;
      padding:20px;
      font-weight: 500;
      font-size: 20px;
    }

    .match-date {
      font-weight: 500;
      font-size: 20px;
    }

    select{
      float:right;
      width:200px;
      height: 34px;
      line-height: 34px;
      padding-right:25px;
      padding-top: 0px;
      padding-bottom: 0px;
      margin: 8px 25px 8px 0px;
      background-color: white;
    }

  }

  div.main-highlight{
    height: calc(~"100% - 50px");
    
    .game-area-game-information {
      position: relative;
      height: 100%;
      min-height: 100%;
      background-color: @content-bg;
    }
  }

  .tabbable{
    background:@body-bg;
  }

  .game-area-film-filters{
    height: 55px;
    padding-top: 16px;

    &:after{
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

    .active-filter{
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 2px;
      padding-bottom: 2px;
      letter-spacing: normal;
      font-weight: 400;

      i {
        margin-left: 5px;
      }
    }

    .play-count{
      border-right: 1px solid @gray-lighter;
      width:290px;
      padding-left: 20px;
      padding-right: 20px;
      letter-spacing: normal;

      .playall {
        .pull-right;
        color: @brand-primary;
        cursor: pointer;
      }
    }

    border-bottom:1px solid @gray-lighter;

    .filter-dropdown{
      margin-left: 20px;

      .btn{
        text-align: left;
        border-radius: @border-radius-base;
      }
      ul{
        padding-top: 25px;
        width: 650px;
        opacity: .95;

        li{
          position: relative;
          display: inline-block;
          height: 315px;
          vertical-align: top;
          padding:0 20px 0 20px;
          border-right: 1px solid @gray-lighter;
          overflow-y: auto;
          overflow-x: hidden;

          a{
            width:160px;
            margin-bottom: 7px;
            padding-bottom: 2px;
            padding-top: 2px;
            border-radius:@border-radius-small;
            letter-spacing: normal;
            font-weight: 400;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.child{
              margin-left: 10px;
            }
          }

          &:last-of-type{
            border:none;
          }
        }
      }

      .dropdown-toggle {
        letter-spacing: normal;
        text-decoration: none;
        cursor: pointer;

        .icon-chevron-down {
          font-size: 12px;
          margin-left: 5px;
        }
      }
    }

  }

  .game-area-film{
    height: calc(~"100% - 55px");

    .player{
      padding-top:5%;
      width: 70%;
      margin: auto;
    }

    .breakdown-player {
      padding-left:10%;
      display: inline-block;
    }

    .playlist {

      .expandrow {
        position: absolute;
        bottom: 0px;
        border-top: thin solid @gray-border;
        background-color: white;
        width: 100%;
        height: 50px;
        padding: 0px 5px 0px 5px;

        button {
          .btn;
          .btn-link;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0.01em;
          padding-top: 10px;
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 10px;
          border-left-width: 0;

          &:focus,
          &:hover {

              text-decoration: none;
          }
        }
      }
    }

  }

  .broken-down {
    position: absolute;
    left: 100px;
    z-index: 1;
    color: @brand-success;
    letter-spacing: normal;
    line-height: 43px;
  }

}

.info-container {
  position: relative;
  background-color: @content-bg;
  padding-bottom: 61px;

  .game-remove {
    position: relative;
    top: 10px;
    right: 100px;
    .pull-right;
    cursor: pointer;
  }
}

.delete-game{
  padding:10px;

  .warning{
    text-align: center;
    letter-spacing: normal;
    margin: 40px 0 40px 0;

  }

  h4 {
    color: @brand-blue;
    font-size: 18px;
    letter-spacing: 0.01em;
    margin-bottom: 5px;
  }

  a {
    cursor: pointer;
  }

  .no-delete {
    .pull-right;
    margin-top: 10px;
  }

}

.statsPage {
  
  padding: 60px;

  .stats-btn-group {
    text-align: center;
    margin-bottom: 20px;

    .stats-btn {
      .btn;
      background-color: @gray-lighter;
      font-weight: 400;
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      font-size: 16px;
      &.active,
      &:active,
      &:focus,
      &:hover {
        background-color: @brand-primary;
        color: white;
      }
    }

    .active-stats-btn {
        background-color: @brand-primary;
        color: white;
    }
  }

  .table-responsive {

    th, td {
      text-align: center;
    }

    th {
      font-weight: 400;
      border:thin solid black;
      background-color: @brand-blue;
      color: white;
    }

    .fixed-table {
      table-layout: fixed;
    }

    .logheader {

      color: white;
      
      .topth {
        font-weight: 400;
        border:thin solid black;
        background-color: @brand-blue;
      }
    }

    .hometeamrow {
    }

    .awayteamrow {
      background-color: @gray-lightest;

    }

    .statcell {
        border-right: none;
        border-left: none;
      }

    .setnumber {
      font-size: 30px;
      color: black;
      vertical-align: middle;
    }

    .firstrow {
      
      color: white;
      
      .topth {
        font-weight: 400;
        border: thin solid black;
        border-bottom: none;
        background-color: @brand-blue;
      }

      td {
        border-bottom: none;
      }
    }
    .secondrow {
    
      color: white;
        
      .startsection {
        border-left: thin solid black;
      }

      th {
        font-weight: 400;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: thin solid black;
        background-color: @brand-blue;
      }

      .endsection {
        border-right: thin solid black;
      }

      td {
        border-bottom: none;
        border-top: none;
      }
    }
    .contentrow {
      td:first-child {
        border: none;
      }
    }
  }
  .bottom-links {

    .pull-right;
    letter-spacing: normal;

    .middlelink {
      margin-right: 10px;
      margin-left: 10px;
      padding-right: 10px;
      padding-left: 10px;
      border-right: thin solid @gray-lighter;
      border-left: thin solid @gray-lighter;
    }
  }
}

.formations-teams-header {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: thin solid @gray-border;
  background-color: @content-bg;
  letter-spacing: normal;
  font-weight: 500;
  color: black;
  position: relative;

  .formationOption {
      display: inline-block;
      width: 14%;
      padding-right: 20px;
      white-space: nowrap;

      span {
        display: block;
      }

      select {
        background-color: white;
        color: @gray-light;
        font-weight: 400;
        width: 100%;
        max-width: 200px;
        text-overflow: ellipsis;
      }
    }
}

.formations-chart-container {
  border: thin solid @gray-border;
  width: 80%;
  margin: 20px auto;
  letter-spacing: normal;

  a.accordion-toggle:hover {
    text-decoration: none;
  }

  .field-header {
    color: white;
    background-color: @brand-blue;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;

    .field-info {
      margin-right: 30px;

      .field-info-title {
        font-weight: 500;
        color: yellow;
      }
    }

    i {
      line-height: 50px;
      font-size: 30px;
    }
  }

  .field-header-collapsed {
    background-color: @gray-lighter;
    color: @brand-blue;

    .field-info {
      .field-info-title {
        color: @brand-blue;
      }
    }
  }

  .field-options {
    background-color: @content-bg;
    color: @gray-light;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;

    .offense-defense {
      margin-right: 60px;
      cursor: pointer;
    }

    .active-report {
      color: @brand-primary;
    }

    .print-formation {
      .pull-right;
      color: @brand-primary;
      cursor: pointer;
    }
  }

  .field {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.down-distance-info-container {
  width: 80%;
  margin: 20px auto;
  border: thin solid @gray-border;
  background-color: @content-bg;
  letter-spacing: normal;
  font-weight: 500;
  color: black;
  position: relative;

  .dndInfoHeader {
    height: 40px;
    padding: 10px 20px;
    background-color: @gray-lighter;
    color: @brand-blue;
  }

  .dndInfoBody {
    padding: 20px;
  }

  .dndOption {
    display: inline-block;
    width: 14%;
    padding-right: 20px;
    white-space: nowrap;

    &.lastOption {
      padding: 0;
      position: absolute;
      bottom: 21px;
    }

    span {
      display: block;
    }

    select {
      background-color: white;
      color: @gray-light;
      font-weight: 400;
      width: 100%;
      max-width: 200px;
      text-overflow: ellipsis;
    }

    .create-report-btn {
      .pull-right;
      .btn;
      .btn-primary;
    }
  }
}

