<section class="game-area">

    <main class="content-full">
        <header>
            <div>

                {{game.datePlayed | date: 'MMM d, yyyy'}} <span class="match-up">{{team.name}} {{game.finalScore}} vs {{game.opposingFinalScore}} {{opposingTeam.name}}</span>
                <a data-ng-href="#"><i class="icon-download"></i> Download</a>
                <a data-ng-href="#"><i class="icon-globe"></i> Share</a>

                <select ng-model="dataType">
                    <option ng-if="gameStatus !== 'INDEXED'" value="video"> Raw Film </option>
                    <option ng-if="gameStatus === 'INDEXED'" value="video"> Breakdown </option>
                    <option value="game-info">
                        Game Information
                    </option>
                    <option ng-if="hasStatistics" value="statistics">
                        Statistics
                    </option>
                    <option ng-if="hasShotChart" value="shot-chart">
                        Shot Chart
                    </option>
                </select>
            </div>
        </header>
        <div class="main-highlight" data-ui-view="content"></div>
    </main>

</section>

