@import (reference) "main.less";

.games-self-editor {

    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    background: @gray-lightest;
    flex: 1;
    overflow: none;

    .filter-container {
        background-color: @gray-lightest;
        flex: 0 0 50px;
        display: flex;
        align-items: center;
    }

    .main-highlight {
        background-color: @gray-lightest;
        display: flex;
        flex: 1;
        flex-direction: row;

        &.not-editable {
            padding-top: 15px;
        }
    }

    video-player {
        margin: 0;
        margin-left: 15px;
        margin-right: 15px;
        width: 100%;
    }
}
