@import (reference) "main.less";

.arena-chart {
    width: 100%;
    height: 100%;
    background-color: @gray-lightest;

    .container {
        margin: 0 auto;
        max-width: @screen-lg;
        width: 100%;
    }

    .filter-pills {
        margin: 0 10px;
        flex: 1 auto;
    }

    .primary-content {
        width: 100%;
        height: 100%;

        arena-chart-filters {
            margin-bottom: 30px !important;
        }

        .arena-chart-arena {
            width: 100%;
            height: 100%;

            krossover-arena {
                display: block;
                margin: 0 auto;
            }
        }
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: #000;
        align-items: center;
        padding: 10px;
    }
}
