<div class="arena-chart">

    <header class="container">

        <div class="header-content">

            <count-label all-count="arenaEvents.length" current-count="filteredArenaEvents.length" label="Shots"></count-label>

            <a name="reset-filters" ng-click="resetFilters()">Reset Filters</a>

        </div>

    </header>


    <div class="primary-content">

        <arena-chart-filters ng-model="filters" class="container"></arena-chart-filters>

        <div class="arena-chart-arena">

            <krossover-arena type="arenaType" fit-element>

                <!--  NOTE: Cannot filter here in template due to transclusion since we need the results in the arena-chart scope -->
                <arena-event arena-event="arenaEvent" ng-repeat="arenaEvent in filteredArenaEvents"></arena-event>

            </krossover-arena>

        </div>

    </div>



</div>
