<div class="arena-chart">

    <header>

        <label name="arena-event-count">

            <span ng-if="filteredArenaEvents.length === arenaEvents.length">Viewing: All Shots ({{arenaEvents.length}})</span>
            <span ng-if="filteredArenaEvents.length < arenaEvents.length">Viewing: ({{filteredArenaEvents.length}})</span>

        </label>

        <a name="reset-filters" ng-click="resetFilters()">Reset Filters</a>

    </header>


    <div class="primary-content">

        <div class="teams">

            <div class="home-team">

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16px" height="16px" viewbox="0 0 16 16">

                    <rect data-ng-attr-fill="{{ game.primaryJerseyColor }}" x="0" y="0" width="16px" height="16px" />

                </svg>

                <span class="home-team-name">{{team.name}}</span>

            </div>

            <div class="opposing-team">

                <span class="opposing-team-name">{{opposingTeam.name}}</span>

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16px" height="16px" viewbox="0 0 16 16">

                    <rect data-ng-attr-fill="{{ game.opposingJerseyColor }}" x="0" y="0" width="16px" height="16px" />

                </svg>

            </div>

        </div>


        <div class="filters-container">

            <div class="filters">

                <!-- Filters -->
                <div class="filters-left">
                </div>

                <div class="filters-center">

                    <div class="shots">

                        <div class="btn-group" role="group" aria-label="...">

                            <checkbox-button
                                type="button"
                                class="btn"
                                ng-model="filters.shots.made"
                            >Made</checkbox-button>

                            <checkbox-button
                                type="button"
                                class="btn"
                                ng-model="filters.shots.missed"
                            >Missed</checkbox-button>

                        </div>

                    </div>

                    <div class="periods">

                        <div class="btn-group" role="group" aria-label="...">

                            <checkbox-button
                                type="button"
                                class="btn"
                                ng-model="filters.period.one"
                            >1</checkbox-button>

                            <checkbox-button
                                type="button"
                                class="btn"
                                ng-model="filters.period.two"
                            >2</checkbox-button>

                            <checkbox-button
                                type="button"
                                class="btn"
                                ng-model="filters.period.three"
                            >3</checkbox-button>

                            <checkbox-button
                                type="button"
                                class="btn"
                                ng-model="filters.period.four"
                            >4</checkbox-button>

                            <checkbox-button
                                type="button"
                                class="btn"
                                ng-model="filters.period.overtime"
                            >OT</checkbox-button>

                        </div>

                    </div>

                </div>

                <div class="filters-right">
                </div>

            </div>

        </div>

        <div class="arena-chart-arena">

            <krossover-arena type="arenaType" fit-element>

                <!--  NOTE: Cannot filter here in template due to transclusion since we need the results in the arena-chart scope -->
                <arena-event arena-event="arenaEvent" ng-repeat="arenaEvent in filteredArenaEvents"></arena-event>

            </krossover-arena>

        </div>

    </div>



</div>
