<div class="arena-chart">

    <header>

        <div class="header-content">

            <count-label all-count="gamesArenaChart.arenaEvents.length" current-count="gamesArenaChart.filteredArenaEvents.length" label="Shots"></count-label>

            <div class="filter-pills">

                <pills items="gamesArenaChart.activePills" item-removed="gamesArenaChart.pillRemoved"></pills>

            </div>

            <button
                name="reset-filters"
                class="btn-blank btn-blank-primary layout--centered"
                ng-click="gamesArenaChart.resetFilters()"
                id="arena-chart-reset-filters-cta">

                <i class="icon icon-refresh"></i> Reset Filters
            </button>

        </div>

    </header>


    <main class="content-full">

        <arena-chart-filters filter-model="gamesArenaChart.filters" class="container"></arena-chart-filters>

        <div class="arena-chart-container">

            <krossover-arena type="gamesArenaChart.arenaType" fit-element>

                <arena-event arena-event="arenaEvent" ng-repeat="arenaEvent in gamesArenaChart.filteredArenaEvents = (gamesArenaChart.arenaEvents | arenaEvents:gamesArenaChart.filters)"></arena-event>

            </krossover-arena>

        </div>

    </main>

</div>
