<section class="game">

    <div class="content-wrapper">

        <header>

            <h2>Game Id <em>#{{ game.id }}</em></h2>
            <h1>{{ team.name }} vs {{ opposingTeam.name }}</h1>
            <h3>{{ school.name }} {{ sport.name }}, <a data-ui-sref="user-info({ id: headCoach.id })">Coach {{ headCoach.lastName }}</a></h3>
            <h3>Period is in: <span class="period">{{ league.periodLabel }}</span></h3>

        </header>

        <main class="content content-full-height">

            <table class="game-info table table-bordered">

                <colgroup>
                    <col class="col-md-4">
                    <col class="col-md-2">
                    <col class="col-md-3">
                    <col class="col-md-3">
                </colgroup>

                <thead>

                    <tr>

                        <th>Teams</th>
                        <th>Colors</th>
                        <th>Reported Scores</th>
                        <th>Indexed Scores</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td class="name">
                            <h1>{{ team.name }}</h1>
                        </td>

                        <td class="colors">

                            <div class="row">

                                <div class="col-xs-6">

                                    <h6>Primary</h6>
                                    <input class="form-control" name="yourprimarycolor" type="color" data-ng-model="game.primaryJerseyColor" disabled>

                                </div>

                                <div class="col-xs-6">

                                    <h6>Secondary</h6>
                                    <input class="form-control" name="yourprimarycolor" type="color" data-ng-model="game.secondaryJerseyColor" disabled>

                                </div>

                            </div>

                        </td>

                        <td class="score">

                            <h2>{{ game.finalScore }}</h2>

                        </td>

                        <td class="score">

                            <h2 data-ng-class="{ correct: game.finalScore === game.indexedScore, incorrect: game.indexedScore && game.finalScore !== game.indexedScore }">{{ game.indexedScore || '--' }}<span data-ng-if="game.indexedScore"><i class="icon icon-ok" data-ng-show="game.finalScore === game.indexedScore"></i><i class="icon icon-remove" data-ng-hide="game.finalScore === game.indexedScore"></i></span></h2>

                        </td>

                    </tr>

                    <tr>

                        <td class="name">
                            <h1>{{opposingTeam.name}}</h1>
                        </td>

                        <td class="colors">

                            <div class="row">

                                <div class="col-xs-6">

                                    <h6>Primary</h6>
                                    <input class="form-control" name="theirprimarycolor" type="color" data-ng-model="game.opposingPrimaryJerseyColor" disabled>

                                </div>

                                <div class="col-xs-6">

                                    <h6>Secondary</h6>
                                    <input class="form-control" name="theirprimarycolor" type="color" data-ng-model="game.opposingSecondaryJerseyColor" disabled>

                                </div>

                            </div>

                        </td>

                        <td class="score">

                            <h2>{{ game.opposingFinalScore }}</h2>

                        </td>

                        <td class="score">

                            <h2 data-ng-class="{ correct: game.opposingFinalScore === game.opposingIndexedScore, incorrect: game.opposingIndexedScore && game.opposingFinalScore !== game.opposingIndexedScore }">{{ game.opposingIndexedScore || '--' }}<span data-ng-if="game.opposingIndexedScore"><i class="icon icon-ok" data-ng-show="game.opposingFinalScore === game.opposingIndexedScore"></i><i class="icon icon-remove" data-ng-hide="game.opposingFinalScore === game.opposingIndexedScore"></i></span></h2>

                        </td>

                    </tr>

                    <tr>

                        <td colspan="4">

                            <h3><i class="icon icon-pushpin"></i> Coaches Notes:</h3>

                            <div data-ng-repeat="note in game.notes[GAME_NOTE_TYPES.COACH_NOTE]">

                                <p>{{ note.content }}</p>

                            </div>

                            <hr>

                            <h3><i class="icon icon-pushpin"></i> Indexing Notes:</h3>

                            <div data-ng-repeat="note in game.notes[GAME_NOTE_TYPES.INDEXER_NOTE] | orderBy:'gameTime'">

                                <p>[<span class="game-time">{{note.gameTime | secondsToTime}}</span>] {{ note.content }}</p>

                            </div>

                            <hr>

                            <h3><i class="icon icon-pushpin"></i> Indexing QA Notes:</h3>

                            <div data-ng-repeat="note in game.notes[GAME_NOTE_TYPES.QA_NOTE]">

                                <p>{{ note.content }}</p>

                            </div>

                            <hr>

                            <h3><i class="icon icon-pushpin"></i> Set Aside Notes:</h3>

                            <div data-ng-repeat="note in game.notes[GAME_NOTE_TYPES.SET_ASIDE_NOTE]">

                                <p>{{ note.content }}</p>

                            </div>

                            <hr>

                            <h3><i class="icon icon-pushpin"></i> Coach's feedback on indexing:</h3>
                            <div data-ng-repeat="note in game.notes[GAME_NOTE_TYPES.COACH_FEEDBACK_NOTE]">

                                <p>{{ note.content }}</p>

                            </div>

                        </td>

                    </tr>

                </tbody>

            </table>

        </main>

    </div>

    <aside class="sidebar sidebar-right">

        <ul>

            <li><button class="btn btn-link" data-ng-click="RawFilmModal.open(game)"><i class="icon icon-play-circle"></i> View raw film</button></li>
            <li><button class="btn btn-link" data-feedback-modal><i class="icon icon-pencil"></i> Add coach's feedback</button></li>
            <li ng-if="game.status === GAME_STATUSES.FINALIZED.id"><button class="btn btn-link" ng-click="RevertGameStatusModal.open(game, GAME_STATUSES.READY_FOR_INDEXING)">Revert to Indexing</button></li>
            <li><button class="btn btn-link" data-ng-click="DeleteGameModal.open(game)"><i class="icon icon-remove"></i> Delete game</button></li>

        </ul>

        <hr>

        <h4>Time remaining to deliver</h4>
        <time>{{deliverTime | humanize: 'milliseconds':true}}</time>

        <h4>Game length</h4>
        <time>{{gameLength | humanize: 'seconds'}}</time>

        <h4>Time to index:</h4>
        <time data-ng-if="assignedToIndexer && !assignedToQa && indexTime > 0">{{indexTime | humanize: 'milliseconds':true}}</time>
        <time data-ng-if="assignedToIndexer && !assignedToQa && indexTime <= 0">None</time>
        <time data-ng-if="!assignedToIndexer || assignedToQa">--</time>

        <h4>Time to QA:</h4>
        <time data-ng-if="assignedToQa && indexTime > 0">{{indexTime | humanize: 'milliseconds':true}}</time>
        <time data-ng-if="assignedToQa && indexTime <= 0">None</time>
        <time data-ng-if="!assignedToQa">--</time>

        <h4>Date uploaded</h4>
        <time>{{uploadDate}}</time>

        <hr>

        <h4>Indexer</h4>

        <button class="btn btn-link" data-ng-if="game.canBeAssignedToIndexer()" data-ng-click="SelectIndexerModal.open(game, false)">Assign Game</button>

        <ul data-ng-if="game.hasIndexerAssignment()" data-ng-repeat="assignment in game.indexerAssignments">

            <li><button class="btn btn-link" data-ng-disabled="game.status != GAME_STATUSES.SET_ASIDE.id" data-ng-click="SelectIndexerModal.open(game, false)">{{ users[assignment.userId].firstName }} {{ users[assignment.userId].lastName }}</button></li>

        </ul>

        <h4>QA</h4>

        <div data-ng-if="!game.hasQaAssignment() && !game.canBeAssignedToQa()">--</div>

        <button class="btn btn-link" data-ng-if="game.canBeAssignedToQa()" data-ng-click="SelectIndexerModal.open(game, true)">Assign Game</button>

        <ul data-ng-if="game.hasQaAssignment()" data-ng-repeat="assignment in game.indexerAssignments">

            <li><button class="btn btn-link" data-ng-disabled="game.status != GAME_STATUSES.SET_ASIDE.id" data-ng-click="SelectIndexerModal.open(data, game, true)">{{ users[assignment.userId].firstName }} {{ users[assignment.userId].lastName }}</button></li>

        </ul>

    </aside>

</section>
