<section class="queue">

    <aside class="sidebar" ng-init="sidebar = false" ui-toggle="sidebar">

        <h3>Search</h3>

        <form role="form" ng-submit="search(filter)">

            <div class="form-group">

                <select
                 class="form-control"
                 name="sport"
                 ng-model="filter.sport"
                 ng-options="sport.id as sport.name for sport in sportsList">
                    <option value="">Pick a Sport</option>
                </select>

            </div>

            <div class="form-group">

                <select
                 class="form-control"
                 name="status"
                 ng-model="filter.status"
                 ng-options="status.id as status.name for (key, status) in GAME_STATUSES">
                    <option value="">Status</option>
                </select>

            </div>

            <div class="form-group">

                <input
                 class="form-control"
                 name="id"
                 placeholder="Game ID"
                 ng-model="filter.gameId"
                 type="text">

            </div>

            <div class="form-group">

                <input
                 class="form-control"
                 name="team"
                 placeholder="Team Name"
                 ng-model="filter.team"
                 type="text">

            </div>

            <div class="form-group">

                <input
                 class="form-control"
                 name="coach-firstname"
                 placeholder="Coach First Name"
                 ng-model="filter.coachFirstName"
                 type="text">

            </div>

            <div class="form-group">

                <input
                 class="form-control"
                 name="coach-lastname"
                 placeholder="Coach Last Name"
                 ng-model="filter.coachLastName"
                 type="text">

            </div>

            <div class="form-group">

                <input
                 class="form-control"
                 name="indexer-firstname"
                 placeholder="Indexer First Name"
                 ng-model="filter.indexerFirstName"
                 type="text">

            </div>

            <div class="form-group">

                <input
                 class="form-control"
                 name="indexer-lastname"
                 placeholder="Indexer Last Name"
                 ng-model="filter.indexerLastName"
                 type="text">

            </div>

            <div class="form-group">

                <input
                 class="form-control"
                 name="assurer-firstname"
                 placeholder="QA First Name"
                 ng-model="filter.qaFirstName"
                 type="text">

            </div>

            <div class="form-group">

                <input
                 class="form-control"
                 name="assurer-lastname"
                 placeholder="QA Last Name"
                 ng-model="filter.qaLastName"
                 type="text">

            </div>

            <button
             id="search-queue-cta"
             class="btn-search"
             ng-show="sidebar"
             ng-disabled="searching"
             type="submit">

                <i class="icon icon-search"></i>

            </button>

        </form>

        <button
         class="btn-search"
         ng-hide="sidebar"
         ng-click="sidebar=!sidebar">

            <i class="icon icon-search"></i>

        </button>

        <button
         class="btn-toggle-sidebar"
         ng-show="sidebar"
         ng-click="sidebar = false">

            <i class="icon icon-chevron-left"></i>

        </button>

        <button
         class="btn-toggle-sidebar"
         ng-hide="sidebar"
         ng-click="sidebar = true">

            <i class="icon icon-chevron-right"></i>

        </button>

    </aside>

    <div class="queue-container">

        <div class="queue-dashboard">
            <div class="general-status-row">
                <div class="general-status-col">
                    <h4>Queue Status</h4>
                    <span ng-show="queueFilters.remaining.late.length === 0" class="status-good">Good</span>
                    <span ng-show="queueFilters.remaining.late.length > 0" class="status-bad">Bad</span>
                </div>
                <div class="general-status-col">
                    <h4>Current</h4>
                    <span class="general-status-info"><a href ng-click="setQueue(queueFilters.ready.indexing)">{{queueFilters.ready.indexing.length}}</a> to be indexed</span>
                    <span class="general-status-info"><a href ng-click="setQueue(queueFilters.ready.qa)">{{queueFilters.ready.qa.length}}</a> to be QA'd</span>
                </div>
                <div class="general-status-col">
                    <h4>Last 48 Hours</h4>
                    <span class="general-status-info"><a href ng-click="setQueue(queueFilters.last48.uploaded)">{{queueFilters.last48.uploaded.length}}</a> uploaded</span>
                </div>
            </div>
            <table class="time-status-row table-responsive">
                <tbody>
                    <tr>
                        <th>Total</th>
                        <th>48h - 24h</th>
                        <th>24h - 10h</th>
                        <th>10h - 5h</th>
                        <th>5h - 1h</th>
                        <th>&lt;1</th>
                        <th>Late</th>
                        <th>Set Aside</th>
                    </tr>
                    <tr>
                        <td><a href ng-click="setQueue(games)">{{games.length}}</a></td>
                        <td><a href ng-click="setQueue(queueFilters.remaining['48'])">{{queueFilters.remaining['48'].length}}</a></td>
                        <td><a href ng-click="setQueue(queueFilters.remaining['24'])">{{queueFilters.remaining['24'].length}}</a></td>
                        <td><a href ng-click="setQueue(queueFilters.remaining['10'])">{{queueFilters.remaining['10'].length}}</a></td>
                        <td><a href ng-click="setQueue(queueFilters.remaining['5'])">{{queueFilters.remaining['5'].length}}</a></td>
                        <td><a href ng-click="setQueue(queueFilters.remaining['1'])">{{queueFilters.remaining['1'].length}}</a></td>
                        <td><a href ng-click="setQueue(queueFilters.remaining.late)">{{queueFilters.remaining.late.length}}</a></td>
                        <td><a href ng-click="setQueue(queueFilters.setAside)">{{queueFilters.setAside.length}}</a></td>
                    </tr>
                </tbody>
            </table>
            <table class="assigned-status-row table-responsive">
                <tbody>
                    <tr>
                        <th>Assigned</th>
                        <th>Unassigned</th>
                    </tr>
                    <tr>
                        <td><a href ng-click="setQueue(queueFilters.assigned)"> {{queueFilters.assigned.length}}</a></td>
                        <td><a href ng-click="setQueue(queueFilters.unassigned)"> {{queueFilters.unassigned.length}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <admin-queue-games
         queue="queue"
         sports="sports"
         leagues="leagues"
         teams="teams"
         users="users"
         ng-hide="noResults || searching"></admin-queue-games>

        <div class="results" ng-show="searching">
            <h1>Searching...</h1>

            <!-- TODO: The size shouldn't be a static value -->
            <krossover-spinner ng-if="searching" size="'80px'"></krossover-spinner>
        </div>

        <div class="results noresults" ng-show="noResults">

            <i class="icon icon-search"></i>
            <h1>No Results Found</h1>
            <h2>Try your search again.</h2>

        </div>
    </div>

</section>

