<section class="queue">

    <aside class="sidebar" ng-init="sidebar = false" ui-toggle="sidebar">

        <h3>Search</h3>

        <form role="form" ng-submit="search(filter)">

            <div class="form-group">

                <select class="form-control" name="sport" ng-model="filter.sport" ng-options="sport.id as sport.name for sport in sportsList">
                    <option value="">Pick a Sport</option>
                </select>

            </div>

            <div class="form-group">

                <select class="form-control" name="status" ng-model="filter.status" ng-options="status.id as status.name for (key, status) in GAME_STATUSES">
                    <option value="">Status</option>
                </select>

            </div>

            <div class="form-group">
                <input class="form-control" name="id" placeholder="Game ID" ng-model="filter.gameId" type="text">
            </div>

            <div class="form-group">

                <input class="form-control" name="team" placeholder="Team Name" ng-model="filter.team" type="text">
            </div>

            <div class="form-group">
                <input class="form-control" name="coach-firstname" placeholder="Coach First Name" ng-model="filter.coachFirstName" type="text">
            </div>

            <div class="form-group">
                <input class="form-control" name="coach-lastname" placeholder="Coach Last Name" ng-model="filter.coachLastName" type="text">
            </div>

            <div class="form-group">
                <input class="form-control" name="indexer-firstname" placeholder="Indexer First Name" ng-model="filter.indexerFirstName" type="text">
            </div>

            <div class="form-group">
                <input class="form-control" name="indexer-lastname" placeholder="Indexer Last Name" ng-model="filter.indexerLastName" type="text">
            </div>

            <div class="form-group">
                <input class="form-control" name="assurer-firstname" placeholder="QA First Name" ng-model="filter.qaFirstName" type="text">
            </div>

            <div class="form-group">
                <input class="form-control" name="assurer-lastname" placeholder="QA Last Name" ng-model="filter.qaLastName" type="text">
            </div>

            <button id="search-queue-cta" class="btn-search" ng-show="sidebar" ng-disabled="searching" type="submit"><i class="icon icon-search"></i></button>

        </form>

        <button class="btn-search" ng-hide="sidebar" ng-click="sidebar=!sidebar"><i class="icon icon-search"></i></button>

        <button class="btn-toggle-sidebar" ng-show="sidebar" ng-click="sidebar = false"><i class="icon icon-chevron-left"></i></button>
        <button class="btn-toggle-sidebar" ng-hide="sidebar" ng-click="sidebar = true"><i class="icon icon-chevron-right"></i></button>

    </aside>

    <div class="queue-container">

        <admin-queue-dashboard
            games="games"
            queue="queue"
            sidebar-expand="sidebar"
        ></admin-queue-dashboard>

        <admin-queue-games
            games="games"
            queue="queue"
            sports="sports"
            leagues="leagues"
            teams="teams"
            users="users"
            ng-hide="noResults || searching"
        ></admin-queue-games>

        <div class="results" ng-show="searching">

            <h1>Searching...</h1>

            <!-- TODO: The size shouldn't be a static value -->
            <krossover-spinner ng-if="searching" size="'80px'"></krossover-spinner>

        </div>

        <div class="results noresults" ng-show="noResults">

            <i class="icon icon-search"></i>
            <h1>No Results Found</h1>
            <h2>Try your search again.</h2>

        </div>
    </div>

</section>
