@import (reference) "main.less";

.queue {

	.queue-dashboard {

		width: 100%;
		padding: 20px;
		background-color: @content-bg;

		.general-status-row {

		}

		.time-status-row {

		}

		.assigned-status-row {
		
		}

	}

}
