@import (reference) "main.less";

.film-home {

    // TODO: Move lots of the most-common styles to new theme for 'select-tabs' to reuse
    .filter-bar {

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        border-bottom: 1px solid @gray-border;
        background-color: @gray-lightest;
        padding: 20px;
        line-height: normal;

        h3 {
            color: @brand-blue;
            font-size: 16px;
            margin-top: 8px;
            margin-bottom: 8px;
        }

        .btn-filter {
            .btn;
            background-color: @gray-lighter;
            font-weight: 400;
            margin: 3px 5px;
            border-radius: 4px;
            padding-top: 4px;
            padding-bottom: 4px;
            font-size: @font-size-base;
            text-transform: capitalize;
            &.active,
            &:active,
            &:hover {
                background-color: @brand-primary;
                color: white;
            }

            &.active:focus {

                outline: none;
                outline-offset: 0;
                box-shadow: none;
            }
        }

        .film-search {
            margin-left: auto;
            position: relative;

            .icon-search {
                position: absolute;
                left: 11px;
                top: 9px;
                color: @gray-light;
            }

            .film-search-input {
                .form-control;
                width: 250px;
                margin: 0px 5px;
                border: thin solid @gray-border;
                border-radius: 5px;
                padding-left: 22px;
            }

            .btn-film-search {
                .btn-filter;
                padding: 6px 20px;
                border: 1px solid rgb(221,221,221);
            }
        }
    }

    .films-area {
        padding: 15px;
        margin: 0px;
        display: flex;
        justify-content: flex-start;
        flex: 1 100%;
        flex-flow: row wrap;
    }

    .sidebar {
        text-transform: capitalize;
        overflow-y: auto;

        @media only screen
        and (max-width: @md-screen-md) {
            display: none;
        }

        .sidebar-athlete {
            padding-left: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        .role-title{
            .title{
                color: @brand-blue;
                margin-right: 10px;
                font-weight: 500;
            }
        }

        .sport, .role-name, .role-icon {
            display: none;
        }
    }
}
