<section class="film-home">

    <aside class="sidebar">

        <!-- TEAM DIRECTIVE -->
        <krossover-team-info team="team"></krossover-team-info>
        <hr>

        <krossover-role
                ng-if="role.type.id === ROLES.HEAD_COACH.type.id && role.teamId == team.id"
                ng-repeat="role in headCoach.roles"
                user="headCoach"
                role="role">
        </krossover-role>

        <div ng-repeat="assistantCoach in assistantCoaches">

            <krossover-role ng-repeat="role in assistantCoach.roles"
                  ng-if="role.type.id === ROLES.ASSISTANT_COACH.type.id && role.teamId === team.id && !role.tenureEnd"
                  user="assistantCoach"
                  role="role">
            </krossover-role>
        </div>

        <hr>

        <h3>Team Roster</h3>

        <krossover-athlete ng-repeat="teamPlayer in teamPlayers | orderBy: sortPlayers track by $index"
                           athlete="players[teamPlayer.id]"
                           team="team"
                           roster-id="roster.id"
                           editable="false"
                           ng-if="teamPlayer.isActive"></krossover-athlete>
    </aside>

    <main class="content-full">

        <!-- Search and filter bar -->
        <header class="filter-bar">
            <ul class="nav nav-tabs">
                <li><h3>Filter Film:</h3></li>
                <film-home-tabs ng-model="filmsList"></film-home-tabs>
                <form class="film-search">
                    <input type="text" id="film-search-cta" class="film-search-input" ng-model="query" placeholder="Search for film"/>
                </form>

            </ul>
        </header>

        <no-results ng-if="filteredFilmsList.length === 0"></no-results>
        <!-- NG-REPEAT FILM DIRECTIVES -->

        <div ng-show="filteredFilmsList.length > 0 " class="films-area">
            <krossover-film ng-repeat="film in filteredFilmsList = (filmsList | nameOfTheFilm: query | isNotDeleted | sortByDate)" film="film"></krossover-film>
        </div>
    </main>

</section>

