<section class="film-home">

    <aside class="sidebar">

        <!-- TEAM DIRECTIVE -->
        <krossover-team-info data-team="team"></krossover-team-info>
        <hr>

        <krossover-role
                data-ng-if="role.type.id === ROLES.HEAD_COACH.type.id && role.teamId == team.id"
                data-ng-repeat="role in headCoach.roles"
                data-user="headCoach"
                data-role="role">
        </krossover-role>

        <div data-ng-repeat="assistantCoach in assistantCoaches">

            <krossover-role data-ng-repeat="role in assistantCoach.roles"
                  data-ng-if="role.type.id === ROLES.ASSISTANT_COACH.type.id && role.teamId === team.id && !role.tenureEnd"
                  data-user="assistantCoach"
                  data-role="role">
            </krossover-role>
        </div>

        <hr>

        <h3>Team Roster</h3>

        <krossover-athlete data-ng-repeat="(playerId, rosterEntry) in team.roster.playerInfo"
                           data-athlete="players[playerId]"
                           data-team="team"
                           data-roster-id="roster.id"
                           data-editable="false"></krossover-athlete>
    </aside>

    <main class="content-full">

        <!-- Search and filter bar -->
        <header class="filter-bar">
            <ul class="nav nav-tabs">
                <li><h3>Filter Film:</h3></li>
                <film-home-tabs data-ng-model="filmsList"></film-home-tabs>
                <form class="film-search">
                    <input type="text" id="film-search-cta" class="film-search-input" data-ng-model="query" placeholder="Search for film"/>
                </form>

            </ul>
        </header>

        <no-results ng-if="filteredFilmsList.length === 0"></no-results>
        <!-- NG-REPEAT FILM DIRECTIVES -->

        <div ng-show="filteredFilmsList.length > 0 " class="films-area">
            <krossover-film data-ng-repeat="film in filteredFilmsList = (filmsList | nameOfTheFilm: query | isNotDeleted | sortByDate)" data-film="film"></krossover-film>
        </div>
    </main>

</section>

