.styleguide .content .styleguide-introduction {
    .styleguide-content {
        max-width: 940px;

        p {
            line-height: 1.6;
            letter-spacing: -.4px;
            font-size: 1.2em;
        }
    }
}
