@import (reference) "main.less";

@queue-list-font-size: 14px;
@queue-list-padding: 6px;


.indexer-games-assigned, .indexer-games-available, .indexer-history {

    letter-spacing: normal;

    .sidebar {

        h4 {
            margin-bottom: 0;
        }

        ul {

            padding-left: 20px;
            list-style: none;
            margin-bottom: 30px;

            li:before {
                content: "";
                border-color: transparent @brand-primary;
                border-style: solid;
                border-width: 0.3em 0 0.3em 0.4em;
                display: block;
                height: 0;
                width: 0;
                left: -10px;
                top: 15px;
                position: relative;
            }

            li {

                margin-left: 0;
                height: 25px;

                a {
                    color: @brand-primary;
                    border: none;
                    padding: 0;
                }
            }
        }
    }

    .lookup {

        text-decoration: none;

        .lookup-container {
            width: 100%;
            height: 75px;
            margin: 0;
            padding-left: 40px;
            border: thin solid @gray-border;
            background-color: white;
            color: @gray-darker;

            .left-container {
                text-align: center;
                padding-right: 20px;
                padding-left: 20px;
                padding-top: 10px;
                line-height: 150px;

                i {
                    font-size: 40px;

                    &::before {

                        width: 90px;
                        line-height: 90px;
                        text-align: center;
                        border: 3px solid @gray-darker;
                        border-radius: 50%;
                    }
                }
            }

            .middle-container {

                padding-left: 20px;

                h3 {
                    margin-top: 10px;
                    margin-bottom: 0;
                }
            }

            .right-container {

                .pull-right;
                line-height: 150px;

                i.icon-chevron-right {
                    font-size: 30px;
                    margin-right: 20px;
                }
            }

            div {
                display: table-cell;
                vertical-align: middle;
                height: 150px;
            }
        }
    }

    .indexer-list {

        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        td {

            border: none;
            color: black;
            vertical-align: middle;
            font-size: @queue-list-font-size;
            line-height: 16px;
            padding: @queue-list-padding;
            font-weight: 500;

            &:first-child {

                padding-left: 15px;
            }
        }

        ul {

            padding: 0;
            margin: 0;
        }

        li {

            list-style: none;
        }

        // Base class for buttons used within the queue table
        .index-button {

            padding: 4px 11px;
            line-height: 1;
        }

    }

    .flex-container {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .flex-item {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }
}
