<div class="row">

    <div class="col-md-4">

        <form class="form-info" name="form" role="form">

            <div class="form-group">

                <select class="form-control" name="sport" data-ng-model="league.sportId" data-ng-options="sport.id as sport.name for sport in sports" required>
                    <option value="">Sport</option>
                </select>

                <input class="form-control" name="name" placeholder="Name" data-ng-model="league.name" type="text" required />

                <select class="form-control" name="gender" data-ng-model="league.gender" data-ng-options="gender for gender in genders" required>
                    <option value="">Gender</option>
                </select>
                <select class="form-control" name="tagset" data-ng-model="league.tagSetId" data-ng-options="tagset.id as tagset.name for tagset in tagsets">
                    <option value="">Tag Set</option>
                </select>
                <select class="form-control" name="positionset" data-ng-model="league.positionSetId" data-ng-options="positionset.id as positionset.name for positionset in positionsets">
                    <option value="">Position Set</option>
                </select>
                <input class="form-control" name="number-of-periods" placeholder="Number of Periods" data-ng-model="league.numberOfPeriods" type="number" min="1" />
                <input class="form-control" name="period-label" placeholder="Period Label" data-ng-model="league.periodLabel" type="text" />
                <input class="form-control" name="period-abbreviation" placeholder="Period Abbreviation" data-ng-model="league.periodAbbreviationLabel" type="text" />
                <input class="form-control" name="season-start-month" placeholder="Season Start Month" data-ng-model="league.seasonStartMonth" type="number"  min="1" required />
                <input class="form-control" name="season-start-day" placeholder="Season Start Day" data-ng-model="league.seasonStartDay" type="number"  min="1" required />
                <input class="form-control" name="season-end-month" placeholder="Season End Month" data-ng-model="league.seasonEndMonth" type="number"  min="1" required />
                <input class="form-control" name="season-end-day" placeholder="Season End Day" data-ng-model="league.seasonEndDay" type="number" min="1" required />

            </div>

            <div class="form-group">

                <button class="btn btn-primary" data-ng-disabled="form.$invalid" data-ng-click="save(league)">Save</button>
                <a class="pull-right" href data-ui-sref="leagues">cancel</a>

            </div>

        </form>

    </div>

</div>
