@import (reference) "main.less";

.game-tab {

    .deselected {
      opacity: .5;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .box {
        padding: 0;
    }

    .box-body {

        .table {

            th,
            td {

                width: 220px;
                vertical-align: middle;
            }
        }
    }
}