<div class="box-body plan-defaults-content">
    <p>Pick a team</p>
    <div class="plan-options">
        <select>
            <option>Basketball</option>
            <option>Football</option>
            <option>Lacrosse</option>
            <option>Volleyball</option>
        </select>
        <x-button-add-new class="pull-right" data-ng-click="addPlan()">Add plan</x-button-add-new>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Plan Name</th>
                    <th>Plan Dates</th>
                    <th>Max Games per Season</th>
                    <th>Default # of Regular Games</th>
                    <th>Default # of Scouting Games</th>
                    <th>Turnaround Time</th>
                    <th>Applies to Team</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="plan in plans">
                    <td>{{ plan.name }}</td>
                    <td>{{ plan.startDay }}-{{ plan.endDay }}</td>
                    <td>{{ plan.maxAnyGames }}</td>
                    <td>{{ plan.maxRegularGames }}</td>
                    <td>{{ plan.maxScoutingGames }}</td>
                    <td>{{ plan.maxTurnaroundTime - 12}}-{{ plan.maxTurnaroundTime }} hrs</td>
                    <td>{{ plan.leagueIds }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>