@import (reference) "main.less";

md-content {
    height: 100%;
}

.athlete-edit-profile {
    height: 100%;

    .content {

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .edit-profile-picture-container {
                text-align: center;

                .profile-picture {
                    margin-top: 100px;
                    text-align: center;

                    img,
                    .placeholder-picture {
                        border-color: @gray-border;
                    }
                }

                .krossover-uploader {
                    text-align: center;
                    margin: auto;
                    margin-top: 10px;
                    width: 130px;
                }
            }

            .form-block-half {
                flex: 1;
                width: 49%;
                display: inline-block;

                &:last-child {
                    float: right;
                }
            }

            .form-block-half-row {
                flex: 1;
                width: 49%;

                select {
                    width: 100%;
                }
            }

            .form-block-third {
                flex: 1;
                width: 30%;
                margin-right: 1%;
                display: inline-block;
            }

            .form-block-two-thirds {
                flex: 1;
                width: 65%;
                display: inline-block;

                &:last-child {
                    float: right;
                }
            }

            .form-block-full {
                flex: 1;
                flex-direction: row;
                width: 100%;

                textarea {
                    width: 100%;
                }
            }

            .small-text-field {
                display: inline-block;
                width: 30%;
            }

            .large-text-field {
                display: inline-block;
                width: 80%;
            }

            .field-label {
                display: inline-block;
                width: 19%;
                margin-left: 1%;
                margin-right: -4px;
            }

            select {
                background-color: white;
                padding-right: 30px;
                text-transform: capitalize;
                width: 80%;
            }

            .header-description {
                font-size: @font-size-small;
                font-style: italic;
                font-weight: 400;
                margin-left: 5px;
            }

            .add-team {
                font-size: @font-size-base;
                margin-left: 20px;
                text-decoration: none;
                display: none;
            }

            .team-table {

                background-color: white;

                .team-row-header {
                    font-weight: 500;
                }

                .team-row {
                    flex: 1;
                    flex-direction: row;
                    text-transform: capitalize;

                    td, th {
                        vertical-align: middle;
                        text-align: left;
                        width: 25%;
                        padding: 10px;
                        height: auto;
                        line-height: normal;
                    }

                    .team-cell-radio {
                        text-align: center;
                        width: 20%;
                    }

                    .team-cell-positions {
                        width: 20%;
                    }

                    .team-cell-options {
                        text-align: center;
                        width: 10%;

                        .icon-remove {
                            .pull-right;
                            color: @brand-danger;
                            cursor: pointer;
                        }
                    }
                }
            }

            .button-row {
                margin-top: 10px;
            }

            input[type='number'] {
                -moz-appearance:textfield;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }
    }
}
