@import (reference) "main.less";

.highlights {

    .reels {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .krossover-film {
            width: auto;
            min-width: 280px;
            max-width: 430px;
            flex: 1;
            box-shadow: 0px 1px 7px 0px rgb(225, 225, 225);

            @media only screen
            and (min-width: @md-screen-sm) {
                min-width: 335px;
            }
        }
    }
}
