<div class="highlights">

    <button class="circle-button add-reels-button" ng-show="isCurrentUser" ng-click="manageReels()" hide show-gt-sm><i class="icon icon-plus"></i></button>

    <div class="athlete-info-container">
        <athlete-resume athlete="athlete"></athlete-resume>

        <div class="profile-link-container">
            Share this link:<br>
            <span highlight-on-click>{{config.links.intelligence.uri}}/intelligence/athlete/{{athlete.id}}/profile</span>
        </div>
    </div>

    <div class="profile-reels-container">
        <no-profile-reels ng-hide="profileReels.length || featuredReel"></no-profile-reels>

        <div class="featured-reel-container" ng-show="featuredReel">

            <div class="featured-reel-video">
                <div class="featured-reel-header">
                    <a ui-sref="Reel({id:featuredReel.id})" target="_blank">{{featuredReel.name}}</a>
                </div>
                <video-player video="video"></video-player>
            </div>

            <clips-navigation video="video" plays="playsArray"></clips-navigation>
        </div>

        <div class="reels" ng-show="profileReels.length">
            <krossover-film ng-repeat="reel in profileReels" ng-if="!$first" film="reel"></krossover-film>
        </div>
    </div>

</div>
