<div class="highlights">

    <button class="circle-button add-reels-button" ng-show="isCurrentUser" ng-click="manageReels()" hide show-gt-sm><i class="icon icon-plus"></i></button>

    <div class="athlete-info-container">
        <athlete-resume athlete="athlete"></athlete-resume>

        <div class="profile-link-container">
            Share this link:<br>
            <span>{{config.links.intelligence.uri}}/intelligence/athlete/{{athlete.id}}/profile</span>
        </div>
    </div>

    <div class="featured-reel-container" ng-show="featuredReel">

        <div class="featured-reel-video">
            <div class="featured-reel-header" ui-sref="Reel({id:featuredReel.id})">
                <h3>{{featuredReel.name}}</h3>
            </div>
            <video-player sources="sources"></video-player>
        </div>

        <clips-navigation
            sources="sources"
            current-play="currentPlay"
            previous-play="previousPlay"
            next-play="nextPlay"
            clip-index="clipIndex"
            clip-total="clipTotal"
        ></clips-navigation>
    </div>

    <no-profile-reels ng-hide="highlightReels.length || featuredReel"></no-profile-reels>

    <div>
        <ul class="reels" ng-show="highlightReels.length">
            <krossover-film ng-repeat="reel in highlightReels" film="reel"></krossover-film>
        </ul>
    </div>

</div>
