<div class="highlights">

    <div class="featured-reel-container">
        <div class="featured-reel-header">
            <h3>{{featuredReel.name}}</h3>
        </div>
        <video-player sources="sources"></video-player>
    </div>

    <div class="clips-navigation">
        <div ng-class="{disabled: !previousPlay}"
             class="clip-previous"
             ng-click="goToPlay(previousPlay)">
            <i class="icon icon-chevron-left"></i>&nbsp;Prev
        </div>

        <div class="clip-info">
            <div class="clip-athlete-info">{{athlete.firstName}}&nbsp;{{athlete.lastName}}</div>
            <div class="clip-count">Clip&nbsp;{{clipIndex}}/{{clipTotal}}</div>
        </div>

        <div ng-class="{disabled: !nextPlay}"
             class="clip-next"
             ng-click="goToPlay(nextPlay)">
            Next&nbsp;<i class="icon icon-chevron-right"></i>
        </div>
    </div>

    <div>
        <ul class="reels" ng-show="highlightReels.length">
            <krossover-film ng-repeat="reel in highlightReels" film="reel"></krossover-film>
        </ul>
        <no-profile-reels ng-hide="highlightReels.length"></no-profile-reels>
    </div>
</div>
