@import (reference) "main.less";

md-content {
    height: calc(~"100% - 61px"); 
}

.athlete-profile {
    height: 100%;
    
    header {
        background-color: @brand-blue;
        color: white;

        h2 {
            margin: 0;
            margin-bottom: 20px;
            font-weight: 700;
        }

        .athlete-info {
            text-align: center;
            flex: 1;
        }

        .athlete-attributes {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                margin: 10px 0;

                label {
                    display: block;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                }
            }
        }
    }

    md-tabs {
        box-shadow: 0px 1px 7px 0px @gray-light;
        color: @gray;

        .md-header {
            height: 60px;
            background-color: white;
        }

        md-tabs-ink-bar {
            height: 3px;
            color: @gray-light;
            background-color: @brand-info;
        }

        md-tab {
            padding: 20px 30px;
            color: @gray-light;

            i {
                position: relative;
                top: 2px;
            }
        }

        md-tab[aria-selected="true"] {
            color: @brand-info;

            md-tab-label {
                font-weight: 700;
            }
        }
    }

    .tabpanel-container {
        display: block;
        position: relative;
        padding: 30px;
        height: 100%;
        background: @content-bg;

        .tabpanel {
            color: black;
            width: 100%;
            height: 100%;
            transition: all 0.5s;
            position: absolute;

            // &.ng-leave.ng-leave-active,
            // &.ng-enter {
            //  left: -300px;
            // }

            // &.ng-leave,
            // &.ng-enter.ng-enter-active {
            //  left: 0;
            // }

            // &.ng-leave {
            //  z-index: 100;
            // }
        }
    }
}

@media only screen
and (min-width: 600px) {
    .athlete-profile {

        header { 

            h2 {
                margin-bottom: 0;
            }

            .athlete-info {
                margin-top: 40px;
                text-align: left; // Override
                justify-content: space-around;
                margin-left: 240px;

                > * {
                    margin-bottom: 15px;
                }
            }

            .athlete-attributes {
                align-items: center;
                color: @gray-lighter;

                li {
                    padding: 5px 20px;
                    margin: 0; // Override
                    border-right: thin solid white;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                        border-right: none;
                    }
                }
            }
        }

        md-tabs {
            padding-left: 240px;
        }
    }
}