<div class="role-new">

    <div data-ng-if="users.is(role, HEAD_COACH) || users.is(role, ASSISTANT_COACH)">

        <h4 data-ng-show="users.is(role, HEAD_COACH)">Head Coach</h4>
        <h4 data-ng-show="users.is(role, ASSISTANT_COACH)">Assistant Coach</h4>

        <form name="form" role="form">

            <div class="form-group">

                <select class="form-control" name="sport" id="user-role-sport-dropdown" data-ng-model="sportId" data-ng-options="sport.id as sport.name for sport in sportsList" required>

                    <option value="">Pick a Sport</option>

                </select>

            </div>

            <div class="form-group">
                <team-typeahead  data-ng-hide="!sportId" data-ng-if="users.is(role, HEAD_COACH)" data-sport-id="sportId" data-team="selectedTeam" data-customer-teams="true" data-ng-model="role.teamId" data-without-role="ROLES.HEAD_COACH"></team-typeahead>
                <team-typeahead data-element-id="user-role-team-field" data-ng-hide="!sportId" data-ng-if="!users.is(role, HEAD_COACH)" data-sport-id="sportId" data-team="selectedTeam" data-customer-teams="true" data-ng-model="role.teamId"></team-typeahead>
            </div>

            <div class="form-group">
                <div class="new-roles-controls">
                    <button type="button" id="coach-add-new-user-role-cta" class="btn-role-new"
                        href data-ng-disabled="form.$invalid" data-ng-click="addRole(role)">
                        <i class="icon icon-plus-sign"></i> Add New Role
                    </button>
                    <a id="cancel-role-addition-coach-cta" class="cancel-role-addition" ng-click="removeRole(role)">Cancel</a>
                </div>
            </div>

        </form>

    </div>

    <div data-ng-if="users.is(role, INDEXER)">

        <h4>Indexer</h4>
        <form>
            <div class="form-group">
                <select class="form-control" name="indexerGroup" id="user-role-indexer-group-dropdown" data-ng-model="role.indexerGroupId" data-ng-options="key as value for (key,value) in INDEXER_GROUPS_ID" required>

                    <option value="">Pick an Office/Marketplace</option>

                </select>
            </div>
            <div>
                <div class="new-roles-controls">
                    <a class="btn-role-new" id="indexer-add-new-user-role-cta" href data-ng-click="addRole(role)"><i class="icon icon-plus-sign"></i> Add New Role</a>
                    <a id="cancel-role-addition-indexer-cta" class="cancel-role-addition" ng-click="removeRole(role)">Cancel</a>
                </div>
            </div>
        </form>
    </div>

    <div data-ng-if="users.is(role, ATHLETE)">

        <h4>Athlete</h4>

        <p>Only coaches can add an athlete to a team roster</p>

        <p>Only Athletes can add parents to their account</p>

        <div>
            <div class="new-roles-controls">
                <a class="btn-role-new" href id="athlete-add-new-user-role-cta" data-ng-click="addRole(role)"><i class="icon icon-plus-sign"></i> Add New Role</a>
                <a id="cancel-role-addition-athlete-cta" class="cancel-role-addition" ng-click="removeRole(role)">Cancel</a>
            </div>
        </div>

    </div>

</div>
