@import (reference) "main.less";

.role-new {

    select {

        width: 245px;
    }
}

.btn-role-new {

    font-size: 15px;
    font-weight: 400;
    font-family: @font-family-serif;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.new-roles-controls {
    display: flex;
    .cancel-role-addition {
        margin-left: auto;
        margin-right: 10px;
        cursor:pointer;
    }
}
