<div class="newRole">

    <select data-ng-model="newRole" data-ng-options="role.type.name for role in ROLES | EditableRolesByRole: currentUser.currentRole track by role.type.id">

        <option value="">Pick a Role</option>

    </select>

    <a href data-ng-click="addNewRole(newRole)"><i class="icon-plus-sign"></i> Add Role</a>

</div>

<ul class="list-group">

    <li class="role-new list-group-item" data-ng-repeat="userrole in user.newRoles">

        <x-krossover-new-role user="user" role="userrole"></x-krossover-new-role>

    </li>

</ul>

<ul class="list-group">

    <li class="role list-group-item" data-ng-repeat="userrole in user.roles">

        <span data-ng-show="currentUser.hasAccess(userrole)">

            <a class="btn pull-right" href data-ng-click="users.removeRole(user, userrole)">Remove</a>

        </span>

        <pre>{{userrole}}</pre>

        <x-krossover-role user="user" role="userrole"></x-krossover-role>

    </li>

</ul>

<button class="btn btn-primary" data-ng-disabled="formUserInfo.$invalid" data-ng-click="save(user)">Save</button>

<a class="pull-right" href data-ui-sref="users">Cancel</a>

