<div class="newRole">

    <select data-ng-model="newRole" id="user-roles-dropdown"
    	data-ng-options="role as role.type.name for role in ROLES | EditableRolesByRole: currentUser.currentRole track by role.type.id">

        <option value="">Pick a Role</option>

    </select>

    <a href id="add-user-role-cta" data-ng-click="addNewRole(newRole)"><i class="icon icon-plus-sign"></i> Add Role</a>

</div>

<ul class="list-group">

    <li class="role-new list-group-item" data-ng-repeat="role in newRoles">

        <x-krossover-new-role data-sports="sports" data-teams="teams" user="user" role="role" data-new-roles="newRoles"></x-krossover-new-role>

    </li>

</ul>

<ul class="list-group">

    <li
        class="role role-details list-group-item"
        ng-repeat="role in user.roles | filter:{tenureEnd:null} as filteredRoles"
    >
        <admin-role
            user="user"
            role="role"
        ></admin-role>

        <div
            class="role-options"
            ng-show="currentUser.hasAccess(role)"
        >
            <!-- TODO: Remove Angular Material -->
            <md-button
                class="remove-role"
                id="remove-user-role-cta"
                ng-click="users.removeRole(user, role)"
            >Remove</md-button>
        </div>

    </li>

</ul>
<div class="roles-save">
    <krossover-admin-resource-save
        button-id="save-user-role-updates-cta"
        resource="user"
        disabled="!rolesChanged">
    </krossover-admin-resource-save>
    <a class="pull-right" id="cancel-user-role-updates-cta" href data-ui-sref="users">Cancel</a>
</div>
