<form class="form-contact" name="formUserInfo" role="form">

    <div class="row">

        <div class="col-md-6">

            <div class="form-group">

                <input class="form-control" name="firstName" placeholder="First Name" data-ng-model="user.firstName" type="text" required>

            </div>

        </div>

        <div class="col-md-6">

            <div class="form-group">

                <input class="form-control" name="lastName" placeholder="Last Name" data-ng-model="user.lastName" type="text" required>

            </div>

        </div>

    </div>

    <div class="form-group">

        <input class="form-control" name="email" placeholder="Email" data-ng-model="user.email" type="email" required>

    </div>

    <div class="form-group">

        <input class="form-control" name="phone1" placeholder="Phone Number 1" data-ng-model="user.phone1" type="tel">

    </div>

    <div class="form-group">

        <input class="form-control" name="phone2" placeholder="Phone Number 2" data-ng-model="user.phone2" type="tel">

    </div>

    <button class="btn btn-primary" type="submit" data-ng-click="save(user)">Save</button>

    <button class="btn toggle-lock-user" type="button" data-ng-model="user.isLocked" data-ng-disabled="isLockDisabled()" data-btn-checkbox data-btn-checkbox-true="true" data-btn-checkbox-false="false">
        <i class="icon icon-lock" data-ng-show="!user.isLocked"></i>
        <i class="icon icon-unlock" data-ng-show="user.isLocked"></i>
        {{ user.isLocked ? "Unlock" : "Lock" }}
    </button>

    <button class="btn btn-danger" data-ng-click="users.resendEmail(passwordRequest, null, user.email)">Password Reset</button>

    <a class="pull-right" href data-ui-sref="users">Cancel</a>

</form>
