<div class="newRole">

    <select data-ng-model="newRole" data-ng-options="role as role.type.name for role in ROLES | EditableRolesByRole: currentUser.currentRole track by role.type.id">

        <option value="">Pick a Role</option>

    </select>

    <a href data-ng-click="addNewRole(newRole)"><i class="icon icon-plus-sign"></i> Add Role</a>

</div>

<ul class="list-group">

    <li class="role-new list-group-item" data-ng-repeat="role in newRoles">

        <x-krossover-new-role data-sports="sports" data-teams="teams" user="user" role="role" data-new-roles="newRoles"></x-krossover-new-role>

    </li>

</ul>

<ul class="list-group">

    <li
        class="role role-details list-group-item"
        ng-repeat="role in user.roles | filter:{tenureEnd:null}"
    >
        <x-krossover-role
            user="user"
            role="role"
        ></x-krossover-role>

        <div
            class="role-options"
            ng-show="currentUser.hasAccess(role)"
        >
            <a
                href
                ng-click="users.removeRole(user, role)"
            >Remove</a>

            <div
                class="qa-status-toggle"
                ng-show="role.type.id == ROLES.INDEXER.type.id"
            >

                <label>QA Privileges</label>

                <md-switch
                    ng-model="role.indexerQuality"
                    ng-true-value="1"
                    ng-false-value="0"
                    ng-change="user.save()"
                    class="md-switch-green"
                ></md-switch>
            </div>
        </div>

    </li>

</ul>
<div class="roles-save">
    <button class="btn btn-primary" data-ng-disabled="formUserInfo.$invalid" data-ng-click="save(user)">Save</button>

    <a class="pull-right" href data-ui-sref="users">Cancel</a>
</div>
