<section class="users">

    <aside class="sidebar" data-ng-init="sidebar = true" data-ui-toggle="sidebar">

        <x-button-add-new data-elem-id="add-new-user-cta">Add a new user</x-button-add-new>

        <h3>Search</h3>

        <form role="form" data-ng-submit="search(filter)">

            <div class="form-group">
                <input id="search-user-email-cta" class="form-control" placeholder="Email" data-ng-model="filter.email" type="text">
            </div>

            <div class="form-group">
                <input id="search-user-first-name-cta" class="form-control" placeholder="First Name" data-ng-model="filter.firstName" type="text">
            </div>

            <div class="form-group">
                <input class="form-control" id="search-user-last-name-cta" placeholder="Last Name" data-ng-model="filter.lastName" type="text">
            </div>

            <div class="form-group">
                <select class="form-control" data-ng-model="filter.role" data-ng-options="role.type.id as role.type.name for role in ROLES | EditableRolesByRole: currentUser.currentRole">
                    <option value="">Role</option>
                </select>
            </div>

            <div class="form-group">

                <select class="form-control" data-ng-model="filter.hasNoRoles" data-ng-options="status.value as status.label for status in statuses">
                    <option value="">Status</option>
                </select>

            </div>

            <button id="search-users-cta" class="btn-search" data-ng-show="sidebar" data-ng-disabled="searching" type="submit"><i class="icon icon-search"></i></button>

        </form>

        <button class="btn-search" data-ng-hide="sidebar" data-ng-click="sidebar=!sidebar"><i class="icon icon-search"></i></button>

        <button class="btn-toggle-sidebar" data-ng-show="sidebar" data-ng-click="sidebar = false"><i class="icon icon-chevron-left"></i></button>
        <button class="btn-toggle-sidebar" data-ng-hide="sidebar" data-ng-click="sidebar = true"><i class="icon icon-chevron-right"></i></button>

    </aside>

    <div class="list" data-ng-class="{nosidebar: !sidebar}" data-ng-show="users.length">

        <div class="table-responsive">

            <table class="table table-striped table-hover">

                <tbody>

                    <tr data-ng-repeat="user in users | rolesFilter: filter track by user.id">

                        <td><div class="email">{{user.email}}</div></td>

                        <td><div class="name"><a data-ui-sref="user-info({ id: user.id })">{{user.firstName}} {{user.lastName}}</a></div></td>

                        <td class="roles">

                            <ul>

                                <li data-ng-repeat="role in user.activeRoles()">
                                    <!--only show the roles which have not ended-->
                                    <span data-ng-show="!role.tenureEnd">
                                        <span data-ng-if="Users.is(role, HEAD_COACH)">Head Coach, {{ teams[role.teamId].name }}</span>
                                        <span data-ng-if="Users.is(role, ASSISTANT_COACH)">Assist. Coach, {{ teams[role.teamId].name }}</span>
                                        <span data-ng-if="Users.is(role, ATHLETE)">Athlete, {{ sports[leagues[teams[role.teamId].leagueId].sportId].name }}</span>
                                        <span data-ng-if="!Users.is(role, HEAD_COACH) && !Users.is(role, ASSISTANT_COACH) && !Users.is(role, ATHLETE)">{{role.type.name}}</span>
                                    </span>
                                </li>

                            </ul>

                        </td>

                        <td>
                            <div>{{ user.lastAccessed | date:'short' }}</div>
                        </td>

                        <td>

                            <div class="active" data-ng-if="!user.hasNoRoles() && !user.isLocked">Active</div>
                            <div class="inactive" data-ng-if="user.hasNoRoles() && !user.isLocked">Inactive</div>
                            <div class="status-locked" data-ng-if="user.isLocked"><i class="icon icon-lock"></i> Locked</div>

                        </td>
                        <td>
                            <button data-ng-if="user.hasNoRoles() || !user.has([ROLES.SUPER_ADMIN, ROLES.ADMIN])" data-ng-click="account.gotoAsUser(user)" class="btn btn-primary">Go To As</button>
                        </td>
                    </tr>

                </tbody>

            </table>

        </div>

    </div>

    <data-results data-ng-hide="users.length" data-query="query"></data-results>

</section>

