.header-default {
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: thin solid @gray-border;

    /* Color rules for Admins and Indexers */
    &.admin-role,
    &.super-admin-role,
    &.indexer-role,
    &.film-exchange-admin-role {

        background-color: @brand-secondary;
        color: white;
        border-bottom: none;

        .header-desktop-menu {

            li {
                &:hover,
                &.active {
                    background-color: darken(@brand-secondary, 10%);
                }
            }

            li, .logo-container {
                border-right: thin solid darken(@brand-secondary, 10%);
            }
        }

        .dropdown-menu {
            li > a {
                color: @brand-secondary;
            }
        }

        .mobile-nav > .dropdown-menu > li {
            &:hover, &.active {
                a {
                    color: @brand-secondary;
                }

            }
        }

        .role-dropdown {

            .role {
                .role-icon {
                    color: @brand-secondary;
                }
            }

            .dropdown-menu {

                li {
                    border-bottom: thin solid @gray-border;

                    a {
                        color: @gray-dark;
                    }

                    &:hover > a {
                        color: @brand-secondary;
                    }
                }

                footer > button {
                    color: @gray-dark;

                    &:hover {
                        color: @brand-secondary;
                    }
                }
            }
        }
    }

    /* Color rules for coaches */
    &.head-coach-role,
    &.assistant-coach-role {

        background-color: @brand-primary;
        color: white;
        border-bottom: none;

        .header-desktop-menu {

            li {
                &:hover,
                &.active {
                    background-color: darken(@brand-primary, 10%);
                }
            }

            li, .logo-container {
                border-right: thin solid darken(@brand-primary, 10%);
            }
        }

        .dropdown-menu {
            li > a {
                color: @brand-primary;
            }
        }

        .mobile-nav > .dropdown-menu > li {
            &:hover, &.active {
                a {
                    color: @brand-primary;
                }
            }
        }

        .role-dropdown {

            .role {
                .role-icon {
                    color: @brand-primary;
                }
            }

            .dropdown-menu {

                li {
                    border-bottom: thin solid @gray-border;

                    a {
                        color: @gray-dark;
                    }

                    &:hover > a {
                        color: @brand-primary;
                    }
                }

                footer > button {
                    color: @gray-dark;

                    &:hover {
                        color: @brand-primary;
                    }
                }
            }
        }
    }

    /* Color rules for athletes */
    &.parent-role,
    &.athlete-role {

        background-color: @brand-blue;
        color: white;
        border-bottom: none;

        .header-desktop-menu {

            li {
                &:hover,
                &.active {
                    background-color: darken(@brand-blue, 10%);
                }
            }

            li, .logo-container {
                border-right: thin solid darken(@brand-blue, 10%);
            }
        }

        .dropdown-menu {
            li > a {
                color: @brand-blue;
            }
        }

        .mobile-nav > .dropdown-menu > li {
            &:hover, &.active {
                a {
                    color: @brand-blue;
                }

            }
        }

        .role-dropdown {

            .role {
                .role-icon {
                    color: @brand-blue;
                }
            }

            .dropdown-menu {

                li {
                    border-bottom: thin solid @gray-border;

                    a {
                        color: @gray-dark;
                    }

                    &:hover > a {
                        color: @brand-blue;
                    }
                }

                footer > button {
                    color: @gray-dark;

                    &:hover {
                        color: @brand-blue;
                    }
                }
            }
        }
    }

    /* Color rules for inactive users and public view */
    &.anonymous-role {
    }

    .header-desktop-menu {
        height: 100%;
        padding: 0;

        li {
            height: 100%;
            width: 135px;
            list-style-type: none;

            &.header-dropdown {

                .dropdown;

                &:hover .dropdown-menu {
                    display: block;
                }

                .dropdown-menu {
                    width: 136px;
                    min-width: 136px;
                    margin-left: -1px;

                    &.film-exchange-menu {
                        width: 265px;
                        overflow: hidden;
                        li, a {
                            width: 265px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .tooltip-inner{
                        width: 330px !important;
                    }
                    li {
                        width: 134px;
                        margin: 0px;
                        height: 31px;
                        line-height: 31px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        border-right: none;

                        &:hover,
                        &.active {
                            background-color: @navbar-default-link-hover-bg;
                        }

                        &.suspended {
                            background-color: @gray-light;
                            padding: 0px 10px;
                            font-weight: 500;
                            cursor: default;
                        }

                        .tooltip-inner {
                            max-width: 330px;
                            width: 330px;
                            padding: 10px;
                            text-align: left;
                        }
                    }

                    a {
                        display: block;
                        width: 100%;
                        padding: 3px 10px;
                        cursor: pointer;
                        background-color: transparent;
                    }

                    li.suspended {
                        border-bottom: 1px solid @navbar-default-border;
                    }
                }
            }

            &.header-button {
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: transparent;
                }
            }

            a {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                color: white;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: .8px;
                cursor: pointer;

                .icon-caret-down {
                    margin-left: 5px;
                }

                &.film-exchange {
                    text-transform: none;
                }
            }
        }

        .logo-container {
            height: 100%;
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
        }

        .icon-krossover-symbol {
            align-self: center;
            margin-left: 20px;
        }
    }

    .mobile-nav {

        .dropdown-toggle {
            width: 111px;
            border: none; // Remove default styling
            background-color: transparent; // Remove default styling
            font-weight: 500;
            text-transform: uppercase;
        }

        .dropdown-menu {
            width: 300px;
            margin: 0 auto;
            padding: 0; // Remove default styling
            border-top: 1px solid @gray-border;

            li {
                width: 100%;
                border: none;
                text-align: left;

                &:not(:last-child) {
                    border-bottom: 1px solid @gray-border;
                }

                button {
                    margin-left: @menu-item-indent;
                }

                a {
                    height: 45px;
                    padding-left: @menu-item-indent;
                    color: @gray-dark;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    letter-spacing: .8px;

                    .icon-caret-down {
                        margin-left: 5px;
                    }
                }

                &.active a {
                    background-color: @navbar-default-link-hover-bg;
                }
            }
        }

        .mobile-submenu-toggle {
            cursor: pointer;
        }

        .mobile-submenu {
            list-style-type: none; // Remove default styling
            padding: 0; // Remove default styling
            margin: 0; // Remove default styling

            li {

                &:first-child {
                    border-top: 1px solid @gray-border;
                }

                a {
                    padding: 3px 20px; // Standardize <li> height
                    padding-left: @submenu-item-indent;
                    text-align: left;
                    text-decoration: none;

                    &:hover {
                        background-color: @navbar-default-link-hover-bg;
                    }
                }

                .mobile-suspended{
                    background-color: @gray-light;

                    &:hover{
                        background-color: @gray-light;
                    }
                }
            }
        }

        .navbar-btn {
            margin: 15px 0; // Standardize <li> height
        }
    }

    .hide-option {
        display: none;
    }

    .public-view {
        width: 100%;
        padding: 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .go-to-login {
            margin-right: 10px;
            padding-right: 10px;
            border-right: thin solid @gray-border;
        }
    }

    .icon-krossover-symbol {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .role-dropdown {

        .dropdown;
        flex: 1;
        margin-right: 25px;
        padding-left: 20px;
        max-width: 300px;

        .role-title {
            font-weight: 500;

            .head-coach {
                .title{
                    .title-prefix {
                        display: none;
                    }
                }
            }
        }

        .dropdown-toggle {

            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            outline: 0;
            cursor: pointer;

            .current-role-container {
                height: 100%;

                .role {
                    height: 100%;
                }

                .role-icon {
                    border: thin solid white;
                    background-color: white;
                }
            }

        }

        .dropdown-menu {

            padding: 0;
            margin-top: 0;
            width: 300px;
            left: initial;
            right: 0px;

            .dropdown-roles-container {
                max-height: 600px;
                overflow: auto;
            }

            li {
                border-bottom: thin solid @gray-border;

                &:hover {
                    background-color: @navbar-default-link-hover-bg;
                }

                a {

                    .role-icon {
                        border: thin solid @gray-border;
                    }
                }
            }

            footer {
                display: flex;

                button {
                    .btn-blank;
                    flex: 1;
                    margin: 0;

                    &:hover {
                        background-color: @active-bg;
                    }

                    &:first-child {
                        border-right: thin solid @gray-border;
                    }
                }
            }
        }
    }

    .mobile-logo-container {
        height: 100%;
        width: 70px;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
}


/* Responsive styles */


/* Default display */

.header-default {

    .role-dropdown > .dropdown-toggle {
        justify-content: flex-end;

        .current-role-container {
            flex: 0;
            margin-right: 0;

            .role-title,
            .role-name {

                display: none;
            }
        }
    }

    .mobile-logo-container {
        display: none;
    }
}

/* Screens over 1280px */
@media only screen
and (min-width: 1280px) {

    .header-default {

        .role-dropdown > .dropdown-toggle {
            justify-content: space-between;

            .current-role-container {
                flex: 1;
                margin-right: auto;

                .role-title,
                .role-name {

                    display: block;
                }
            }
        }
    }
}

@menu-item-indent: 49px;
@submenu-item-indent: @menu-item-indent + 30px;

/* Screens less than 1024px */
@media only screen
and (max-width: @screen-md-max) {

    .header-default {
        justify-content: space-between;

        .header-desktop-menu,
        .public-view {
            display: none;
        }

        .mobile-nav {
            display: flex;
        }

        .mobile-logo-container {
            display: flex;
        }

        .role-dropdown {
            flex: 0;
        }
    }
}

/* Screens larger than 1024px */
@media only screen
and (min-width: @screen-lg) {

    .header-desktop-menu {
        display: flex;
    }

    .mobile-nav {
        display: none;
    }
}


/* Screens larger than 1024px and less than 1280px */
/* Max 4 menu items can still show the full profil info */
@media only screen
and (min-width: @screen-lg)
and (max-width: 1280px) {

    .header-default {
        &.menuS{
            .role-dropdown > .dropdown-toggle {
                justify-content: space-between;

                .current-role-container {
                    flex: 1;
                    margin-right: auto;

                    .role-title,
                    .role-name {

                        display: block;
                    }
                }
            }
        }
    }
}

@media only screen
and (max-width: 1104px)
and (min-width: 1024px) {

    .header-default{
        .header-desktop-menu.menuB{
            li{
                width: 120px;
            }
        }
    }
}
