@import (reference) "main.less";

.shot-chart {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .primary-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .teams {
            display: flex;
            justify-content: space-between;
        }
    }


    .shot-chart-arena {
        width: 100%;
        height: 100%;
    }

    krossover-arena {
        display: block;
        margin: 0 auto;
    }
}
