@import (reference) "main.less";

.statsPage {

    padding: 60px;
    height: 100%;
    overflow-y: auto;

    .bball-stats {

        tr {
            background-color: @gray-lighter;
        }

    }

}
