.statsPage {

    dynamic-tables {
        height: 100%;
    }

    .table-options-container {
        display: flex;
        justify-content: flex-end;
    }

    .stats-select-container {
        margin-right: auto;
    }

    padding: 40px 60px;
    height: 100%;
    overflow-y: auto;

    tr {
        background-color: @gray-lighter;
    }

    td {
        text-align: center;
    }

}
