<div class="public-clip">

    <film-header
     film="game"
     play="play">
    </film-header>

    <div class="clip-body">

        <video-player
         sources="sources"
        >
        </video-player>

        <krossover-sidebar>

            <krossover-playlist></krossover-playlist>

        </krossover-sidebar>

        <div class="vertical-spacer"></div>

        <footer data-ng-if="filmId" class="clips-play-navigation">

            <div data-ng-class="{disabled: !previousPlay}"
                 class="clip-previous"
                 data-ng-click="goToPlay(previousPlay)">
                <i class="icon icon-chevron-left"></i>Prev
            </div>

            <div class="clip-info">
                <div data-ng-if="fromReel" class="film-title" data-ui-sref="Reel({id: filmId})">{{filmName}}</div>
                <div data-ng-if="fromGame" class="film-title" data-ui-sref="Games({id: filmId})">{{filmName}}</div>
                <div class="clip-count">Clip&nbsp;{{clipIndex}}/{{clipTotal}}</div>
            </div>

            <div data-ng-class="{disabled: !nextPlay}"
                 class="clip-next"
                 data-ng-click="goToPlay(nextPlay)">
                Next<i class="icon icon-chevron-right"></i>
            </div>
        </footer>
    </div>

</div>

