@import (reference) "main.less";

.instructions {

    div.row {
        margin-left: 0px;
        margin-right: 0px;
    }

    div.box {
        padding: 0;
    }

    .col-md-8 .row:first-child .select-boxes {

        border-top: 1px solid @gray-lighter;
    }

    .col-md-8 .row:last-child .col-md-12 {

        padding: 0;
        margin-top: 25px;

        p {

            font-size: 18px;
            letter-spacing: -0.01em;
        }

        p b {

            color: @brand-blue;
            font-weight: 500;
        }
    }

    .select-boxes{

      padding: 0;
      border-left: 1px solid @gray-lighter;
      border-right: 1px solid @gray-lighter;
      border-bottom: 1px solid @gray-lighter;

      h1 {

        color: @brand-blue;
        font-size: 24px;
        margin-top: 0;
      }

      &:hover {

        background-color: rgb(246, 249, 253);

        .icon-bar-chart,
        .icon-share {

          color: @brand-primary;
          border-color: @brand-primary;
        }
      }

      button {

        .btn-blank;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        padding-top: 50px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 50px;

        p,
        b {
          color: black;
        }

        p {

          margin: 0;
        }

        &.active::after {

          .icon(@ok);
          color: @brand-secondary;
          font-size: 40px;
          position: absolute;
          top: 45px;
          right: 65px;
          line-height: 100px;
        }
      }
    }


    .confirmation-boxes {

      border: 1px solid @gray-lighter;

      .confirmation-text{
        .breakdowns{
          color: @brand-blue;
          font-weight: bold;

          .remaining-breakdowns{
            border-radius:50%;
            display: inline-block;
            width: 50px;
            height: 50px;
            text-align: center;
            padding:10px;
            border: 3px solid @gray-lighter;
          }
        }

        h3 {
          color: @brand-success;
        }

        .icon-bar-chart, .icon-share{
          position:relative;
          color: @brand-success;
          border: 5px solid @brand-success;

          &::after{
            .icon(@ok);
            position:absolute;
            top: 0;
            left: 70px;
            font-size:15px;
            border-radius:50%;
            color: white;
            background:@brand-success;
            padding:2px;
          }
        }

        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        padding-top: 50px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 50px;
      }
    }

    .icon-bar-chart,
    .icon-share {

      width: 100px;
      height: 100px;
      color: @gray-lighter;
      border: 5px solid @gray-lighter;
      border-radius: 50%;
      font-size: 50px;
      margin-right: 25px;

      &::before {

        width: 90px;
        line-height: 90px;
        text-align: center;
      }
    }

    .icon-share::before {

      margin-top: 3px;
      margin-left: 3px;
    }

    .icon-check-empty {

      color: @gray-dark;
      font-size: 40px;
      position: absolute;
      right: 75px;
      line-height: 100px;
    }



}

