<div class="instructions">

    <div class="row">

        <div class="box col-md-12">

            <div class="box-content row">

                <header class="box-header col-md-12">

                    <h3 class="box-title">Choose one of the following options</h3>
                    <x-button-continue data-ng-disabled="formInstructions.$invalid">Save and Submit</x-button-continue>

                </header>
                <div data-ng-show="game.status === null" class="box-body col-md-12">

                    <div class="col-md-8">

                        <form class="form-instructions" name="formInstructions" role="form">

                            <div class="row">

                                <div class="select-boxes col-md-12">

                                    <button type="button" class="btn-radio" data-ng-model="statusBuffer" data-btn-radio="{{ GAME_STATUSES.READY_FOR_INDEXING.id }}" required>

                                        <i class="icon-bar-chart"></i>
                                        <div>
                                            <h1>Break this game down.</h1>
                                            <b>2 breakdowns left this week</b>
                                            <p>10 extra game breakdowns.</p>
                                        </div>
                                        <i class="icon-check-empty"></i>

                                    </button>

                                </div>

                            </div>

                            <div class="row">

                                <div class="select-boxes col-md-12">

                                    <button type="button" class="btn-radio" data-ng-model="statusBuffer" data-btn-radio="{{ GAME_STATUSES.NOT_INDEXED.id }}">

                                        <i class="icon-share"></i>
                                        <div>
                                            <h1>Keep for sharing</h1>
                                            <p>This game can be submitted</p>
                                            <p>for breakdown later</p>
                                        </div>
                                        <i class="icon-check-empty"></i>

                                    </button>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-12">

                                    <p><b>About Sharing:</b> Once the game is finished uploading and processing it is available to everyone on your team.</p>
                                    <p><b>About changing information:</b> Game information can not be changed after break down has begun.</p>

                                </div>

                            </div>

                        </form>

                    </div>

                    <div class="col-md-3 pull-right">

                        <x-krossover-plan></x-krossover-plan>

                    </div>

                </div>

                <div data-ng-hide="game.status === null" class="box-body col-md-12">
                    {{statusBuffer}}
                    {{game.status}}
                    {{game.status === null}}

                    This is the confirmation screen
                </div>

            </div>

        </div>

        <x-button-continue data-ng-disabled="formInstructions.$invalid">Save and Submit</x-button-continue>

    </div>

</div>

