<x-tabset class="coach-game">

    <x-tab
        data-active="gameTabs.confirm.active"
        data-disabled="gameTabs.confirm.disabled"
        data-heading="Instructions"
    >

        <krossover-coach-game-instructions data-tabs="gameTabs" data-data="data"></krossover-coach-game-instructions>

    </x-tab>

    <x-tab
        data-active="gameTabs.opposing.active"
        data-disabled="gameTabs.opposing.disabled"
        data-heading="{{ teams[data.game.opposingTeamId].name || 'Opposing Team' }}"
    >

        <krossover-coach-game-opposing-team data-tabs="gameTabs" data-validation="validation" data-data="data"></krossover-coach-game-opposing-team>

    </x-tab>

    <x-tab
        data-ng-if="data.game.isRegular()"
        data-active="gameTabs.team.active"
        data-disabled="gameTabs.team.disabled"
        data-heading="{{ teams[data.game.teamId].name || 'Team' }}"
    >

        <krossover-coach-game-your-team data-tabs="gameTabs" data-data="data"></krossover-coach-game-your-team>

    </x-tab>

    <x-tab
        data-ng-if="data.game.isNonRegular()"
        data-active="gameTabs.scouting.active"
        data-disabled="gameTabs.scouting.disabled"
        data-heading="{{ teams[data.game.teamId].name || 'Team' }}"
    >

        <krossover-coach-game-team data-tabs="gameTabs" data-validation="validation"  data-data="data"></krossover-coach-game-team>

    </x-tab>

    <x-tab
        data-active="gameTabs.info.active"
        data-heading="Basic Game Info"
    >

        <krossover-coach-game-info data-tabs="gameTabs" data-data="data" data-flow="$flow" data-headings="headings"></krossover-coach-game-info>

    </x-tab>

</x-tabset>
