@import (reference) "main.less";

.public-game {

    .public-game-header {
        background-color: @content-bg;
        border-bottom: thin solid @gray-border;
        margin-bottom: 20px;
        padding: 10px;

        h3 {
            display: inline;
            color: @brand-blue;
        }
    }
    
    .player {
        margin: auto;
        display: table;
    }
}
