.login-forgot {

    .form-forgot {

        .form-horizontal;

        .form-group {

            margin-left: 0;
            margin-right: 0;
            position: relative;
        }

        .form-group:last-child {

            margin-top: 30px;
        }

        h2,
        p {

            color: @brand-blue;
        }

        h2 {

            letter-spacing: -0.01em;
        }

        p {

            letter-spacing: 0.01em;
            margin-bottom: 0;
        }

        .forgot-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {

                .btn;
                margin-left: auto;

                &:enabled {

                    .btn-important-action;
                }
            }
        }
    }
}


/**
 * Responsive sizes.
 */


/* Screens under 480px */
@media only screen
and (max-width: 479px) {

    .login-forgot {

        .form-forgot {

            width: 100%;
            padding-left: 20px;
            padding-right: 20px;

        }

        .button-forgot {

            width: 100%;
        }
    }
}

/* Screens over 480px */
@media only screen
and (min-width: 480px) {

    .login-forgot {

        .button-forgot {

            .pull-right;
            width: 150px;
        }
    }
}
