.login-forgot {

    .form-forgot {

        text-align: center;

        .form-horizontal;

        .form-group {

            margin-left: 0;
            margin-right: 0;
            position: relative;
        }

        .form-group:last-child {

            margin-top: 30px;
        }

        h2,
        p {

            color: black;
        }

        h2 {

            letter-spacing: -0.01em;
        }

        p {

            letter-spacing: 0.01em;
            margin-bottom: 0;
        }
    }

    .goBack {
        .pull-left;
        font-size: 18px;
        line-height: 62px;
    }

    .button-forgot {

        .btn;
        .btn-lg;
        height: 62px;
        .uppercase;

        &:enabled {

            .btn-primary;
        }
    }
}


/**
 * Responsive sizes.
 */


/* Screens under 480px */
@media only screen
and (max-width: 479px) {

    .login-forgot {

        .form-forgot {

            width: 100%;
            padding-left: 20px;
            padding-right: 20px;

        }

        .button-forgot {

            width: 100%;
        }
    }
}

/* Screens over 480px */
@media only screen
and (min-width: 480px) {

    .login-forgot {

        .button-forgot {

            .pull-right;
            width: 150px;
        }
    }
}
