.login-locked {

    height: 100%;
    letter-spacing: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    color: @gray-medium;
    margin-top: 50px;

    .icon-lock {
        font-size: 70px;
        margin-right: 20px;
        padding-right: 20px;
        border: 2px solid #7e7e7e;
        padding: 0px;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }

    .locked-message {

        border-left: thin solid #7e7e7e;
        padding: 15px;

        h2 {
            text-transform: uppercase;
            margin: 0;
        }

        p {
            margin: 0;
        }
    }
}


/**
 * Responsive sizes.
 */


/* Screens under 480px */
@media only screen
and (max-width: 479px) {

    .login-locked {

        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
