<div class="login-login">
    <div>
    <i class="icon icon-football"></i>
    <i class="icon icon-volleyball"></i>
    </div>
    <h1>Football + Volleyball</h1>

    <form class="form-login" name="form" role="form" data-ng-submit="submitLogin()" novalidate>

        <div class="form-group">

            <input class="form-field-login" name="email" type="email" placeholder="Your email" data-ng-model="$parent.login.email" data-ng-change="form.email.$setValidity('notfound', true);" data-errors="{ required: 'Required!', email: 'This is not a valid email.', notfound: 'No account found for that email.' }" autofocus required>

        </div>

        <div class="form-group">

            <input class="form-field-login" name="password" type="password" placeholder="Password" data-ng-model="$parent.login.password" data-ng-change="form.password.$setValidity('password', true);" data-errors="{ required: 'Required!', password: 'Wrong password, try again.' }" oncopy="return false;" onpaste="return false;" required>

        </div>

        <div class="form-group">

            <div class="user-remember">
                <input id="remember" name="remember" type="checkbox" data-ng-model="$parent.login.remember">
                <label for="remember"><i class="icon icon-ok"></i> Remember Me</label>
            </div>

            <div class="password-reset"><a id="forgot-password-cta" href data-ui-sref="forgot">Forgot your password?</a></div>

        </div>

        <div class="form-group">

            <button class="button-signin" type="submit" data-ng-disabled="form.$invalid || $parent.login.submitted">

                <span data-ng-hide="$parent.login.submitted">Sign In</span>
                <span data-ng-show="$parent.login.submitted">Signing In...</span>

            </button>

        </div>

    </form>

</div>
