<div class="login-view">

    <div class="login-header">
        <h2>Sign into Krossover</h2>
        <h4>Enter your details below</h4>
    </div>

    <form class="form-login" name="form" role="form" ng-submit="submitLogin()" novalidate>

        <div class="form-group">

            <label>User Name</label>
            <input class="form-field-login" name="email" type="email" placeholder="example@gmail.com" ng-model="$parent.login.email" ng-change="form.email.$setValidity('notfound', true);" errors="{ required: 'Required!', email: 'This is not a valid email.', notfound: 'No account found for that email.' }" autofocus required>

        </div>

        <div class="form-group">

            <label>Password</label>
            <input class="form-field-login" name="password" type="password" ng-model="$parent.login.password" ng-change="form.password.$setValidity('password', true);" errors="{ required: 'Required!', password: 'Wrong password, try again.' }" oncopy="return false;" required>

        </div>

        <div class="form-group">

            <form-toggle
             class="remember-me"
             name="remember"
             id="remember"
             model="$parent.login.remember">Remember Me</form-toggle>

            <div class="password-reset">

                <a class="blue-link" id="forgot-password-cta" href ui-sref="forgot">Forgot your password?</a>

            </div>

        </div>

        <div class="form-group">

            <button
             id="sign-in-cta"
             class="button-signin"
             type="submit"
             ng-disabled="form.$invalid || $parent.login.submitted"
            >

                <span ng-hide="$parent.login.submitted">Sign In</span>
                <span ng-show="$parent.login.submitted">Signing In...</span>

            </button>

        </div>

    </form>

</div>
