@import (reference) "main.less";
@import (reference) "styles.less";

.login-login {

    margin-top: 30px;
    letter-spacing: normal;

    .form-login {

        .form-horizontal;

        .form-group {

            margin-left: 0;
            margin-right: 0;
            position: relative;

            data-error {
                position: relative !important;
                text-align: left;
                line-height: 20px !important;
                left: 0px !important;
            }
        }
    }

    .user-remember {

        &:extend(.login-checkbox all);
    }
}

.password-reset {

    .text-right;
    line-height: 45px;
}

.button-signin {

    width: 100%;
    height: 45px;
    background-color: @btn-default-bg;
    margin: auto;

    & {

        .btn;
        .btn-lg;
        padding: 0;
    }

    &:enabled {

        .btn-primary;
    }
}

/**
 * Responsive sizes.
 */


/* Screens under 480px */
@media only screen
and (max-width: 479px) {

    .login-login {

        display: none;

        .form-login {

            width: 100%;
            padding-left: 20px;
            padding-right: 20px;

        }

        .button-signin {

            width: 100%;
        }

        .password-reset {

            .text-center;
        }

        .user-remember {

            .hide;
        }
    }
}
