.login-view {

    width: 400px;

    .login-header {
        margin-bottom: 20px;

        h2, h4 {
            margin: 0;
            font-weight: normal;
        }
    }

    .form-login {

        .form-horizontal;

        .form-group {

            margin-left: 0;
            margin-right: 0;
            position: relative;

            data-error {
                position: relative !important;
                text-align: left;
                line-height: 20px !important;
                left: 0px !important;
            }
        }
    }

    label {
        font-weight: normal;
    }
}

.password-reset {

    .text-right;
    line-height: 45px;
}

.button-signin {

    width: 100%;
    height: 45px;
    background-color: @btn-default-bg;
    margin: auto;

    & {

        .btn;
        .btn-lg;
        padding: 0;
    }

    &:enabled {

        .btn-important-action;
    }
}

.remember-me {

    .pull-left;

    .check-box {
        font-size: 18px;
        margin-right: 5px;

        &.icon-check-square {
            color: @brand-light-blue;
        }
    }
}

/**
 * Responsive sizes.
 */


/* Screens under 480px */
@media only screen
and (max-width: 479px) {

    .login-view {

        display: none;

        .form-login {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
