.login-maintenance {

    height: 100%;
    letter-spacing: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    color: @gray-medium;

    .icon-logo {
        font-size: 100px;
        margin-right: 20px;
        padding-right: 20px;
        border-right: thin solid @gray-medium;
    }

    .maintenance-message {

        h2 {
            text-transform: uppercase;
            margin: 0;
        }

        p {
            margin: 0;
        }
    }
}


/**
 * Responsive sizes.
 */


/* Screens under 480px */
@media only screen
and (max-width: 479px) {

    .login-maintenance {

        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
