<div class="login-new-user">

    <form
     class="form-new-user"
     name="newUserForm"
     role="form"
     ng-submit="submitNewUserPassword()"
     novalidate>

        <div class="form-group">

            <h2>Welcome to Krossover</h2>
            <p>Enter a password to finish setting up your account</p>

        </div>

        <div class="form-group new-user-password-group">

            <div class="form-group">

                <input
                 id="new-user-password"
                 class="form-field-login"
                 name="password"
                 ng-attr-type="{{newUser.showPassword ? 'text' : 'password'}}"
                 ng-minlength="4"
                 placeholder="New Password"
                 ng-model="newUser.password"
                 ng-trim="false"
                 data-errors="{ required: 'Required!', minlength: 'Password must be at least 4 characters long.'}"
                 oncopy="return false;"
                 onpaste="return false;"
                 required>

            </div>

            <button
             id="show-hide-password"
             class="show-hide-password"
             ng-click="newUser.showPassword = !newUser.showPassword;"
             type="button">{{newUser.showPassword ? 'Hide' : 'Show'}}</button>

        </div>

        <form-toggle
         name="remember"
         class="new-user-accept"
         data-id="new-user-accept-terms-cta"
         data-required="true"
         model="newUser.agree">

            I agree to the <a data-ng-click="showTerms($event);">Krossover Terms &amp; Conditions</a>

        </form-toggle>

        <a
         href="https://twitter.com/krossovr"
         class="twitter-follow-button"
         data-show-count="false"
         data-size="large">Follow @krossovr</a>

        <div class="form-group">

            <button
             class="button-set-password"
             type="submit"
             ng-disabled="newUserForm.$invalid || newUser.submitted">

                <span data-ng-hide="newUser.submitted">Go to your account</span>
                <span data-ng-show="newUser.submitted">Submitting...</span>

            </button>

        </div>

    </form>

</div>
