@import (reference) "main.less";

.login-reset {

    .form-reset {

        text-align: center;

        .form-horizontal;

        .form-group {

            margin-left: 0;
            margin-right: 0;
            position: relative;
        }

        .desktop({
            .form-group:first-child {

                margin-bottom: 50px;
            }
        });

        .form-group:last-child {

            margin-top: 30px;
        }

        h2,
        h3 {

            color: black;
            font-weight: 400;
        }

        h2 {

            letter-spacing: -0.01em;

            .mobile({

                font-size: @font-size-large;
            });
        }

        h3 {

            color: @brand-primary;
            font-size: 16px;
            text-transform: uppercase;
            margin-top: 0;
            letter-spacing: 0.1em;
        }
    }

    .go-back {

        .pull-left;
        font-size: @font-size-base;
        line-height: 62px;

        /* FIXME: Once mobile login for v2 is enabled, we have to remove the
         * mobile style below to enable the back button. */
        .mobile({

            display: none;
        });
    }

    .button-reset {

        .btn;
        .btn-lg;
        height: 62px;

        &:enabled {

            .btn-primary;
        }
    }
}


/**
 * Responsive sizes.
 */


/* Screens under 480px */
@media only screen
and (max-width: 479px) {

    .login-reset {

        .form-reset {

            width: 100%;
            padding-left: 20px;
            padding-right: 20px;

        }

        .form-field-login {

            width: ~"calc( 100% - 20px - 20px - 3px - 3px )";
        }

        .button-reset {

            width: 100%;
        }
    }
}

/* Screens over 480px */
@media only screen
and (min-width: 480px) {

    .login-reset {

        .form-field-login {

            width: 404px;
        }

        .button-reset {

            .pull-right;
            width: 150px;
        }
    }
}


/**
 * Browser fixes.
 */


.login-reset {

    .button-reset {

        background-color: @btn-default-bg;
    }
}
