@import (reference) "main.less";

.login {

    display: -webkit-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .newLogin {

        width: 49%;
        border-right: thin solid @gray-border;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding-right: 50px;

        .icon-krossover-logo {

            width: 447px;
            height: 109px;
            margin-top: 20px;
            margin-bottom: 20px;
            background-size: contain;
            background-position: center center;
            margin: auto;
        }

        .form-field-login {

            .form-control;
            .input-lg;
            width: 90%;
            box-sizing: content-box;
            border-width: 3px;
            padding: 15px 20px;
            height: 36px;
            font-size: 26px;
            font-weight: 400;
            letter-spacing: -0.01em;

            &.ng-dirty {

                &.ng-invalid-notfound:focus
                &.ng-invalid-password:focus {

                    border-color: red;
                }

                &.ng-invalid-notfound:focus + .error,
                &.ng-invalid-password:focus + .error {

                    .show;
                }
            }
        }
    }

    .oldLogin {

        width: 49%;
        display: table-cell;
        vertical-align: middle;
        padding-left: 50px;

        .oldBox {
            height: 157px;
            background-color: @brand-primary;
            padding: 20px 20px;
            border-radius: 4px;
            color: white;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: normal;

            div {
                margin-top: 20px;
            }

            .icon-basketball {
                .pull-right;
                margin-right: 30px;
                font-size: 40px;
            }

            .icon-lax-sticks {

                width: 100px;
                height: 50px;
                background-size: cover;
                background-position: center center;
                margin: 0;
            }

            button {
                color: @gray-dark;
                background-color: @gray-lighter;
                margin-top: 10px;
            }
        }
    }
}


/**
 * Responsive sizes.
 */


/* Screens under 480px */
@media only screen
and (max-width: 479px) {

    .login {

        width: 100%;

        .newLogin {

            padding: 0;
            border: none;

            .icon-krossover-logo {

                width: 270px;
            }

            .form-field-login {

                width: ~"calc( 100% - 20px - 20px - 3px - 3px )";
            }
        }

        .oldLogin {

            display: none;
        }
    }
}

/* Screens over 480px */
@media only screen
and (min-width: 480px) {

    .login {

        .form-field-login {

            width: 404px;
        }
    }
}

