@import (reference) "main.less";

.login {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .icon-krossover-logo-tagline {

        width: 447px;
        height: 109px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-size: contain;
        background-position: center center;
    }

    .form-field-login {

        .form-control;
        .input-lg;
        box-sizing: content-box;
        border-width: 3px;
        padding: 15px 20px;
        height: 36px;
        font-size: 26px;
        font-weight: 400;
        letter-spacing: -0.01em;

        &.ng-dirty {

            &.ng-invalid-notfound:focus
            &.ng-invalid-password:focus {

                border-color: red;
            }

            &.ng-invalid-notfound:focus + .error,
            &.ng-invalid-password:focus + .error {

                .show;
            }
        }
    }
}


/**
 * Responsive sizes.
 */


/* Screens under 480px */
@media only screen
and (max-width: 479px) {

    .login {

        width: 100%;

        .icon-krossover-logo-tagline {

            width: 270px;
        }

        .form-field-login {

            width: ~"calc( 100% - 20px - 20px - 3px - 3px )";
        }
    }
}

/* Screens over 480px */
@media only screen
and (min-width: 480px) {

    .login {

        .form-field-login {

            width: 404px;
        }
    }
}

