@import (reference) "main.less";

.login {

    .error {
        color: @brand-danger;
    }

    position: relative;
    color: @brand-blue;
    letter-spacing: normal;
    display: block;
    overflow-y: auto;
    height: 100%;

    .phone({

        height: auto;
    });

    .icon-krossover-logo {

        .full-page-icon-krossover-logo;
    }

    .login-container {
        margin: auto;
        display: table;
    }

    h1 {
        margin-top: 5px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 28px;
        text-transform: uppercase;
    }

    .form-field-login {

        .form-control;
        width: 93%;
        margin: auto;
        box-sizing: content-box;
        border-width: 2px;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -0.01em;

        &.ng-dirty {

            &.ng-invalid-notfound:focus
            &.ng-invalid-password:focus {

                border-color: red;
            }

            &.ng-invalid-notfound:focus + .error,
            &.ng-invalid-password:focus + .error {

                .show;
            }
        }
    }

    .new-login {

        width: 50%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding-right: 50px;
        border-right: thin solid @gray-border;

        &.new-user {

            padding-right: 0;
            border-right: none;
        }
    }

    .icon-row > .icon {
        font-size: 50px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .oldLogin {

        width: 50%;
        display: table-cell;
        padding-top: 30px;
        padding-left: 50px;
        text-align: center;
    }

    .app-links {
        margin: auto;
        text-align: center;
        margin-bottom: 30px;
    }

    .temp-warning {
        background: @state-warning-bg;
        border: 1px solid @state-warning-border;
        color: @state-warning-text;
        margin: auto;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 350px;
        display: none;

        .icon {
            font-size: 16px;
        }
    }
}


/**
 * Responsive sizes.
 */

@media only screen
and (max-width: @screen-md) {
    .login {
        h1 {
            font-size: 22px;
        }

        .icon-row > .icon {
            font-size: 40px;
        }
    }
}

@media only screen
and (max-width: @screen-sm) {
    .login {
        h1 {
            font-size: 16px;
        }

        .icon-row > .icon {
            font-size: 30px;
        }

        .password-reset,
        .remember-me {
            font-size: 14px;
        }
    }
}

/* Screens under 480px */
@media only screen
and (max-width: @screen-xs) {

    .login {

        width: 100%;
        flex-direction: column;
        padding: 0;

        .login-container {
            display: block;
        }

        .new-login {

            padding: 0;
            border: none;

            .form-field-login {

                width: ~"calc( 100% - 20px - 20px - 3px - 3px )";
            }
        }

        h1 {
            font-size: 20px;
        }

        .oldLogin {

            padding: 20px;
            display: block;
            width: 100%;

            .form-field-login {

                width: ~"calc( 100% - 20px - 20px - 3px - 3px )";
            }

            .button-signin {

                width: 100%;
            }

            .password-reset {

                .text-center;
            }
        }

        .app-links {
            display: block;

            p {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
}

/* Screens over 480px */
@media only screen
and (min-width: @screen-xs) {

    .login {
        padding-top: 100px;
    }

    .app-links {
        display: none;
    }
}
