<x-alertbar></x-alertbar>
<section class="login">

    <header ui-view="header"></header>
    <div ng-show="hideSidebar" class="corner-logo icon-krossover-symbol-circle"></div>
    <i ng-hide="hideSidebar || !onLoginState" class="corner-logo icon icon-logo-circle"></i>

    <div class="login-sidebar" ng-hide="hideSidebar || isMobile || !onLoginState" ng-class="{
                        'background-basketball': randomHighlightsBackgroundNumber === 0,
                        'background-football': randomHighlightsBackgroundNumber === 1,
                        'background-lax': randomHighlightsBackgroundNumber >= 2
                        }">
        <i class="icon icon-close" ng-click="hideSidebar = true"></i>
        <h4>Krossover custom highlights</h4>
        <h2>Get quality highlights straight from your game film</h2>
        <p>Intro graphics. Choose some tunes.</p>
        <p>Save some dough.</p>
        <a href="{{config.links.customHighlights.uri}}" target="_blank"><button class="ko-btn important-action-btn">Learn More</button></a>
    </div>

    <div class="login-container">

        <!-- Mobile App Download Messaging -->
        <section ng-if="isMobile" class="login__app-downloads">
            <div class="optimal-experience">
                <h5>For optimal experience download our apps</h5>
            </div>
            <app-downloads></app-downloads>
        </section>

        <main ui-view="main"></main>

    </div>
</section>

<loading></loading>
