.box {

    border-left: 1px solid @gray-lighter;
    border-right: 1px solid @gray-lighter;
    border-bottom: 1px solid @gray-lighter;

    .box-header {

        height: 50px;
        padding-top: 13.5px;
        padding-bottom: 13.5px;
        background-color: @brand-blue;
        border: 1px solid @brand-blue;
        text-align: left;

        .box-title {

            .pull-left;
            color: white;
            margin: 0;
            font-size: 18px;
            font-weight: 200;
            line-height: 23px;
        }
    }

    .box-body {

        background-color: white;
        padding: 30px;
        height: 100%;
    }

}
