@import (reference) "main.less";

.btn-link {

    &:focus,
    &:hover {

        text-decoration: none;
    }
}

.btn-remove {

    .btn;
    .btn-blank;
    color: red;
}

.btn-submit-continue {

    .btn;
    .btn-lg;
    .btn-primary;
    .pull-right;
    width: 200px;

    i {

        font-size: 16px;
        line-height: 26px;
    }
}

.box .box-header .btn-submit-continue {

    .btn-sm;
    width: 120px;
    padding-top: 0;
    padding-bottom: 0;

    i {

        font-size: 10px;
        line-height: 21px;
    }
}

.box + .btn-submit-continue {

    margin-top: 30px;
}

.btn-radio {
    .btn;
    background-color: inherit;
    border: none;

    &::before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: @gray-lighter;
        border: 1px solid @gray-darker;
        border-radius: 50%;
        margin-right: 10px;
    }

    &.active {

        color: @gray-darker;
        box-shadow: none;

        &::before {

            background-color: @brand-primary;
            border-color: @gray-darker;
        }
    }

    &:focus {
        outline: none !important;
    }
}

.btn-group-vertical {

    width: 100%;

    .btn-radio {

        .btn;
        width: 100%;

        &:first-child {

            border-top-left-radius: @border-radius-base;
            border-top-right-radius: @border-radius-base;
        }

        text-align: left;
        color: rgb(115, 115, 115);
        background-color: white;
        border-radius: 0;
        border-top: 1px solid @gray-lighter;
        border-left: 1px solid @gray-lighter;
        border-right: 1px solid @gray-lighter;

        &:last-child {

            border-bottom: 1px solid @gray-lighter;
            border-bottom-left-radius: @border-radius-base;
            border-bottom-right-radius: @border-radius-base;
        }
    }
}

.btn-video {

    .btn;
    .btn-blank;
    color: @gray-dark;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
}

.btn-add-new {

    .btn;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    text-transform: none;
    line-height: 35px;
    background-color: rgb(239, 239, 239);

    &,
    &:hover,
    &:active {

        color: rgb(88, 88, 88);
    }
}

.btn-simple-save {
    color: @brand-success;
    letter-spacing: normal;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: darken(@brand-success, 10%);
        text-decoration: none;
    }
}

.btn-simple-cancel {
    color: @brand-danger;
    letter-spacing: normal;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: darken(@brand-danger, 10%);
        text-decoration: none;
    }
}

.circle-button {
    border-radius: 100%;
    border: none;
    box-shadow: 1px 1px 5px black;
    width: 45px;
    height: 45px;
    line-height: 49px;
    font-size: 30px;
}
