@import (reference) "main.less";

.content {

    flex: 1;
    overflow-y: scroll;
}

/* TEMP */
.content {
    background-color: @content-bg;
}

.content-full {

    background-color: white;
}

.content-topbar,
.content-sidebar {

    background-color: @content-bg;
}

/* TEMP */
.content {
    padding: 50px;
}
