@import (reference) "krossover-variables.less";

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color: #000;
    border: thin solid @gray-border;
    border-radius: 2px;
    background-color: @content-bg;

    &__header {
        width: 100%;
        height: 40px;
        padding: 10px 20px;
        background-color: @gray-lighter;
        color: @brand-blue;
    }
}
