select,
select.form-control {

    color: @gray-dark;
    padding: 0.5em;
    line-height: normal;
    border: 1px solid rgb(221, 221, 221);
    border-radius: @border-radius-base;
    background-image: url("assets/select.png");
    background-repeat: no-repeat;
    background-position: right;
}

.form-control[disabled] {
    opacity: .5;
}

input[type="color"] {

    width: 32px;
    height: 32px;
    padding: 4px;
    border-color: rgba(0,0,0,0.40);
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    -webkit-appearance: none;

    &::-webkit-color-swatch-wrapper {

        padding: 0;
    }

    &::-webkit-color-swatch {

        border: none;
    }
}

input[type="search"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
}

@size: 16px;

.pseudo-color(@color) {

    &::before {

        content: "";
        width: @size;
        height: @size;
        display: inline-block;
        margin-right: 8px;
        border: thin solid black;
        border-radius: 2px;
        background-color: @color;
    }
}

ul.priority-list{
    .highest-priority {

        .pseudo-color(@priority-color-highest);
    }

    .high-priority {

        .pseudo-color(@priority-color-high);
    }

    .normal-priority {

        .pseudo-color(@priority-color-normal);
    }
}

.md-dropdown{

    .single-button{
        color: @gray-dark;
        border: none;
        background: transparent;
        border-bottom: 1px solid rgba(0,0,0,0.12);
        padding-left: 0px;
        .caret{
            margin-left: 15px;
            border-width: 6px;
        }
    }
    .dropdown-menu{
        li{
            &>a{
                padding: 8px 20px;
                &.selected{
                    color: #ef4924;
                    font-weight: 500;
                    background-color: #F6F9FE!important;
                    .dropdown-label{
                        a{
                            font-weight: 500;
                            color: black;
                        }
                    }
                }
            }
        }
        li.normal-priority{
            &>a{
                .pseudo-color(@priority-color-normal);
            }
        }
        li.high-priority{
            &>a{
                .pseudo-color(@priority-color-high);
            }
        }
        li.highest-priority{
            &>a{
                .pseudo-color(@priority-color-highest);
            }
        }
        .dropdown-label{
            a{
                padding: 0px !important;
            }
        }
    }
}
