/* Bootstrap Overrides
* Provides overrides for items specifically set by Bootstap. */


@import (reference) "main.less";

.no-outline {

    &:focus {
        outline: none;
    }
}

input {

    box-shadow: none;
    &:extend(.no-outline all);
}

x-multiselect,
button,
tr,
td {

    &:extend(.no-outline all);
}

a {

    &:extend(.no-outline all);
    &:focus {

        text-decoration: none;
    }
}

.disabled {
    pointer-events: none;
}

.form-control {

    box-shadow: none;
}

.dropdown-menu {

    box-shadow: none;
    border-radius: 0;

    li a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.375;
        color: #737474;
        white-space: nowrap;
    }
}

.nav-pills > li > a {

    border-radius: 0;
}

.btn,
.btn-lg,
.btn-danger {

    &,
    &:focus,
    &:active
    &.active {

        outline: none;
        outline-offset: 0;
        box-shadow: none;
    }
}

.btn,
.btn-lg {

    border-radius: @border-radius-small;
}

.btn-group-vertical {
    .btn-radio:active,
    .btn-radio.active {
        box-shadow: none;
    }
}

.navbar {

    margin-bottom: 0;
    border: none;
}

.alert {

    border: none;
    margin-bottom: 0;
}

.progress {

    .box-shadow(none);
    border-radius: 0;
}

/* Icon Style Overrides */

.icon::before {
    display:inline-block;
}

/* Accordion Style Overrides */


/**
* Browser specific
*/
.panel-group, .panel {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.panel-default > .panel-heading {
    background-color: transparent;
    padding: 0;
}

.panel-body {
    padding: 0;
    border-top: none !important;
}

/* NOTE:
* Although these prefixed values are not necessary anymore, because Bootstrap
* sets them explicitly with undesired styles they need to be overridden. */

/* Mobile Safari */

input {

    -webkit-box-shadow: none;
}

select {

    -webkit-appearance: none;
}

.form-control {

    -webkit-appearance: none;
}

/* Firefox */

select {

    -moz-appearance: none;
}

/* Tables */
/* We don't want the table to scroll unless on mobile. This breaks things like
 * the typehead on for rosters on game uploads. */

.table-responsive {

    overflow-x: visible;

    @media (max-width: 1024px) {

        overflow-x: auto;
    }
}
