@import "krossover-variables.less";

.form-control {

    box-shadow: none;
}

.dropdown-menu {

    box-shadow: none;
    border-radius: 0;
}

.modal {

    display: block;
}

.modal-content {

    border-radius: @border-radius-base;
}

