krossover-team-label-icon {

    border: thin solid black;
    border-radius: 2px;
    padding: 0px 5px 0 7px;
    color: black;
    font-size: 12px;
    letter-spacing: 1px;

    &:hover {

        cursor: default;
    }
}
