@import (reference) "main.less";

// TODO: Remove these styles in favour of a flex system, like flexboxgrid
.layout--centered {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
