@import (reference) "main.less";

md-dialog-content {

    padding: 0 !important; // default: 24px;
}

.md-button {

    min-width: 0 !important; // default: 88px;
    margin: 0 !important; // default: 6px 8px;
}
