@import (reference) "main.less";

.modal {

    display: block;

    /* For Angular Material */
    &-content {

        padding: 0;
    }
}

/* Base Modal Mixin: Common styles for modals used as prompts */
.base-modal() {

    .desktop({

        min-width: 50%;
        max-width: 50%;
    });

    .modal {

        &-body {

            overflow: hidden;
            overflow-y: auto;
        }

        &-header,
        &-footer {

            flex: 1 0 auto;
        }
    }
}

/* Modal layout */

.modal-header {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .modal-title {
        color: @brand-blue;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.01em;
        text-align: center;
        text-transform: uppercase;
    }

    .icon-remove {
        color: @brand-danger;
        cursor: pointer;
    }
}

.modal-title {

    color: @brand-blue;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.modal-content {

    font-size: 15px;
    font-family: @font-family-serif;
    border-radius: @border-radius-base;
    border: none;
    box-shadow: none;
}

.modal-body {

    .errors {

        margin: 10px;
        height: 21px;
    }
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.modal-footer {

    width: 100%;
}

/* Buttons */

.modal-button {

    .btn;

    &:enabled {

        .btn-primary;
    }

    &:disabled {

        .btn;
    }

}

/* Generic Actionable Items */

.modal-cta {

    cursor: pointer;

    &:focus {

        outline: none;
    }

    &-selected {

        color: @brand-blue;
        font-weight: 500;
    }
}

/* Angular Material Overrides */

/* Place the dialog above the loading Spinner */
.md-dialog-container {

    // TODO: Remove these flex overrides once Alex Young's modal fixed are
    // merged into master.
    align-items: center;
    justify-content: center;
    z-index: @zindex-modal;
}

/* Set the modal backdrop to blue */
md-backdrop.md-opaque.md-default-theme {

    background-color: fade(@brand-blue, 90%);
}

/* On mobile, make the modal dialog full screen */
md-dialog.md-default-theme {

    /* Screens less than this size */
    .mobile({

        display: block;
        top: @mobile-pad;
        left: @mobile-pad;
        bottom: @mobile-pad;
        right: @mobile-pad;
        position: absolute;
        max-width: 100%;
        max-height: calc(~"100% - @{mobile-pad} - @{mobile-pad}");
        min-width: 0;
        min-height: 0;
    });
}
