@import (reference) "main.less";

.modal {
    display: flex !important; // Override bootstrap inline display:block
    justify-content: center; // center horizontally
    align-items: center; // center vertically
}

.modal-backdrop {

    height: 100%;

    &.in { .opacity(.9); }
}

.modal-title {

    color: @brand-blue;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-align: center;
    text-transform: uppercase;
}

.modal-content {

    font-size: 15px;
    font-family: @font-family-serif;
    border-radius: @border-radius-base;
}

.modal-body {

    .errors {

        margin: 10px;
        height: 21px;
    }
}
