@import (reference) "main.less";

.modal {

    display: block;

    /* For Angular Material */
    &-content {

        padding: 0;
    }
}

.modal-backdrop {

    height: 100%;

    &.in { .opacity(.9); }
}

.modal-title {

    color: @brand-blue;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-align: center;
    text-transform: uppercase;
}

.modal-content {

    font-size: 15px;
    font-family: @font-family-serif;
    border-radius: @border-radius-base;
}

.modal-body {

    .errors {

        margin: 10px;
        height: 21px;
    }
}

/* Buttons */

.modal-button {

    .btn;
    .btn-lg;

    &:enabled {

        .btn-primary;
    }

    &:disabled {

        .btn-lg;
    }

}

/* Angular Material */

.md-dialog-container {

    z-index: @zindex-modal;
}

.md-dialog-backdrop {

    background-color: fade(@brand-blue, 90%) !important;
}

.modal-cta {

    cursor: pointer;

    &:focus {

        outline: none;
    }

    &-selected {

        color: @brand-blue;
        font-weight: 500;
    }
}
