.krossover-pagination{
    & > li{
            a{
                margin: 0px 0.3em;
                background-color: #ebebeb;
                color: #737474;
                border-color: #d9d9d8;
                border-radius: 2px;
                padding: 5px 12px;
                font-weight: bold;
            }
        &.active{
            a{
                background-color: #d1330f;
                border-color: #c7300f;
                box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                color: white;
            }
        }
        &.disabled{
            a{
                opacity: .65;
            }
        }
        &:first-child, &:last-child, &:nth-child(2), &:nth-last-child(2){
            a{
                background-color: #ef4924;
                color: white;
            }
        }
    }
}
