@import (reference) "main.less";

.pills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    /* NOTE: To be used once we convert all pills site-wide to using
    this directive */
    .rounded {
        background-color: @brand-blue;
        color: white;
        font-size: 12px;
        padding: 4px;
        border-radius: 10px;
        margin-right: 5px;
        margin-top: 5px;
        white-space: nowrap;
    }
}

.pill {
    .btn;
    .btn-default;
    .btn-sm;
    margin: 5px;
    padding: 2px 5px;

    i {
        margin-left: 5px;
    }
}
