@import (reference) "main.less";

@sidebar-width: 350px;
@sidebar-padding: 20px;

.sidebar {

    flex: 0 0 @sidebar-width;
    padding: @sidebar-padding;
    border-right: 1px solid rgb(216, 216, 216);

    h1 {

        width: (@sidebar-width - (@sidebar-padding * 2));
        margin-top: 0;
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h3 {

        color: @brand-blue;
    }

    nav {

        margin-top: 100px;
    }

    li,
    li + li {

        margin-left: -@sidebar-padding;
        width: @sidebar-width;
    }

    li a {

        padding-left: 50px;

        &,
        &:hover {

            color: @text-color;
            border-top: 1px solid @body-bg;
            border-bottom: 1px solid @body-bg;
            border-right: 1px solid rgb(216, 216, 216);
            background-color: @body-bg;
        }
    }

    li.active a {

        &,
        &:hover {

            color: @brand-primary;
            border-top: 1px solid rgb(221, 221, 221);
            border-bottom: 1px solid rgb(221, 221, 221);
            border-right: @content-bg;
            background-color:@content-bg;
        }
    }
}

