@import (reference) "main.less";

.table {

    font-weight: 200;
    letter-spacing: 0.01em;

    td:first-child {

        padding-left: 100px;
    }

    td {

        ul,
        li {

            margin: 0;
            padding: 0;
        }

        li {

            list-style: none;
        }
    }
}

