// Flex table - should be used for most, if not all, table based UI going forward
.flex-table {

    .flex-header-container {
        padding-right: 10px;

        .flex-header {
            margin: 0px auto;
            width: 98%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: @gray-lighter;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            .header-cell {
                font-weight: bold;
            }
        }
    }

    .flex-data-container {
        height: calc(~"100% - 190px");
        overflow-y: scroll;

        .flex-data-none {
            font-size: 24px;
            font-weight: bold;
        }

        .flex-data {
            background-color: white;
            width: 98%;
            margin: 0px auto;

            .body-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                border: 1px solid #dddddd;
                max-height: 1000px;
                cursor: pointer;
                border-top: none;
                -moz-transition: max-height .7s, border-width .7s, transform linear 0.08s;
                -ms-transition: max-height .7s, border-width .7s, transform linear 0.08s;
                -o-transition: max-height .7s, border-width .7s, transform linear 0.08s;
                -webkit-transition: max-height .7s, border-width .7s, transform linear 0.08s;
                transition: max-height .7s, border-width .7s, transform linear 0.08s;

                &:hover {
                    transform: scale(1.005);
                    box-shadow: 0px 0px 10px 1px rgba(0,0,0,.1);
                    z-index: 999;
                }

                .body-cell {
                    color: black;
                    background-color: transparent;
                    border: none;

                    .subtext {
                        color: @gray-dark;
                        line-height: 1;
                        font-size: 0.8em;
                        margin-bottom: 0px;
                        display: block;
                    }
                }
            }
        }
    }

    .body-cell, .header-cell {
        padding: 10px 20px;
    }
}

.table {

    font-weight: 200;
    letter-spacing: 0.01em;

    td {

        ul,
        li {

            margin: 0;
            padding: 0;
        }

        li {

            list-style: none;
        }
    }
}

.box-body .table {

    margin: 0;
    border-left: 1px solid @gray-lighter;
    border-right: 1px solid @gray-lighter;
    border-bottom: 1px solid @gray-lighter;

    thead {

        background-color: @brand-blue;
        border: 1px solid @brand-blue;

        th {

            color: white;
            height: 31px;
            margin: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.01em;
            border-right: 2px solid rgb(0, 40, 57);
            border-bottom: 1px solid @brand-blue;
        }

        th:last-child {

            border-right: none;
        }

    }

    td {

        height: 60px;
        line-height: 60px;

        input {

            height: 28px;
            line-height: 28px;
        }
    }

    thead th,
    td,
    td input {

        text-align: center;
    }
}

// Admin and Indexer table styles

@queue-list-font-size: 14px;
@queue-list-padding: 6px;

.queue-list {

    width: 100%;

    th {

        color: black;
        background: @gray-lighter;
        font-size: @queue-list-font-size;
        line-height: 16px;
        padding: @queue-list-padding;
    }

    .priority-row (@row-color) {

        background-color: @row-color;

        &:hover {

            background-color: darken(@row-color, 8%);
        }
    }

    &__highest-priority {

        .priority-row(@priority-color-highest);
    }

    &__high-priority {

        .priority-row(@priority-color-high);
    }

    &__normal-priority {

        .priority-row(@priority-color-normal);
        background-color: transparent;
    }

    th,
    td
    {

        border: none;
        color: black;
        vertical-align: middle;
        font-size: @queue-list-font-size;
        line-height: 16px;
        padding: @queue-list-padding;

        &:first-child {

            padding-left: 15px;
        }
    }

    ul {

        padding: 0;
        margin: 0;
    }

    li {

        list-style: none;
    }

    .game-id {

        text-align: right;
    }

    .game-duration,
    .time-left {

        text-align: left;

        .late {

            color: @brand-danger;
        }

        .none {

            color: @brand-warning;
        }

        .togo {

            color: @brand-success;
        }
    }

    // Base class for buttons used within the queue table
    .queue-button {

        .btn;
        .btn-default;
        padding: 4px 11px;
        line-height: 1;
    }

    .select-indexer,
    .select-qa,
    .start-indexing,
    .start-qa
    {

        .queue-button;
        font-size: @queue-list-font-size;
    }

    .assignment {

        .btn;
        .btn-link;
        font-weight: 500;
        font-size: @queue-list-font-size;
        border: none;
        padding: 0;
        margin: 0;
    }

    .manage-button {

        .queue-button;
        font-size: 12px;

        i {

            // Ensure icon has no extra space around it
            display: block;
        }
    }
}
