.season-highlight-info {
    /*Background image for wsc link*/
    background-image: url("./assets/wsc-logo.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    padding-left: 60px;
}
