.small-season-highlight {
    /*Background image for wsc link*/
    background-image: url("./assets/season_highlight_background_coach.png");
    background-repeat: no-repeat;
    height: 100px;
}

.large-season-highlight {
    /*Background image for wsc link*/
    background-image: url("./assets/season_highlight_background_athlete.png");
    background-repeat: no-repeat;
    height: 150px;
}
