.season-highlight-info {
    /*Background image for wsc link*/
    background-image: url("./assets/highlights_icon_thumb.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    padding-left: 80px;
}
