<div class="opposing-team">

    <div class="row">

        <div class="box col-md-12">

            <div class="box-content row">

                <header class="box-header col-md-12">

                    <h3 class="box-title">Choose one of the following options</h3>
                    <x-button-continue data-ng-disabled="tabs.instructions.disabled">Save and Submit</x-button-continue>

                </header>

                <div class="box-body col-md-12">

                    <form class="form-opposing-team" name="formOpposingTeam" role="form" novalidate>

                        <div class="table-responsive">

                            <table class="table table-striped">

                                <thead>

                                    <tr>

                                        <th>Jersey Number</th>
                                        <th>Player First Name</th>
                                        <th>Player Last Name</th>
                                        <th>Position</th>

                                    </tr>

                                </thead>

                                <tbody>

                                    <tr data-ng-repeat="player in data.opposingTeamRoster.players">

                                        <td><input size="3" data-ng-model="player.jerseyNumbers[opposingTeamRoster.rosterId]" required></td>

                                        <td><input class="name" placeholder="first name" data-ng-model="player.firstName" required></td>
                                        <td><input class="name" placeholder="last name" data-ng-model="player.lastName" required></td>

                                        <td>

                                        <input size="3" data-ng-model="player.position" disabled>

                                        <button class="remove" data-ng-click="removePlayer(player)"><i class="icon-remove"></i></button>

                                        </td>

                                    </tr>

                                </tbody>

                            </table>

                        </div>

                        <button class="btn-add-player" data-ng-click="addNewPlayer()">Add New Player <i class="icon-plus"></i></button>

                        <button class="btn-upload">Upload Excel File <i class="icon-upload-alt"></i><input type="file" onchange="angular.element(this).scope().uploadPlayers(this.files)"></button>

                    </form>

                </div>

            </div>

        </div>

        <x-button-continue class="btn-save-bottom" data-ng-disabled="tabs.instructions.disabled">Save and Submit</x-button-continue>

    </div>

</div>

