.distribution-log{
    .sidebar{
        .pickdate{
            .dropdown-menu{
                width: 100%;
                table{
                    width: 100%;
                }
            }
            li{
                margin-left: 0px;
                width: auto;
            }
        }
    }
    .list{
        padding: 0px 20px;
        overflow-y: auto;

        .distribution-log-data{
            height: calc(~"100% - 90px");
            overflow-y: scroll;
            padding-top: 20px;
        }
        .table{
            border: 1px solid @gray-light;
            thead{
                background-color: @gray-lighter;
            }
        }

        td:first-child{
            padding-left: 8px;
        }
    }
    .search-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .distribution-log-header{
        border-bottom: 2px solid @gray-lighter;
    }
    .distribution-log-wrapper{
        margin-bottom: 40px;
    }
    .history-header{
        margin-bottom: 20px;
        border-bottom: 2px solid #ebebeb;
    }
    .history-list{
        margin-bottom: 50px;
    }
}
