@import (reference) "main.less";

.game-area-formations {

    height: 100%;
    overflow-y: auto;

    .formations-teams-header {
        width: 80%;
        margin: 20px auto;
        padding: 20px;
        border: thin solid @gray-border;
        background-color: @content-bg;
        letter-spacing: normal;
        font-weight: 500;
        color: black;
        position: relative;

        .formation-option {
            display: inline-block;
            padding-right: 20px;
            white-space: nowrap;

            .option-label {
                display: block;
            }

            select {
                background-color: white;
                color: @gray;
                font-weight: 400;
                padding-right: 30px;
                text-overflow: ellipsis;
            }
        }
    }

    .formations-chart-container {
        border: thin solid @gray-border;
        width: 80%;
        margin: 20px auto;
        letter-spacing: normal;

        a.accordion-toggle:hover {
            text-decoration: none;
        }

        .field-header {
            color: white;
            background-color: @brand-blue;
            height: 50px;
            line-height: 50px;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: 400;

            .field-info {
                margin-right: 30px;

                .field-info-title {
                    font-weight: 500;
                    color: yellow;
                }
            }

            i {
                line-height: 50px;
                font-size: 30px;
            }
        }

        .field-header-collapsed {
            background-color: @gray-lighter;
            color: @brand-blue;

            .field-info {
                .field-info-title {
                    color: @brand-blue;
                }
            }
        }

        .field-options {
            background-color: @content-bg;
            color: @gray-light;
            height: 50px;
            line-height: 50px;
            padding-left: 20px;
            padding-right: 20px;

            .offense-defense {
                margin-right: 60px;
                cursor: pointer;
            }

            .active-report {
                color: @brand-primary;
            }

            .print-formation {
                .pull-right;
                color: @brand-primary;
                cursor: pointer;
            }
        }

        .field {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}
