<div class="game-area-formations">
    <div class="formations-teams-header">
        <div class="formationOption">
            <span>Team on Offense</span>
            <select data-ng-model="myTeam">
                <option value="true">{{teams[game.teamId].name}}</option>
                <option value="false">{{teams[game.opposingTeamId].name}}</option>
            </select>
        </div>
        <div class="formationOption ng-hide">
            <span>Show formations from</span>
            <select data-ng-model="redzone">
                <option value="false">Whole Field</option>
                <option value="true">Red Zone</option>
            </select>
        </div>
        <div class="formationOption">
            <span>Filter by tags</span>
            <custom-tags-multiselect ng-model="dndReport.customTagIds" custom-tags="customtags"></custom-tags-multiselect>
        </div>
    </div>

    <accordion close-others="true">
        <formation-chart arena-type="arenaType" data-chart="chart" data-ng-repeat="chart in report[teamId]" data-redzone="isRedZone"></formation-chart>
    </accordion>
</div>