<div class="physical">
    <form ng-submit="savePhysical()">
        <div class="form-block-full">
            <div class="form-block-third">
                <h4>Height</h4>
                <input id="height-feet-cta" type="number" class="form-control small-text-field" ng-model="athleteHeightFeet"/><span class="field-label">ft</span>
                <input id="height-inches-cta" type="number" max="11" class="form-control small-text-field" ng-model="athleteHeightInches"/><span class="field-label">in</span>
            </div>
            <div class="form-block-third">
                <h4>Weight</h4>
                <input id="weight-cta" type="number" min="1" class="form-control large-text-field" ng-model="athlete.profile.weight"/><span class="field-label">lbs</span>
            </div>
            <div class="form-block-third">
                <h4>Dominant Hand</h4>
                <select id="dominant-hand-cta" ng-model="dominantHandType">
                    <option value="">None Selected</option>
                    <option value="1">Right Hand</option>
                    <option value="2">Left Hand</option>
                    <option value="3">Ambidextrous</option>
                </select>
            </div>
        </div>
        <div class="form-block-full">
            <div class="form-block-third">
                <h4>1 Mile Time</h4>
                <input id="1-mile-time-minutes-cta" type="number" class="form-control small-text-field" ng-model="athleteOneMileTimeMinutes"/><span class="field-label">min</span>
                <input id="1-mile-time-seconds-cta" type="number" max="59" class="form-control small-text-field" ng-model="athleteOneMileTimeSeconds"/><span class="field-label">sec</span>
            </div>
            <div class="form-block-third">
                <h4>3 Mile Time</h4>
                <input id="3-mile-time-minutes-cta" type="number" class="form-control small-text-field" ng-model="athleteThreeMileTimeMinutes"/><span class="field-label">min</span>
                <input  id="3-mile-time-seconds-cta" type="number" max="59" class="form-control small-text-field" ng-model="athleteThreeMileTimeSeconds"/><span class="field-label">sec</span>
            </div>
            <div class="form-block-third">
                <h4>40 Yard Dash</h4>
                <input id="40-yard-dash-cta" type="number" step="any" class="form-control large-text-field" ng-model="athlete.profile.fortyYardDash"/><span class="field-label">sec</span>
            </div>
        </div>
        <div class="form-block-full">
            <div class="form-block-third">
                <h4>Bench Press</h4>
                <input id="bench-press-cta" type="number" min="1" class="form-control large-text-field" ng-model="athlete.profile.benchPress"/><span class="field-label">lbs</span>
            </div>
            <div class="form-block-third">
                <h4>Clean</h4>
                <input id="clean-cta" type="number" min="1" class="form-control large-text-field" ng-model="athlete.profile.clean"/><span class="field-label">lbs</span>
            </div>
            <div class="form-block-third">
                <h4>Deadlift</h4>
                <input id="deadlift-cta" type="number" min="1" class="form-control large-text-field" ng-model="athlete.profile.deadlift"/><span class="field-label">lbs</span>
            </div>
        </div>
        <div class="form-block-full">
            <div class="form-block-third">
                <h4>Squat</h4>
                <input id="squat-cta" type="number" min="1" class="form-control large-text-field" ng-model="athlete.profile.squat"/><span class="field-label">lbs</span>
            </div>
            <div class="form-block-third">
                <h4>Vertical Leap</h4>
                <input id="vertical-leap-cta" type="number" min="1" class="form-control large-text-field" ng-model="athlete.profile.verticalLeap"/><span class="field-label">in</span>
            </div>
            <div class="form-block-third">
                <h4>Wingspan</h4>
                <input id="wingspan-feet-cta" type="number" class="form-control small-text-field" ng-model="athleteWingFeet"/><span class="field-label">ft</span>
                <input id="wingspan-inches-cta" type="number" max="11" class="form-control small-text-field" ng-model="athleteWingInches"/><span class="field-label">in</span>
            </div>
        </div>
        <div class="button-row">
            <save-button id="physical-save-cta" is-saving="isSaving" confirm-save="confirmSave"></save-button>
            <a id="physical-cancel-cta" href class="btn-simple-cancel pull-right" ui-sref="Athlete.Profile({id: athlete.id})">Cancel</a>
        </div>
    </form>
</div>
