<div class="physical">
    <form>
        <div class="form-block-full">
            <div class="form-block-third">
                <h4>Height</h4>
                <input type="number" class="form-control small-text-field" ng-model="athleteHeightFeet"/> ft
                <input type="number" class="form-control small-text-field" ng-model="athleteHeightInches"/> in
            </div>
            <div class="form-block-third">
                <h4>Weight</h4>
                <input type="number" class="form-control small-text-field" ng-model="athlete.profile.weight"/> lbs
            </div>
        </div>
        <div class="button-row">
            <button class="btn btn-primary" ng-click="savePhysical()">Save</button>
            <a href class="btn-simple-cancel pull-right" ui-sref="Athlete.Profile({id: athlete.id})">Cancel</a>
        </div>
    </form>
</div>
