<section class="film-exchange">
    <aside class="sidebar">

        <h3>Search for film:</h3>
        <form role="form" ng-submit="search(filter)">

            <div class="form-group">
                <input class="form-control" name="teamName" placeholder="School Name and/or team name" ng-model="filter.teamName" type="text">
            </div>

            <div class="form-group">
                <data-date data-id="date-played" data-ng-model="filter.datePlayed" data-max-date="todaysDate" placeholder="Date Played"></data-date>
            </div>

            <div class="form-group">
                <select class="form-control" ng-model="filter.competitionLevel" ng-options="level.code as level.name for level in teamCompetitionLevels">
                    <option value="">Level of Competition</option>
                </select>
            </div>

            <button id="search-associations-cta" class="btn-search" ng-disabled="searching" type="submit"><i class="icon icon-search"></i></button>

        </form>
    </aside>
    <div class="list" ng-class="{'coachView': currentUser.is(COACH)}">
        <div id="film-exchange-header">
            <div class="title-header">
                <h3>{{conferenceTitle[0]}} {{conferenceTitle[1]}} - {{conferenceTitle[2]| formattedConferenceGender}} {{conferenceTitle[3].name}}</h3>
                <button class="btn btn-default" ng-click="openFilmExchangeModal()" ng-if="!currentUser.is(COACH)">Edit Team Permisions</button>
            </div>
            <div class="table-header" ng-show="filmExchanges.length > 0">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="team">Home</th>
                            <th class="team">Away</th>
                            <th class="score">Score</th>
                            <th class="datePlayed">Date Played</th>
                            <th class="dateAdded" ng-if="!currentUser.is(COACH)">Date Added</th>
                            <th class="actions" ng-if="currentUser.is(COACH)"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div id="film-exchange-data" class="force-scrollbar">
            <div class="film-exchange-data-no text-center" ng-show="!filmExchanges.length">
                There are no games in your film exchange yet.
            </div>
            <div class="film-exchange-data-div" ng-repeat="filmExchange in filmExchanges">
                <table>
                    <tr >
                        <td class="team">
                            <p>{{filmExchange.homeTeam.name}}<span ng-if="filmExchange.homeTeam.won"> (W)</span></p>
                            <p class="competitionLevel subText">{{filmExchange.homeTeam.primaryConference.competitionLevelName}}</p>
                        </td>
                        <td class="team">
                            <p>{{filmExchange.awayTeam.name}}<span ng-if="!filmExchange.homeTeam.won">(W)</span></p>
                            <p class="competitionLevel subText">{{filmExchange.awayTeam.primaryConference.competitionLevelName}}</p>
                        </td>
                        <td class="score">
                            <p>{{filmExchange.homeTeam.score}} - {{filmExchange.awayTeam.score}}</p>
                        </td>
                        <td class="datePlayed">
                            <p>{{filmExchange.datePlayed|date:'dd-MMM-yyyy'}}</p>
                            <p class="addedBy subText" ng-if="currentUser.is(COACH)">added by {{filmExchange.addedByUser.firstName}} {{filmExchange.addedByUser.lastName}}</p>
                        </td>
                        <td class="dateAdded" ng-if="!currentUser.is(COACH)">
                            <p>{{filmExchange.createdAt|date:'dd-MMM-yyyy'}}</p>
                            <p class="addedBy subText" ng-if="!currentUser.is(COACH)">added by <a href="mailto:{{filmExchange.addedByUser.email}}" >{{filmExchange.addedByUser.firstName}} {{filmExchange.addedByUser.lastName}}</a></p>
                        </td>
                        <td class="actions" ng-if="currentUser.is(COACH)">
                            <p ng-if="currentUser.getCurrentRole().teamId!=filmExchange.addedByTeam.id"><i class="icon icon-copy"></i> Copy</p>
                            <p ng-if="currentUser.getCurrentRole().teamId==filmExchange.addedByTeam.id"><i class="icon icon-remove"></i> Remove</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="text-center footer" ng-show="filmExchanges.length > 0">
            <pagination total-items="filmExchangesTotal.length" ng-model="currentPage" boundary-links="true" class="pagination-sm" previous-text="&lsaquo;" items-per-page="itemPerPage" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="5" ng-change="pageChanged()"></pagination>
        </div>
    </div>
</section>
