.film-exchange{
    background-color: lighten(@gray-lighter, 5%);
    padding: 20px;
    .noData{
        width: 100%;
        padding-top: 100px;
        font-size: 24px;
        font-weight: bold;
    }
    .film-exchange-data-no{
        font-size: 24px;
        font-weight: bold;
    }
    .sidebar{
        background-color: white;
        border: 1px solid @gray-lighter;
        box-shadow: 0px 0px 5px rgba(0,0,0,.1);
        border-radius: 5px;
        padding-top: 14px;

        .search-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            h3 {
                margin: 0px;
            }
        }

        .pickdate {
            li{
                margin-left: 0px;
                width: auto;
            }
            .dropdown-menu{
                width: 100%;
                table{
                    width: 100%;
                }
            }
        }
    }
    .list{
        padding: 0px 20px;
        position: relative;
        height: 100%;
        overflow-y: hidden;
        &.coachView{
            td.datePlayed{
                width: 30%;
            }
            #film-exchange-data{
                margin-top: 110px;
            }
        }
        #film-exchange-data{
            margin-top: 115px;
            height: calc(~"100% - 190px");
            overflow-y: scroll;
        }
        .table{
            margin: 0px auto;
            width: 98%;
            &> thead > tr > th{
                padding: 10px 20px;
                &:first-child{
                    border-top-left-radius: 10px;
                }
                &:last-child{
                    border-top-right-radius: 10px;
                }
            }
        }
        td{
            color: black;
            padding: 10px 20px;
            background-color: transparent;
            border: none;

            .subText {
                color: @gray-dark;
                line-height: 1;
                font-size: 0.8em;
                margin-bottom: 0px;
                display: block;
            }

            &.actions{
                color: @gray-dark;

                .copy-confirm {
                    color: @brand-success;
                }
            }
        }
        td, th {
            &.actions {
                width: 20%;
            }

            &.datePlayed {
                width: 25%;
            }

            &.team {
                width: 20%;

                .team-won {
                    font-size: 8px;
                    position: relative;

                    &:before {
                        transform: scale(-1, 1);
                        position: absolute;
                        top: 0px;
                        left: 3px;
                    }
                }
            }

            &.score {
                width: 15%;
            }

            &.dateAdded {
                width: 20%;
            }

            &.film-status {
                min-width: 38px;
                padding-right: 0px;
                font-size: 18px;
                position: relative;

                .icon-clock-o {
                    color: @brand-warning;
                }

                .icon-exclamation-circle {
                    color: @brand-danger;
                }
            }
        }

        thead {
            background-color: @gray-lighter;
        }

        .film-exchange-data-container{
            background-color: white;
            width: 98%;
            margin: 0px auto;

            table {
                width: 100%;
                border: 1px solid #dddddd;
                max-height: 1000px;
                cursor: pointer;
                border-top: none;
                -moz-transition: max-height .7s, border-width .7s, transform linear 0.08s;
                -ms-transition: max-height .7s, border-width .7s, transform linear 0.08s;
                -o-transition: max-height .7s, border-width .7s, transform linear 0.08s;
                -webkit-transition: max-height .7s, border-width .7s, transform linear 0.08s;
                transition: max-height .7s, border-width .7s, transform linear 0.08s;

                &:hover {
                    transform: scale(1.005);
                    box-shadow: 0px 0px 10px 1px rgba(0,0,0,.1);
                    z-index: 999;
                }
            }

            &.removed > table {
                max-height: 0px;
                border-width: 0px;
                overflow: hidden;
            }

            &.film-not-processed > table {
                cursor: default;

                td, td > .subText {
                    color: @gray-medium;
                }

                .actions > .copy-actions > a {
                    color: @gray-medium;
                    pointer-events: none;
                }
            }
        }

        admin-queue-pagination {
            margin-top: 20px;
            border: none;
        }
    }

    #film-exchange-header {
        padding: 5px 0px;
        width: 100%;
        padding-right: 40px;
        position: absolute;
        top: 0;
        .title-header{
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid @gray-lighter;
            width: 100%;
            margin-bottom: 20px;
        }
        h3{
            margin: 10px 0px;
        }
        button {
            float: right;
            margin-bottom: 10px;
        }
    }
    .table-header{
        padding-right: 10px;
    }
    .footer{
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding-right: 20px;
    }
    .pagination{
        & > li{
                a{
                    margin: 0px 0.3em;
                    background-color: #ebebeb;
                    color: #737474;
                    border-color: #d9d9d8;
                    border-radius: 2px;
                    padding: 5px 12px;
                    font-weight: bold;
                }
            &.active{
                a{
                    background-color: #d1330f;
                    border-color: #c7300f;
                    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                    color: white;
                }
            }
            &.disabled{
                a{
                    opacity: .65;
                }
            }
            &:first-child, &:last-child, &:nth-child(2), &:nth-last-child(2){
                a{
                    background-color: #ef4924;
                    color: white;
                }
            }
        }
    }
}

// MOBILE
@media only screen
and (max-width: @screen-md-max) {

    .film-exchange .list #film-exchange-data {
        margin-top: 135px;
    }
}
