<section class="film-exchange">
    <aside class="sidebar" ng-if="!noData">

        <div class="search-header">
            <h3>Search for film:</h3>
            <a href ng-click="clearSearchFilter()">Reset</a>
        </div>
        <form role="form" ng-submit="searchFilms(filter)">

            <div class="form-group">
                <input class="form-control" name="teamName" placeholder="School or Team Name" ng-model="filter.teamName" type="text">
            </div>

            <div class="form-group">
                <data-date data-id="date-played" data-ng-model="filter.datePlayedTmp" data-max-date="todaysDate" format="MMMM dd, yyyy" placeholder="Date Played"></data-date>
            </div>

            <div class="form-group">
                <select class="form-control" ng-model="filter.competitionLevel" ng-options="level.code as level.nameUsed for level in teamCompetitionLevels">
                    <option value="">Level of Competition</option>
                </select>
            </div>

            <button id="search-film-cta" class="btn-search" ng-disabled="searching" type="submit"><i class="icon icon-search"></i></button>

        </form>
    </aside>
    <div class="list" ng-if="!noData" ng-class="{'coachView': currentUser.is(COACH)}">
        <data-results ng-hide="filteredFilms.length || isDefaultState" query="query"></data-results>
        <div id="film-exchange-header">
            <div class="title-header">
                <h3>{{filmExchangeName}}</h3>
                <button class="btn btn-default" ng-click="openFilmExchangeModal()" ng-if="!currentUser.is(COACH)">Manage Team Access</button>
            </div>
        </div>

        <div class="flex-table">
            <div class="flex-header-container" ng-show="filteredFilms.length > 0 && !searching">
                <div class="flex-header">
                    <div class="header-cell film-status"></div>
                    <div class="header-cell team">Away</div>
                    <div class="header-cell team">Home</div>
                    <div class="header-cell score">Score</div>
                    <div class="header-cell datePlayed">Date Played</div>
                    <div class="header-cell dateAdded" ng-if="!currentUser.is(COACH)">Date Added</div>
                    <div class="header-cell actions" ng-if="currentUser.is(COACH)"></div>
                </div>
            </div>

            <div id="film-exchange-data" class="flex-data-container force-scrollbar" ng-class="{'no-pagination': totalCount <= itemPerPage}">
                <div class="flex-data-none text-center" ng-show="!filteredFilms.length">
                    There are no games in your film exchange yet.
                </div>
                <div
                    class="flex-data"
                    ng-repeat="film in filteredFilms"
                    ng-class="{'removed': isFilmRemoved(film), 'film-not-processed': film.video.status !== 4}"
                    ng-show="filteredFilms.length && !searching"
                    ng-click="openRawFilmModal(film)">
                    <div class="body-row">
                        <div class="body-cell film-status">
                            <i class="icon icon-processing" ng-if="film.video.status === 1 || film.video.status === 2" tooltip="Film Processing" tooltip-placement="right"></i>
                            <i class="icon icon-error" ng-if="film.video.status === 8" tooltip="Error While Processing" tooltip-placement="right"></i>
                        </div>
                        <div class="body-cell team">
                            <span class="team-name"><span>{{film.awayTeam.name}}</span></span>
                            <span class="competitionLevel subtext">{{film.awayTeam.primaryConference.competitionLevel}}</span>
                        </div>
                        <div class="body-cell team">
                            <span class="team-name"><span>{{film.homeTeam.name}}</span></span>
                            <span class="competitionLevel subtext">{{film.homeTeam.primaryConference.competitionLevel}}</span>
                        </div>
                        <div class="body-cell score">
                            <span>
                                <span>{{film.awayTeam.score}}</span>
                                 -
                                 <span>{{film.homeTeam.score}}</span>
                             </span>
                        </div>
                        <div class="body-cell datePlayed">
                            <span>{{film.datePlayed|date:'MMM dd, yyyy': 'UTC'}}</span>
                            <span class="addedBy subtext" ng-if="currentUser.is(COACH)">added by <span ng-hide="film.addedByUser.id === currentUser.id">{{film.addedByUser.firstName}} {{film.addedByUser.lastName}}</span><span ng-show="film.addedByUser.id === currentUser.id">you</span></span>
                        </div>
                        <div class="body-cell dateAdded" ng-if="!currentUser.is(COACH)">
                            <span>{{film.createdAt|date:'MMM dd, yyyy'}}</span>
                            <span class="addedBy subtext" ng-if="!currentUser.is(COACH)">added by <a href="mailto:{{film.addedByUser.email}}?subject={{film.awayTeam.name}} @ {{film.homeTeam.name}} ({{film.datePlayed|date:'MMM dd, yyyy'}})" target="_blank" ng-hide="film.addedByUser.id === currentUser.id" ng-click="onUserEmailClick(film, $event)">{{film.addedByUser.firstName}} {{film.addedByUser.lastName}}</a><span ng-show="film.addedByUser.id === currentUser.id">you</span></span>
                        </div>
                        <div class="body-cell actions" ng-if="currentUser.is(COACH)">
                            <span class="copy-actions" ng-if="currentUser.getCurrentRole().teamId != film.addedByTeam.id">
                                <a
                                    href
                                    ng-if="!film.isPerformingAction && !film.copiedGame && !film.copyConfirm"
                                    ng-click="onCopyClick($event, film)">
                                    <i class="icon icon-copy"></i> Copy
                                </a>
                                <krossover-spinner
                                    ng-if="film.isPerformingAction && !film.copiedGame && !film.copyConfirm"
                                    size="'15px'">
                                </krossover-spinner>
                                <span ng-if="film.copyConfirm" class="copy-confirm">
                                    <i class="icon icon-ok"></i> Copied
                                </span>
                                <span ng-if="!film.isPerformingAction && film.copiedGame && !film.copyConfirm">
                                    <i class="icon icon-copy"></i> Copied
                                </span>
                            </span>
                            <span class="remove-actions" ng-if="currentUser.getCurrentRole().teamId === film.addedByTeam.id">
                                <a
                                    href
                                    ng-if="!film.isPerformingAction && !isFilmRemoved(film)"
                                    ng-click="onRemoveClick($event, film)">
                                    <i class="icon icon-trash-o"></i> Remove
                                </a>
                                <krossover-spinner
                                    ng-if="film.isPerformingAction && !isFilmRemoved(film)"
                                    size="'15px'">
                                </krossover-spinner>
                                <span ng-if="!film.isPerformingAction && isFilmRemoved(film)">
                                    <i class="icon icon-trash-o"></i> Removed
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center footer" ng-show="totalCount > itemPerPage">
            <pagination total-items="totalCount" ng-model="page.currentPage" boundary-links="true" class="pagination-sm" previous-text="&lsaquo;" items-per-page="itemPerPage" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="5" ng-change="pageChanged()"></pagination>
        </div>
    </div>
    <div ng-if="noData" class="noData text-center">
        You currently have no active Film Exchanges to administer.
    </div>

</section>
