@import (reference) "../krossover-variables.less";

.btn {

    font-weight: 500;
}

.btn-blank {
    border: none;
    border-radius: none;
    outline: none;
    background: none;
    background-image: none;

    &-primary {
        color: @brand-primary;
    }
}

.btn-sm {
    padding: 4px 8px;
}
