.base-typography {

    font-style: normal;
    font-weight: 200;
    letter-spacing: normal;
}

h3 {

    font-size: 20px;
    letter-spacing: -0.01em;
}

.capitalize {

    text-transform: capitalize;
}

.uppercase {

    text-transform: uppercase;
}


/* Ordered Lists */

.ordered-list {

    &-lower-alpha {

        list-style: lower-alpha;
    }
}
