<div class="your-team">
    <div class="row">

        <div class="box col-md-12">

            <div class="box-content row">

                <header class="box-header col-md-12">

                    <h3 class="box-title">{{team.name}} Roster</h3>
                    <x-button-continue data-ng-disabled="tabs['opposing-team'].disabled">Next</x-button-continue>

                </header>

                <div class="box-body col-md-12">

                    <form class="form-your-team" name="formYourTeam" role="form">

                        <div class="table-responsive">

                            <table class="table table-striped">

                                <thead>

                                    <th>Picture</th>
                                    <th>Jersey Number</th>
                                    <th>Player</th>
                                    <th data-ng-if="keys(positions).length > 0">Positions</th>
                                    <th>Did Not Play</th>

                                </thead>

                                <tbody>

                                    <tr data-ng-if="!player.isUnknown" data-ng-repeat="player in gameRoster track by $index">

                                        <td><profile-placeholder data-size="small"></profile-placeholder></td>

                                        <td><input size="3" data-ng-model="player.jerseyNumbers[data.game.rosters[data.game.teamId].id]" required></td>

                                        <td class="name">{{player.firstName}} {{player.lastName}}</td>

                                        <td data-ng-if="keys(positions).length > 0">
                                            <data-positions-dropdown data-player="player" data-positions="positions"></data-positions-dropdown>
                                        </td>

                                        <td data-ng-click="player.rosterStatuses[data.game.rosters[data.game.teamId].id] = !player.rosterStatuses[data.game.rosters[data.game.teamId].id]">
                                            <i class="icon icon-check-square-o" data-ng-show="!player.rosterStatuses[data.game.rosters[data.game.teamId].id]"></i>
                                            <i class="icon icon-check-empty" data-ng-show="player.rosterStatuses[data.game.rosters[data.game.teamId].id]"></i>
                                        </td>

                                    </tr>

                                </tbody>

                            </table>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <x-button-continue data-ng-disabled="tabs['opposing-team'].disabled">Next</x-button-continue>

    </div>

</div>

