@import (reference) "main.less";

.public-game-subtype {
    
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: @gray-lightest;

    .film-breakdown-body {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 15px;
        background: @gray-lightest;
        flex: 1;
    }

    .main-highlight {
        background-color: @gray-lightest;
        display: flex;
        flex: 1;
        flex-direction: row;
    }

    .filter-container {
        background-color: @gray-lightest;
        padding: 10px 0;
    }
}
    