<div class="games-breakdown">

    <div class="filter-container screen-lg-min" data-ng-if="publiclyShared">

        <plays-filter
                data-game="game"
                data-ng-model="filteredPlaysIds">
        </plays-filter>

    </div>

    <div class="main-highlight" data-ng-if="publiclyShared">

        <krossover-sidebar>

            <krossover-playlist></krossover-playlist>

        </krossover-sidebar>

        <telestrations telestrations-entity="telestrations">

            <x-krossover-videoplayer class="screen-lg-min"
                                     data-sources="sources"
                                     data-poster-image="posterImage"></x-krossover-videoplayer>

        </telestrations>

    </div>
</div>

