<div class="public-game-subtype">
    <film-header
            data-title="filmTitle"
            data-is-public="publiclyShared"
            data-film="game"
            data-home-team="team"
            data-opposing-team="opposingTeam">
    </film-header>

    <div class="film-breakdown-body">

        <div class="filter-container" ng-if="$root.viewport.name === VIEWPORTS.DESKTOP.name && publiclyShared">

            <plays-filter
                    data-total-plays="totalPlays"
                    data-game="game"
                    data-team-player-list="teamPlayers"
                    data-opposing-player-list="opposingTeamPlayers"
                    data-filterset="filterset"
                    data-ng-model="filteredPlaysIds">
            </plays-filter>

        </div>

        <div class="main-highlight" data-ng-if="publiclyShared">

            <krossover-sidebar>

                <krossover-playlist-control data-ng-if="$root.viewport.name === VIEWPORTS.DESKTOP.name">
                </krossover-playlist-control>

                <krossover-playlist>

                    <krossover-play
                        data-expand-all="expandAll"
                        data-game="game"
                        data-reels="reels"
                        data-play="play"
                        data-filtered-plays-ids="filteredPlaysIds"
                        data-league="league"
                        data-ng-show="play.isFiltered"
                        data-ng-repeat="play in plays | orderBy:orderBy">
                    </krossover-play>

                </krossover-playlist>

                <no-results data-ng-hide="plays.length"></no-results>

                <div class="expandrow" data-ng-if="$root.viewport.name === VIEWPORTS.DESKTOP.name">
                  <button data-ng-show="!expandAll" data-ng-click="expandAll=true"><i class="icon icon-plus"></i> Expand All</button>
                  <button data-ng-show="expandAll" data-ng-click="expandAll=false"><i class="icon icon-minus"></i> Collapse All</button>
                </div>

            </krossover-sidebar>

            <x-krossover-videoplayer data-ng-if="$root.viewport.name === VIEWPORTS.DESKTOP.name" data-sources="sources" data-video-title="filmTitle" data-play-start-time="playManager.current.startTime" data-play-end-time="playManager.current.endTime"></x-krossover-videoplayer>

        </div>

        <div data-ng-if="!publiclyShared">
            <div class="locked-game">
                <i class="icon icon-lock"></i>
                <h3>You do not have permission to access this game</h3>
            </div>
        </div>

    </div>
</div>