<div class="basic-info">
    <form>
        <div class="form-block-full">
            <div class="form-block-half">
                <h4>First Name</h4>
                <input type="text" ng-model="athlete.firstName" class="form-control" placeholder="Enter First Name"/>
            </div>

            <div class="form-block-half">
                <h4>Last Name</h4>
                <input type="text" ng-model="athlete.lastName" class="form-control" placeholder="Enter Last Name"/>
            </div>
        </div>

        <div class="form-block-full">
            <h4>About Me <span class="header-description">Write a short description about yourself. What makes you stand out?</span></h4>
            <textarea class="form-control" rows="5" maxlength="200" placeholder="Talk about your club team experience, stats, achievements, anything." ng-model="athlete.profile.about" ng-trim="false"></textarea>
            <p>{{200 - athlete.profile.about.length}} characters left.</p>
        </div>

        <div class="form-block-full">
            <h4>My Teams <a href class="add-team" ng-click="addingTeam = true"><i class="icon icon-plus"></i> Add Team</a></h4>
            <div class="box-body">
                <table class="table team-table">
                    <thead>
                        <tr class="team-row-header team-row">
                            <th class="team-cell-radio">Main sport & team</th>
                            <th>Team</th>
                            <th>Sport</th>
                            <th class="team-cell-positions">Position</th>
                            <th class="team-cell-options">Hide</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="team-row" ng-repeat="team in athlete.profile.teams">
                            <td class="team-cell-radio"><button type="button" class="btn-radio" btn-radio="team.teamId" ng-model="athlete.profile.defaultTeamId" ng-change="athlete.profile.defaultTeamId = team.teamId" required></button></td>
                            <td>{{teams[team.teamId].name}}</td>
                            <td>{{sports[leagues[teams[team.teamId].leagueId].sportId].name}}</td>
                            <td class="team-cell-positions">
                                <positions-dropdown ng-model="team.positionIds" player="athlete" positionset="getPositionSet(team.teamId)"></positions-dropdown>
                            </td>
                            <td class="team-cell-options">
                                <check-box ng-click="team.isHidden = !team.isHidden" checked="team.isHidden"></check-box>
                                <i class="icon icon-remove" ng-click="removeTeam(team.teamId)"></i>
                            </td>
                        </tr>
                        <tr class="team-row" ng-show="addingTeam">
                            <td class="team-cell-radio"><button type="button" class="btn-radio" btn-radio="newTeam.teamId" ng-model="athlete.profile.defaultTeamId" ng-change="athlete.profile.defaultTeamId = team.teamId" required></button></td>
                            <td><team-typeahead team="selectedTeam" ng-model="teamFromTypeahead"></team-typeahead></td>
                            <td></td>
                            <td class="team-cell-positions">
                                <positions-dropdown ng-if="teamFromTypeahead" ng-model="newTeam.positionIds" player="athlete" positionset="positionsets.get(leagues[teamFromTypeahead.leagueId].positionSetId)"></positions-dropdown>
                            </td>
                            <td class="team-cell-options">
                                <i class="icon icon-remove" ng-click="clearNewTeam()"></i>
                                <check-box ng-click="newTeam.isHidden = !newTeam.isHidden" checked="newTeam.isHidden"></check-box>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="button-row">
            <button class="btn btn-primary" ng-click="athlete.save()">Save</button>
            <a href class="btn btn-default pull-right">Cancel</a>
        </div>
    </form>
</div>
