<div class="basic-info">
    <form ng-submit="saveBasicInfo()">
        <div class="form-block-full">
            <div class="form-block-third edit-profile-picture-container">
                <h4>Profile Picture</h4>
                <profile-picture user="athlete"></profile-picture>

                <krossover-uploader upload-label="Change Image" on-upload="setProfilePicture(files)"></krossover-uploader>
            </div>
            <div class="form-block-two-thirds">
                <div>
                    <div class="form-block-half">
                        <h4>First Name</h4>
                        <input type="text" maxlength="30" ng-model="athlete.firstName" class="form-control" placeholder="Enter First Name"/>
                    </div>
                    <div class="form-block-half">
                        <h4>Last Name</h4>
                        <input type="text" maxlength="30" ng-model="athlete.lastName" class="form-control" placeholder="Enter Last Name"/>
                    </div>
                </div>
                <div class="form-block-half-row">
                    <h4>Primary Sport</h4>
                    <select ng-model="athlete.profile.primarySportId" ng-options="sport.id as sport.name for sport in sports">
                        <option value="">Select Sport</option>
                    </select>
                </div>
                <div class="form-block-half-row">
                    <h4>Primary Position</h4>
                    <input type="text" maxlength="30" ng-model="athlete.profile.primaryPosition" class="form-control" placeholder="Enter Primary Position"/>
                </div>
                <div class="form-block-half-row">
                    <h4>Hometown</h4>
                    <input type="text" maxlength="30" ng-model="athlete.profile.hometown" class="form-control" placeholder="Enter Hometown"/>
                </div>
                <div>
                    <h4>
                        About Me&nbsp;
                        <span class="header-description">
                            Write a short description about yourself. What makes you stand out?
                        </span>
                    </h4>
                    <textarea
                        class="form-control"
                        rows="5"
                        maxlength="{{maxAboutMeLength}}"
                        placeholder="Talk about your club team experience, stats, achievements, anything."
                        ng-model="athlete.profile.about"
                        ng-trim="false"
                    ></textarea>
                    <p>{{maxAboutMeLength - athlete.profile.about.length}} characters left.</p>
                </div>
            </div>
        </div>
        <div class="button-row">
            <save-button is-saving="isSaving" confirm-save="confirmSave"></save-button>
            <a href class="btn-simple-cancel pull-right" ui-sref="Athlete.Profile({id: athlete.id})">Cancel</a>
        </div>
    </form>
</div>
