@import (reference) "main.less";

.analytics {
	
	.analytics-options {

		padding: 20px;

		.analytics-option {

			display: inline-block;
			padding-right: 20px;
			white-space: nowrap;

			span {
				display: block;
			}

			select {
				padding-right: 30px;
				overflow: ellipsis;
			}
		}
	}
}

