<section class="analytics">
    <div>
        <div class="analytics-options">
            <div class="analytics-option">
                <span>Season</span>
                <select data-ng-options="season.id as season.startDate | date: 'yyyy' for season in seasons" data-ng-model="filterQuery.seasonId" data-ng-change="generateStats()"></select>
            </div>
            <div class="analytics-option">
                <span>Game Type</span>
                <select data-ng-model="filterQuery.gameType" data-ng-change="generateStats()">
                    <option value="">All Stats</option>
                    <option value="1">Conference Stats</option>
                    <option value="2">Non-Conference Stats</option>
                    <option value="3">Playoffs Stats</option>
                </select>
            </div>
            <div class="analytics-option">
                <span>Opponent</span>
                <select>
                    <option>All</option>
                    <option>Other team</option>
                    <option>Another team</option>
                </select>
            </div>
        </div>
        <div class="spinner" data-ng-show="loadingTables">
            <i class="icon icon-refresh"></i>
            <p>Loading Statistics...</p>
        </div>
        <div class="analytics-tables-container" data-ng-hide="loadingTables">
            <dynamic-table data-ng-if="data.teamStats" data-source="data.teamStats"></dynamic-table>
        </div>
    </div>
</section>

