<div class="information">

    <div class="uploadLogo">
        <img data-ng-if="team.imageUrl || !team.imageUrl.length === 0" data-ng-src="{{team.imageUrl}}" class="logo" alt="logo">
        <mascot-placeholder data-ng-if="!team.imageUrl || team.imageUrl.length === 0"></mascot-placeholder>
        <form>
            <button class="btn-upload">Upload Logo <i class="icon icon-upload-alt"></i><input type="file" onchange="angular.element(this).scope().setLogo(this.files)"></button>
        </form>
    </div>

    <div class="primary-information">
        <div>
            <h4>School Name</h4>
            <input class="form-control" type="text" name="schoolName">
        </div>

        <div>
            <h4>Team Name</h4>
            <input class="form-control" type="text" name="teamName">
        </div>

        <button data-ng-click="save()" class="btn btn-primary pull-right">
            Save
        </button>
    </div>

</div>